<div
  class="colletion-product position-relative bundle-collection-product blue-coll-product"
  x-data="
    {
      qty:1
    }
  "
>
  {% assign product = card_product %}
  <form
    @submit.prevent="console.log('submitted')"
    x-ref="product_form_{{card_product.id}}"
    enctype="multipart/form-data"
    accept-charset="UTF-8"
    id="product_form_{{card_product.id}}"
    class="shopify-product-form"
    data-product-id="{{card_product.id}}"
    action="/cart/add"
  >
    <div class="product-varient-selection d-none">
      {% assign s_variant = card_product.selected_or_first_available_variant %}
      <input type="hidden" name="id" value="{{s_variant.id}}">
      <input type="checkbox" name="purchase_type" value="subscription" checked>
    </div>
    <div class="selling_plan_wrapper d-none">
      {% liquid
        if product.selected_selling_plan
          assign selected_selling_plan = product.selected_selling_plan
        else
          assign selected_selling_plan = s_variant.selling_plan_allocations.first.selling_plan
        endif
      %}

      <input type="hidden" name="selling_plan" value="{{selected_selling_plan.id}}">
    </div>
    <input type="hidden" name="quantity" value="1">
  </form>

  <div class="product-img position-relative">
    <a href="{{ card_product.url }}">
      <div class="coll-tag-wrap">
        {% for tag in card_product.tags %}
          {% if tag contains 'tag' %}
            {% assign stag = tag | split: ':' %}
            <span class="collection-tag {{ stag[1] | handleize }}">{{ stag[1] }} </span>
          {% endif %}
        {% endfor %}
      </div>
      <img
        src="{{ card_product.featured_media | image_url: width: 280, height: 200 }}"
        alt="{{ card_product.featured_media.alt | escape }}"
        class="img-responsive w-100"
        {% unless lazy_load == false %}
          loading="lazy"
        {% endunless %}
      >
    </a>
    {% assign sub_discount_price = s_variant.selling_plan_allocations[0].price_adjustments[0].price %}
    <!--
      <a href="{{ card_product.url }}"><img src="{{'product-img.png' | asset_url }}" class="img-responsive w-100"> </a>  x-on:click="Purdy.AddToCart($refs.product_form_{{card_product.id}})"
    -->
  </div>
  <a href="javascript:void(0);">
    <div class="product-detail">
      <span class="heading-4 coll-product-title value-sans">{{ card_product.title | escape }}</span>
      <div class="product-footer">
        {% render 'okendo-reviews-product-rating-summary', product: card_product %}
        <div class="d-flex justify-content-between theme-text align-items-center">
          <p class="product-price m-0">
            {% if card_product.metafields.custom.product_custom_price == blank %}
            {% if sub_discount_price %}
              {{ sub_discount_price | money }}
            {% else -%}
              {{- card_product.price | money }}
            {% endif %}
            <small
              ><del>{{ card_product.compare_at_price | money }}</del></small
            >
            {% else %}
              {{ card_product.price | money }}
            {% endif %}
          </p>
        </div>
        {% if card_product.available  %}
        <button x-on:click="Purdy.AddToCart($refs.product_form_{{ card_product.id }}, true, false, $event)" class="colletion-add btn-loader">
          Add to cart
        </button>
        {%  else  %}
          <button class="colletion-add btn-loader disabled">
          Out of Stock
        </button>
        {% endif %}
{% comment %}
        <div class="coll-bottom-line">
          <img src="{{ "blue-check.png" | asset_img_url : '24x' }}">
          <span class="blue-text value-sans">
            {{- product.metafields.custom.collection_product_desc | default: 'Counter Clean' -}}
          </span>
        </div>
      {% endcomment %}
      </div>
    </div>
  </a>
</div>
