<style>
  .annoucment_bar_timer{
    animation:none !important;
    position: sticky !important;
  top: 0 !important;
  width: 100%;
  z-index: 9999;
  }
span.timer {
  font-size: 18px !important;
  margin-left: 2px;
}

/* MOBILE STYLING */
@media(max-width:768px) {
  .ann-bar-mobile {
    display: flex;
    justify-content: center;
    align-items: center;             
  }

  .ann-bar-mobile p {
    display: flex;
    align-items: center;             
  }

  span.timer {
    font-size: 18px !important;
    margin-left: 4px;
  }
}

</style>

{% assign product = section.settings.landingproduct %}
{% assign s_variant = product.selected_or_first_available_variant %}

<div
  class="annoucment-bar annoucment-bar-reskin annoucment-bar-2 annoucment-bar-343 py-2 {{ section.settings.class }}"
  style="background-color:{{section.settings.bb-color}}"
  id="annoucment_bar_2" 
  {% if section.settings.checkout or section.settings.cart %}
    x-data="{qty:1}"
  {% endif %}
>
  <div class="container text-center">
    <div class="d-flex justify-content-between align-items-center">
      {% if section.settings.logo %}
        <div class="annoucment-bar-logo">
          <a {% if section.settings.logo_link %} href="{{ section.settings.logo_link }}" {% else %} href="javascript:void(0); {% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="148" height="26" viewBox="0 0 148 26" fill="none">
<g clip-path="url(#clip0_2817_6182)">
<path d="M0 19.1865C0.695452 19.1343 1.21726 19.0213 1.56544 18.8474C1.91296 18.6736 2.16094 18.395 2.30904 18.012C2.45641 17.6294 2.53074 17.0723 2.53074 16.3413V5.06425C2.53074 4.31629 2.45641 3.75062 2.30904 3.36765C2.16102 2.98501 1.90873 2.711 1.55218 2.54524C1.19563 2.38012 0.678536 2.27115 0 2.21874V1.56641H7.98302C9.00908 1.56641 9.96609 1.73584 10.8531 2.07527C11.7401 2.4147 12.4614 2.94114 13.0184 3.65468C13.5748 4.36845 13.8533 5.2646 13.8533 6.34345C13.8533 7.47478 13.5571 8.42334 12.9663 9.18895C12.3748 9.95489 11.6136 10.5162 10.6835 10.8726C9.75276 11.2294 8.78314 11.4077 7.77465 11.4077H5.00919V16.3414C5.00919 17.1423 5.10044 17.7295 5.28303 18.1035C5.46562 18.4778 5.78296 18.7389 6.2354 18.8867C6.68752 19.0344 7.38329 19.1345 8.32233 19.1865V19.8392H8.13299e-05V19.1865L0 19.1865ZM7.38321 10.5201C8.63529 10.5201 9.59165 10.1677 10.2529 9.46287C10.9137 8.75805 11.244 7.7098 11.244 6.3174C11.244 5.02966 10.9525 4.05514 10.3703 3.39353C9.78741 2.73257 8.86992 2.40176 7.61777 2.40176H5.00903V10.5202H7.38313L7.38321 10.5201Z" fill="{{ section.settings.logoColor }}"/>
<path d="M29.692 19.8393H25.6745V18.8997C25.6745 18.4297 25.6914 18.0557 25.7266 17.777C25.7611 17.4991 25.8395 17.1769 25.9616 16.8112L25.805 16.7853C25.5089 17.8292 24.9612 18.6516 24.1611 19.2521C23.3612 19.8523 22.4918 20.1526 21.5524 20.1526C20.3697 20.1526 19.4134 19.7916 18.6827 19.0694C17.9521 18.3474 17.5869 17.316 17.5869 15.9758V9.55433C17.5869 9.18894 17.5258 8.92356 17.4043 8.7582C17.2825 8.59275 17.087 8.48851 16.8175 8.44497C16.5476 8.40143 16.1084 8.37954 15.5 8.37954V7.701L19.2829 7.04834H19.8047V15.3756C19.8047 17.3768 20.7176 18.3776 22.544 18.3776C23.1701 18.3776 23.7612 18.1992 24.3179 17.8426C24.8743 17.4859 25.2656 17.0201 25.492 16.4458V9.55441C25.492 9.18902 25.4309 8.92364 25.3094 8.75828C25.1875 8.59284 24.9917 8.48859 24.7222 8.44505C24.4523 8.40151 24.0135 8.37962 23.4046 8.37962V7.70108L27.1875 7.04842H27.7093V17.8555C27.7093 18.3082 27.8484 18.6171 28.127 18.7822C28.4048 18.948 28.9266 19.0825 29.6921 19.1868V19.8394L29.692 19.8393Z" fill="{{ section.settings.logoColor }}"/>
<path d="M39.8639 6.83919V9.44951H39.4467C39.1682 9.2931 38.8027 9.21465 38.3509 9.21465C37.533 9.21465 36.8509 9.45846 36.3028 9.94576C35.7551 10.433 35.4812 11.1986 35.4812 12.2429V17.333C35.4812 17.8207 35.5592 18.186 35.7159 18.4295C35.8722 18.6733 36.1335 18.8469 36.4986 18.9516C36.8638 19.0559 37.4201 19.1343 38.1683 19.1864V19.8391H31.0982V19.1864C31.7242 19.1174 32.181 19.03 32.4677 18.9254C32.7549 18.8211 32.9591 18.6514 33.0809 18.4165C33.2024 18.1813 33.2635 17.8207 33.2635 17.333V9.86731C33.2635 9.4325 33.1722 9.12326 32.9896 8.94065C32.8071 8.75795 32.4894 8.66664 32.0373 8.66664L30.9156 8.71881V8.06615L34.5943 7.04809H35.1941V8.95367C35.1941 10.1023 35.1765 11.0595 35.142 11.8251H35.2987L35.5071 10.4676C35.6983 9.21465 36.1375 8.27936 36.8246 7.66161C37.5114 7.0441 38.2549 6.73486 39.0553 6.73486C39.4028 6.73486 39.6724 6.7701 39.864 6.83919" fill="{{ section.settings.logoColor }}"/>
<path d="M54.8208 19.8392H50.8033V18.8474C50.8033 18.4648 50.8205 18.1253 50.8554 17.8294C50.8903 17.5334 50.9769 17.1857 51.1163 16.7851L50.9859 16.7067C50.6032 17.8384 50.0421 18.6953 49.3033 19.2782C48.5636 19.8612 47.6638 20.1528 46.6032 20.1528C45.5944 20.1528 44.6988 19.8871 43.916 19.3564C43.1333 18.8259 42.5288 18.0995 42.103 17.1768C41.6764 16.2548 41.4636 15.2105 41.4636 14.0443C41.4636 12.6178 41.7418 11.3516 42.2985 10.2462C42.8549 9.14116 43.6333 8.27984 44.6334 7.66177C45.6332 7.04426 46.7595 6.73502 48.0119 6.73502C49.0901 6.73502 49.9594 6.96158 50.6206 7.41397V2.76722C50.6206 2.31483 50.538 1.99298 50.3727 1.80133C50.2073 1.61001 49.9162 1.51439 49.499 1.51439C49.1857 1.51439 48.6552 1.58413 47.9073 1.72329V1.14899L52.1858 0H52.8381V17.8553C52.8381 18.308 52.9772 18.617 53.2557 18.782C53.5336 18.9478 54.0554 19.0823 54.8208 19.1865V19.8392ZM50.6207 8.84942C50.0989 8.11871 49.2119 7.75299 47.9599 7.75299C46.7074 7.75299 45.7116 8.24062 44.9727 9.21481C44.2331 10.19 43.864 11.4951 43.864 13.1305C43.864 14.6969 44.1986 15.9283 44.8682 16.8243C45.5377 17.7208 46.4639 18.1689 47.6469 18.1689C48.2899 18.1689 48.8728 18.0165 49.3946 17.7119C49.9164 17.4076 50.3247 16.9855 50.6208 16.446V8.84942H50.6207Z" fill="{{ section.settings.logoColor }}"/>
<path d="M67.0631 7.04834H67.5849V19.7873C67.5849 21.7015 67.0933 23.2154 66.1108 24.3294C65.1279 25.4427 63.7669 26.0001 62.0282 26.0001C60.706 26.0001 59.5926 25.7214 58.6887 25.1647C57.7842 24.6074 57.1057 23.7897 56.6539 22.7108L57.4366 22.3454C58.1669 23.7029 59.5843 24.3815 61.6888 24.3815C62.8191 24.3815 63.7147 24.0554 64.376 23.4027C65.0366 22.75 65.3672 21.8582 65.3672 20.727V19.2131C65.3672 18.7783 65.4064 18.3867 65.4847 18.0383C65.563 17.6905 65.6802 17.2903 65.8368 16.8375L65.6802 16.7854C65.3844 17.7775 64.8453 18.5866 64.063 19.2131C63.2802 19.8395 62.4019 20.1527 61.4279 20.1527C60.1928 20.1527 59.2235 19.7786 58.5191 19.0304C57.8147 18.2824 57.4625 17.2644 57.4625 15.976V9.55449C57.4625 9.20643 57.4144 8.95001 57.3192 8.78424C57.2232 8.61912 57.0321 8.51024 56.7452 8.45807C56.4581 8.40591 56.0016 8.3797 55.3756 8.3797V7.70116L59.1582 7.0485H59.68V15.3758C59.68 16.3679 59.9104 17.1162 60.3715 17.6208C60.8322 18.1257 61.515 18.3778 62.4193 18.3778C63.0626 18.3778 63.6627 18.1951 64.2194 17.8297C64.7758 17.464 65.1589 17.0033 65.3673 16.4459V9.55449C65.3673 9.20643 65.3192 8.95001 65.2239 8.78424C65.128 8.61912 64.9372 8.51024 64.65 8.45807C64.3628 8.40591 63.9064 8.3797 63.2804 8.3797V7.70116L67.0633 7.0485L67.0631 7.04834Z" fill="{{ section.settings.logoColor }}"/>
<path d="M94.3251 17.751C94.0642 18.4126 93.6336 18.9999 93.0338 19.513C92.4337 20.0262 91.6901 20.2833 90.8031 20.2833C89.6898 20.2833 88.7162 19.8047 87.8813 18.8474L85.8203 16.4719C85.3854 17.6205 84.7331 18.5432 83.8638 19.239C82.9937 19.9349 81.9764 20.2833 80.8112 20.2833C79.8545 20.2833 78.9632 20.096 78.1374 19.7219C77.3109 19.3479 76.6457 18.7866 76.1414 18.0383C75.6368 17.2899 75.3849 16.3765 75.3849 15.297C75.3849 12.6521 76.8368 10.7117 79.7417 9.47581L79.1941 8.84935C77.9765 7.45728 77.3677 6.2217 77.3677 5.14253C77.3677 3.95944 77.7983 2.99322 78.659 2.24486C79.52 1.49682 80.7416 1.12256 82.3247 1.12256C82.9156 1.12256 83.5808 1.17074 84.3204 1.26603C85.0592 1.36198 85.6548 1.49682 86.1073 1.67057V6.1343H85.5336C84.8375 3.33298 83.6462 1.93163 81.9593 1.93163C81.1769 1.93163 80.5724 2.15819 80.1462 2.61058C79.7199 3.06329 79.5072 3.62 79.5072 4.28097C79.5072 4.71643 79.5984 5.14725 79.781 5.57335C79.9636 5.99986 80.1939 6.36948 80.4722 6.68271L88.7164 16.1586C89.4988 17.0461 90.1076 17.6333 90.5424 17.9206C90.977 18.2076 91.4902 18.3511 92.0817 18.3511C92.412 18.3511 92.7339 18.2644 93.047 18.0904C93.36 17.9166 93.612 17.6901 93.8035 17.4114L94.3253 17.7509L94.3251 17.751ZM85.4289 16.0281L80.1592 9.97173C79.3588 10.3029 78.7371 10.7639 78.2937 11.3555C77.8502 11.9474 77.6285 12.7565 77.6285 13.7832C77.6285 14.6361 77.811 15.4107 78.1761 16.1063C78.5416 16.8028 79.0502 17.3465 79.7025 17.7381C80.3547 18.1293 81.072 18.3253 81.8548 18.3253C83.3677 18.3253 84.5588 17.5597 85.4288 16.0281" fill="{{ section.settings.logoColor }}"/>
<path d="M112.572 1.56641L113.094 6.76125H112.311C111.963 5.21244 111.346 4.10308 110.459 3.43276C109.572 2.76317 108.241 2.42764 106.467 2.42764H103.363V10.0501H105.006C105.824 10.0501 106.458 9.9505 106.911 9.75014C107.363 9.55019 107.693 9.22801 107.902 8.78393C108.111 8.34049 108.258 7.72705 108.345 6.94386H109.024V14.201H108.345C108.258 13.3657 108.106 12.7259 107.889 12.2822C107.671 11.8384 107.337 11.5166 106.885 11.3163C106.432 11.1163 105.806 11.016 105.006 11.016H103.363V16.3413C103.363 17.1421 103.454 17.7337 103.637 18.1163C103.819 18.4993 104.136 18.765 104.589 18.9125C105.041 19.0606 105.737 19.152 106.676 19.1865V19.8391H98.3535V19.1865C99.0321 19.152 99.5492 19.0476 99.906 18.8736C100.262 18.6995 100.514 18.4165 100.663 18.0249C100.81 17.6333 100.884 17.0723 100.884 16.3413V5.06425C100.884 4.31621 100.81 3.74598 100.663 3.35431C100.515 2.96304 100.262 2.68472 99.906 2.51895C99.5492 2.35383 99.032 2.2539 98.3535 2.21907V1.56641H112.572Z" fill="{{ section.settings.logoColor }}"/>
<path d="M121.093 19.8393H114.545V19.1866C115.153 19.1345 115.605 19.0561 115.901 18.9519C116.197 18.8472 116.406 18.6735 116.527 18.4297C116.649 18.1862 116.71 17.8206 116.71 17.3333V9.86757C116.71 9.41519 116.619 9.09732 116.436 8.91462C116.254 8.73193 115.936 8.64062 115.484 8.64062C115.223 8.64062 114.884 8.6665 114.467 8.71899V8.06633L118.275 7.04827H118.928V17.3333C118.928 17.8382 118.988 18.2079 119.11 18.4427C119.232 18.6778 119.441 18.8472 119.736 18.9519C120.032 19.0561 120.484 19.1345 121.093 19.1866V19.8393ZM116.423 4.59436C116.093 4.26388 115.928 3.85503 115.928 3.36741C115.928 2.88052 116.093 2.47126 116.423 2.14078C116.754 1.8103 117.162 1.64453 117.649 1.64453C118.136 1.64453 118.545 1.8103 118.876 2.14078C119.206 2.47126 119.371 2.88052 119.371 3.36741C119.371 3.85495 119.206 4.26388 118.876 4.59436C118.545 4.92517 118.136 5.09029 117.649 5.09029C117.162 5.09029 116.754 4.92517 116.423 4.59436Z" fill="{{ section.settings.logoColor }}"/>
<path d="M124.925 25.1645C124.021 24.6074 123.342 23.7897 122.89 22.7109L123.673 22.3452C124.038 23.0065 124.556 23.511 125.225 23.8591C125.895 24.2071 126.673 24.3812 127.56 24.3812C128.743 24.3812 129.695 24.0507 130.417 23.3894C131.138 22.7278 131.5 21.8403 131.5 20.7266V19.5522C131.5 19.0822 131.534 18.6646 131.604 18.2993C131.673 17.9335 131.804 17.4291 131.995 16.7849L131.838 16.7066C131.543 17.7508 131.004 18.5862 130.221 19.2127C129.438 19.8391 128.534 20.1527 127.508 20.1527C126.534 20.1527 125.656 19.8956 124.873 19.3824C124.09 18.8692 123.473 18.1601 123.021 17.255C122.568 16.3502 122.342 15.3322 122.342 14.2009C122.342 12.7391 122.625 11.4427 123.19 10.3112C123.755 9.18015 124.551 8.30133 125.577 7.67455C126.603 7.04809 127.777 6.73486 129.099 6.73486C131.064 6.73486 132.604 7.17032 133.717 8.04019V20.1264C133.717 21.2922 133.491 22.3192 133.039 23.2067C132.586 24.0943 131.947 24.7814 131.121 25.2691C130.295 25.7559 129.342 25.9998 128.264 25.9998C126.943 25.9998 125.829 25.7214 124.925 25.1644M130.234 17.8814C130.782 17.5509 131.203 17.0636 131.5 16.4196V9.37139C131.308 8.93658 130.947 8.57957 130.417 8.30117C129.886 8.02285 129.317 7.88337 128.708 7.88337C127.473 7.88337 126.503 8.36237 125.799 9.31922C125.095 10.2765 124.742 11.6078 124.742 13.313C124.742 14.8794 125.055 16.1154 125.682 17.0198C126.308 17.9252 127.16 18.3773 128.239 18.3773C129.021 18.3773 129.686 18.2122 130.234 17.8814Z" fill="{{ section.settings.logoColor }}"/>
<path d="M139.11 25.1645C138.205 24.6074 137.527 23.7897 137.075 22.7109L137.857 22.3452C138.223 23.0065 138.74 23.511 139.41 23.8591C140.079 24.2071 140.858 24.3812 141.745 24.3812C142.927 24.3812 143.879 24.0507 144.601 23.3894C145.323 22.7278 145.684 21.8403 145.684 20.7266V19.5522C145.684 19.0822 145.719 18.6646 145.788 18.2993C145.858 17.9335 145.988 17.4291 146.18 16.7849L146.023 16.7066C145.727 17.7508 145.188 18.5862 144.406 19.2127C143.623 19.8391 142.718 20.1527 141.692 20.1527C140.718 20.1527 139.84 19.8956 139.057 19.3824C138.275 18.8692 137.657 18.1601 137.205 17.255C136.753 16.3502 136.527 15.3322 136.527 14.2009C136.527 12.7391 136.809 11.4427 137.375 10.3112C137.94 9.18015 138.735 8.30133 139.762 7.67455C140.788 7.04809 141.962 6.73486 143.284 6.73486C145.249 6.73486 146.788 7.17032 147.902 8.04019V20.1264C147.902 21.2922 147.675 22.3192 147.223 23.2067C146.771 24.0943 146.132 24.7814 145.306 25.2691C144.479 25.7559 143.527 25.9998 142.449 25.9998C141.127 25.9998 140.014 25.7214 139.11 25.1644M144.419 17.8814C144.966 17.5509 145.388 17.0636 145.684 16.4196V9.37139C145.492 8.93658 145.132 8.57957 144.601 8.30117C144.07 8.02285 143.501 7.88337 142.892 7.88337C141.657 7.88337 140.688 8.36237 139.984 9.31922C139.279 10.2765 138.927 11.6078 138.927 13.313C138.927 14.8794 139.24 16.1154 139.866 17.0198C140.492 17.9252 141.345 18.3773 142.423 18.3773C143.205 18.3773 143.871 18.2122 144.419 17.8814Z" fill="{{ section.settings.logoColor }}"/>
</g>
<defs>
<clipPath id="clip0_2817_6182">
<rect width="147.902" height="26" fill="{{ section.settings.logoColor }}"/>
</clipPath>
</defs>
</svg>
          </a>
        </div>
      {% endif %}
      
      <div class="ann-bar-text-2">
        <p class="m-0 font-lausanne fw-400" style="color:{{section.settings.text-color}};">
          {{ section.settings.text }} 
          <span class="timer" 
            data-time="{{ section.settings.end_date }}"
            data-auto-reset="{{ section.settings.auto_reset }}"
            data-reset-duration="{{ section.settings.reset_duration_days }}"
            data-max-cycles="{{ section.settings.max_cycles }}">
            <span class="timer-loading">Loading...</span>
          </span>
        </p>
      </div>
      {% if section.settings.cart %}
<div>
      <li @click="$dispatch('toggle-cart')">
            <a class="menu-item cart-toggle position-relative header-icon">
              <i style="font-size:28px; color:#121212" class="fa-light fa-cart-shopping"></i>
              <span class="cart-item-count">
                {%- if cart.item_count > 0 %}
                  {{ cart.item_count -}}
                {%- endif -%}
              </span></a
            >
          </li>
      </div>
      {% else %}
      <div>
        <form
          @submit.prevent="console.log('submitted')"
          x-ref="product_form_{{ section.index}}"
          enctype="multipart/form-data"
          accept-charset="UTF-8"
          id="product_form_{{ section.index}}"
          class="shopify-product-form"
          data-product-id="{{product.id}}"
          action="/cart/add"
        >
          <input type="hidden" name="id" class="input_variant_id" value="{{ section.settings.varaiantid }}">
          <input type="hidden" class="discout_input" name="discount" value="{{ section.settings.discount }}">
          <input type="hidden" name="quantity" value="1">
          {% if section.settings.sellingid != blank %}  
            <input type="checkbox" name="purchase_type" value="subscription" checked class="d-none">
            <input
              class="input_selling_plan"
              type="hidden"
              name="selling_plan"
              value="{{section.settings.sellingid}}"
            >
          {% endif %}
        </form>
        
        <span
          style="cursor:pointer; color:{{ section.settings.btn-text }}; background-color:{{ section.settings.btn-bg }}"
          {% unless section.settings.checkout %}
            data-target="{{ section.settings.scrollto }}"
          {% endunless %}
          data-top="{{ section.settings.top }}"
          class="announcement-btn-2 font-lausanne reskin-black-btn fw-400 {% unless section.settings.checkout %}click-scroll{% endunless %}"
          {% if section.settings.dataTrack %}
            data-tracked="true"
            data-page-url="{{ request.path }}"
            data-target-url="{{ section.settings.targetUrl }}"
            data-index="{{ section.settings.index }}"
            data-funnel-stage="{{ section.settings.funnel_stage }}"
            data-module="{{ section.settings.dataModule }}"
            data-event-label="{{ section.settings.annuText | strip_html  | handle | replace: '-', '_'}}"
            data-event-value="{{ section.settings.eventValue }}"
            data-item-id="{{ section.settings.itemId }}"
            data-option-index="{{ section.settings.optionIndex }}"
            data-item-name="{{ section.settings.ItemName }}"
          {% endif %}
          {% if section.settings.checkout %}
            x-on:click="Purdy.CheckoutLanding($refs.product_form_{{ section.index}}, event)"
          {% endif %}
        >
          {{ section.settings.annuText -}}
        </span>
      </div>
   
    {% endif %}
    </div>
  </div>
</div>

<!-- Mobile announcement bar -->
<div class="ann-bar-mobile ann-bar-text-2 desktop-hide text-center white-text py-1" 
     style="background-color:{{ section.settings.bb-color-mobile }}; height:{{ section.settings.heightmobile }}px;">
  <p class="m-0 font-lausanne fw-400" style="color:{{section.settings.text-color-mobile}};">
    {{ section.settings.textmobile }} 
    <span class="timer" 
      data-time="{{ section.settings.end_date }}"
      data-auto-reset="{{ section.settings.auto_reset }}"
      data-reset-duration="{{ section.settings.reset_duration_days }}"
      data-max-cycles="{{ section.settings.max_cycles }}">
      <span class="timer-loading">Loading...</span>
    </span>
  </p>
</div>

<script>
(function() {
  'use strict';
  
  // Namespace to avoid conflicts with other scripts
  window.PurdyTimers = window.PurdyTimers || {};
  
  // Store active intervals to prevent memory leaks
  if (!window.PurdyTimers.intervals) {
    window.PurdyTimers.intervals = new Map();
  }
  
  // Clean up function to clear existing intervals
  function cleanupTimers() {
    if (window.PurdyTimers.intervals) {
      window.PurdyTimers.intervals.forEach(interval => {
        if (interval) clearInterval(interval);
      });
      window.PurdyTimers.intervals.clear();
    }
  }
  
  function startCountdownForElement(el, endTimeStr) {
    // Clean up any existing interval for this element
    const elementId = el.getAttribute('data-timer-id') || Math.random().toString(36).substr(2, 9);
    el.setAttribute('data-timer-id', elementId);
    
    if (window.PurdyTimers.intervals.has(elementId)) {
      clearInterval(window.PurdyTimers.intervals.get(elementId));
    }
    
    try {
      const autoReset = el.getAttribute('data-auto-reset') === 'true';
      const resetDuration = parseInt(el.getAttribute('data-reset-duration')) || 7;
      const maxCycles = parseInt(el.getAttribute('data-max-cycles')) || 0;
      
      // Validate inputs
      if (resetDuration <= 0) {
        console.error('Invalid reset duration:', resetDuration);
        el.textContent = "Configuration Error";
        return;
      }
      
function calculateEndTime() {
  // Parse the date 
  let originalEnd;
  try {
    // Handle different date formats and force UK timezone (GMT)
    const dateStr = endTimeStr.trim().replace(' ', 'T');
    // Append +00:00 to force GMT (UK winter time) if no timezone specified
    const ukDateStr = dateStr.includes('+') || dateStr.includes('Z') ? dateStr : dateStr + '+00:00';
    originalEnd = new Date(ukDateStr);
    
    // Check if date is valid
    if (isNaN(originalEnd.getTime())) {
      console.error('Invalid date format:', endTimeStr);
      return null;
    }
  } catch (e) {
    console.error('Date parsing error:', e);
    return null;
  }
        
        if (!autoReset) {
          return originalEnd;
        }
        
        const now = new Date().getTime();
        
        // If original time hasn't passed yet, use it
        if (originalEnd.getTime() > now) {
          return originalEnd;
        }
        
        // Calculate how many cycles have passed
        const millisecondsSinceEnd = now - originalEnd.getTime();
        const daysSinceEnd = Math.floor(millisecondsSinceEnd / (1000 * 60 * 60 * 24));
        const cyclesPassed = Math.floor(daysSinceEnd / resetDuration);
        
        // Check if exceeded max cycles (if set)
        if (maxCycles > 0 && cyclesPassed >= maxCycles) {
          return null; // No more cycles
        }
        
        // Calculate next end time
        const nextCycle = cyclesPassed + 1;
        const daysToAdd = nextCycle * resetDuration;
        const newEndTime = new Date(originalEnd.getTime() + (daysToAdd * 24 * 60 * 60 * 1000));
        
        return newEndTime;
      }
      
      let endTime = calculateEndTime();
      
      if (!endTime) {
        el.textContent = "Expired";
        return;
      }
      
      // Update function
      function updateTimer() {
        // Check if element is still in DOM
        if (!document.body.contains(el)) {
          if (window.PurdyTimers.intervals.has(elementId)) {
            clearInterval(window.PurdyTimers.intervals.get(elementId));
            window.PurdyTimers.intervals.delete(elementId);
          }
          return;
        }
        
        const now = new Date().getTime();
        const timeLeft = endTime - now;
        
        if (timeLeft <= 0) {
          if (autoReset) {
            // Recalculate end time for next cycle
            endTime = calculateEndTime();
            
            if (!endTime) {
              clearInterval(window.PurdyTimers.intervals.get(elementId));
              window.PurdyTimers.intervals.delete(elementId);
              el.textContent = "Expired";
              return;
            }
            // Continue with new end time
          } else {
            clearInterval(window.PurdyTimers.intervals.get(elementId));
            window.PurdyTimers.intervals.delete(elementId);
            el.textContent = "0s";
            return;
          }
        }
        
        const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
        const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
        
        // Build time string dynamically, only showing non-zero values
        const timeParts = [];
        
        if (days > 0) {
          timeParts.push(`${days}d`);
        }
        if (hours > 0) {
          timeParts.push(`${hours}h`);
        }
        if (minutes > 0) {
          timeParts.push(`${minutes}m`);
        }
        // Always show seconds if it's the only unit left, or if there are other units with value
        if (seconds > 0 || timeParts.length === 0) {
          timeParts.push(`${seconds}s`);
        }
        
        const formattedTime = timeParts.join(' ');
        
        // Only update if changed to reduce DOM operations
        if (el.textContent !== formattedTime) {
          el.textContent = formattedTime;
        }
      }
      
      // Initial update
      updateTimer();
      
      // Set up interval
      const interval = setInterval(updateTimer, 1000);
      window.PurdyTimers.intervals.set(elementId, interval);
      
    } catch (error) {
      console.error('Timer initialization error:', error);
      el.textContent = "Error";
    }
  }
  
  // Initialize all timers
  function initializeTimers() {
    // Clean up any existing timers first
    cleanupTimers();
    
    // Find all timer elements
    const timerElements = document.querySelectorAll('.timer');
    
    timerElements.forEach(timerEl => {
      const endTime = timerEl.getAttribute('data-time');
      if (endTime) {
        // Remove loading text if present
        const loadingSpan = timerEl.querySelector('.timer-loading');
        if (loadingSpan) {
          loadingSpan.remove();
        }
        
        startCountdownForElement(timerEl, endTime);
      } else {
        timerEl.textContent = "No end time configured";
      }
    });
  }
  
  // Handle visibility change to pause/resume timers
  document.addEventListener('visibilitychange', function() {
    if (document.hidden) {
      // Page is hidden, clear intervals to save resources
      cleanupTimers();
    } else {
      // Page is visible again, reinitialize timers
      setTimeout(initializeTimers, 100); // Small delay to ensure smooth restart
    }
  });
  
  // Clean up on page unload
  window.addEventListener('beforeunload', cleanupTimers);
  
  // Initialize when DOM is ready
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', initializeTimers);
  } else {
    // DOM is already ready
    initializeTimers();
  }
  
  // Reinitialize if Shopify theme editor reloads section
  if (Shopify && Shopify.designMode) {
    document.addEventListener('shopify:section:load', function(event) {
      setTimeout(initializeTimers, 100);
    });
  }
  
})();
</script>

{% schema %}
{
  "name": "Announcement Bar Timer",
  "class": "annoucment_bar_timer",
  "settings": [
    {
      "type": "text",
      "id": "class",
      "label": "Add Class"
    },
    {
      "type": "checkbox",
      "id": "cart",
      "label": "Show Cart"
    },
    {
      "type": "text",
      "id": "end_date",
      "label": "Countdown End Date and Time (YYYY-MM-DD HH:MM:SS)",
      "default": "2024-11-06 23:59:59",
      "info": "The date/time when the first countdown ends. Use 24-hour format."
    },
    {
      "type": "checkbox",
      "id": "auto_reset",
      "label": "Enable Auto-Reset",
      "default": false,
      "info": "Automatically restart the countdown when it reaches zero"
    },
    {
      "type": "number",
      "id": "reset_duration_days",
      "label": "Reset Every X Days",
      "default": 7,
      "info": "Number of days for each countdown cycle (minimum: 1)"
    },
    {
      "type": "number",
      "id": "max_cycles",
      "label": "Number of Cycles (0 = unlimited)",
      "default": 0,
      "info": "How many times to repeat. 0 for unlimited cycles"
    },
    {
      "type": "color",
      "id": "logoColor",
      "label": "Logo Colour",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "bb-color",
      "default": "#CB3C8E",
      "label": "BG Colour"
    },
    {
      "type": "color",
      "id": "bb-color-mobile",
      "default": "#CB3C8E",
      "label": "BG Mobile"
    },
    {
      "type": "color",
      "id": "text-color",
      "default": "#212121",
      "label": "Text Colour"
    },
    {
      "type": "color",
      "id": "text-color-mobile",
      "default": "#212121",
      "label": "Text Colour Mobile"
    },
    {
      "type": "html",
      "id": "text",
      "default": "Welcome to our store",
      "label": "Desktop Text"
    },
    {
      "type": "html",
      "id": "textmobile",
      "default": "Welcome to our store",
      "label": "Mobile Text"
    },
    {
      "type": "number",
      "id": "heightmobile",
      "default": 37,
      "label": "Height in px Mobile"
    },
    {
      "type": "text",
      "id": "scrollto",
      "label": "Scroll to section id",
      "default": "starterkit-product"
    },
    {
      "type": "color",
      "id": "btn-bg",
      "default": "#CB3C8E",
      "label": "Button Background Colour"
    },
    {
      "type": "color",
      "id": "btn-text",
      "default": "#fff",
      "label": "Button text Colour"
    },
    {
      "type": "text",
      "id": "annuText",
      "label": "Button Text",
      "default": "Click Here"
    },
    {
      "type": "text",
      "id": "top",
      "label": "On scroll top position",
      "default": "0"
    },
    {
      "type": "checkbox",
      "id": "checkout",
      "label": "Enable Direct Checkout",
      "default": false
    },
    {
      "type": "product",
      "id": "landingproduct",
      "label": "Choose product"
    },
    {
      "type": "text",
      "id": "discount",
      "label": "Discount code"
    },
    {
      "type": "text",
      "id": "varaiantid",
      "label": "Variant ID"
    },
    {
      "type": "text",
      "id": "sellingid",
      "label": "Selling plan ID (for subscriptions)"
    },
    {
      "type": "checkbox",
      "id": "logo",
      "label": "Show logo",
      "default": true
    },
    {
      "type": "text",
      "id": "logo_link",
      "label": "logo link to take to",
      "default": "javascript:void(0);"
    },
    {
      "type": "header",
      "content": "GA4 Tracking"
    },
    {
      "id": "dataTrack",
      "label": "Enable GA4 Tracking",
      "type": "checkbox"
    },
    {
      "id": "targetUrl",
      "label": "Target URL",
      "type": "url"
    },
    {
      "id": "index",
      "label": "Index",
      "type": "number",
      "default": 0
    },
    {
      "id": "funnel_stage",
      "label": "Funnel Stage",
      "type": "text",
      "default": "landing_page"
    },
    {
      "id": "dataModule",
      "label": "Module",
      "type": "text",
      "default": "announcement_bar"
    },
    {
      "id": "eventValue",
      "label": "Event Value",
      "type": "text",
      "default": "shop_anchor"
    },
    {
      "id": "itemId",
      "label": "Item ID",
      "type": "text"
    },
    {
      "id": "optionIndex",
      "label": "Option Index",
      "type": "text"
    },
    {
      "id": "ItemName",
      "label": "Item Name",
      "type": "text"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar Timer"
    }
  ]
}
{% endschema %}
