<style>
  {%- assign DimageURL = section.settings.desktopimage | img_url:"1900x" -%}
  {%- assign MimageURL = section.settings.mobileimage | img_url:"768x" -%}
  {%- assign MMimageURL = section.settings.mobileimage | img_url:"500x" -%}
  .banner-3{{ section.id }} .banner-inner-container{padding:65px 15px;}
  .banner-3{
    height:656px;
  }
  .banner3-points ul{
    margin:0;
    padding:0;
    list-style:none;
  }
  .banner3-points li.banner3-point{
    background-image:url('https://cdn.shopify.com/s/files/1/0360/1347/3931/files/check-cricle.png?v=1710738687');
    background-repeat:no-repeat;
    padding:5px 0 3px 25px;
    background-size:17px 17px;
    background-position:left 6px;
    font-size:17px
  }
  @media(min-width:768px){
    
  .banner-3{{ section.id }}{background-image:url({{DimageURL}});
    background-size:cover;
    background-position:center;
    }
    .banner3-points li.banner3-point{font-size:15px;}

  }
    @media(max-width:768px){
    .banner-3{{ section.id }} .banner-inner-container{padding:0;}
  .banner-3{{ section.id }}{background-image:url({{MimageURL}});
    background-size:cover;background-position:top right;}
  }
    @media(max-width:560px){
                            .banner-3{{ section.id }}{
    height:680px !important;
  }
    .banner-3 .banner-2-btn{margin:10px 0 !important;}
    .banner-3 .heading-2{margin-bottom:0 !important;}
    }
     @media(max-width:400px){
  .banner-3{{ section.id }}{background-image:url({{MMimageURL}})}
  }
  .btn-subtext {
    text-align: center;
    font-family: "Value-Bold";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin-top: 8px;
  }
</style>

<div
  class="pt-5 position-relative banner-3 banner-3{{ section.id }} {{ section.settings.className }}"
>
  <div class="">
    <div class="banner-inner-container">
      <div class="d-flex justify-content-between flex-wrap">
        <div class="lander-banner-details white-bg">
          <h2 class="heading-2 value-bold" style="color:#2D469E">{{ section.settings.title }}</h2>
          <div class="white-text value-sans py-2">
            <h3 class="mt-0 value-medium sub-text" style="color:#434448">{{ section.settings.subtext }}</h3>
          </div>

          <div class="banner3-points">
            <ul>
              {% for block in section.blocks %}
                <li class="banner3-point value-sans">{{ block.settings.text }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class=" mt-3 banner-2-btn mb-4">
            <a
              {% if section.settings.dataTrack %}
                {% render 'ga4-events' %}
              {% endif %}
              {% if section.settings.scrollto != '' %}
                data-target="{{ section.settings.scrollto }}"
                data-top="{{ section.settings.top }}"
              {% endif -%}

              href="javascript:void(0);"

              class="btn w-100 btn-loader blue-btn value-sans checkout-banner-btn {% if section.settings.scrollto !='' %}click-scroll{% endif %} {% if section.settings.outOfStock %} bb-disable {% endif %}"
              style="background-color:#2D469E"
            >
              {{ section.settings.btnText -}}</a
            ><br>
            {% if section.settings.btn_subtext != "" %}
              <div class="btn-subtext">
                {{ section.settings.btn_subtext }}
              </div>
            {% endif %}
          </div>
          <div class="d-grid banner-2-reviews">
            <div class="">
              <img
                width="160"
                height="50"
                class="img-responsive h-auto"
                src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/Avatars.png?v=1700115459"
                alt="person"
              >
            </div>
            <div class="text-left ms-2">
              <div class="font-pier theme-text mt-0 stars-img-review">
                <span class="star-img">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                    <defs><style>.cls-1{fill:#2D469E;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                  </svg>
                </span>
                <span class="star-img">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                    <defs><style>.cls-1{fill:#2D469E;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                  </svg>
                </span>
                <span class="star-img">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                    <defs><style>.cls-1{fill:#2D469E;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                  </svg>
                </span>
                <span class="star-img">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                    <defs><style>.cls-1{fill:#2D469E;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                  </svg>
                </span>
                <span class="star-img">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                    <defs><style>.cls-1{fill:#2D469E;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                  </svg>
                </span>
                <span class="total-reviews value-bold" style="color:#2D469E">4.9</span>
              </div>
              <div class="value-medium customers-reviews" style="color:#161718">{{ section.settings.review_count }} reviews</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner 5",
  "settings": [

    {
      "id": "className",
      "label": "Section Class",
      "type": "text"
    },

    {
      "id": "desktopimage",
      "label": "Desktop Image",
      "type": "image_picker"
    },
	{
      "id": "mobileimage",
      "label": "Mobile Image",
      "type": "image_picker"
    },

	{
      "id": "title",
      "label": "Banner Title",
      "type": "html"
    },

	{
      "id": "subtext",
      "label": "Banner Sub Text",
      "type": "html"
    },

{
      "id": "btnText",
      "label": "Button Label",
      "type": "text",
	  "default" : "BUY NOW"
	},
    {
      "id": "review_count",
      "label": "Number of reviews",
      "type": "text",
      "default": "7,000+"
    },
    {
      "id": "btn_subtext",
      "label": "Button Subtext",
      "type": "text"
    },
    {
  "id": "scrollto",
  "label":"Scroll to ID",
  "type": "text",
      "default":"javascript:void(0);"
},
    {
          "type": "text",
          "id": "top",
          "label": "On scroll top position",
          "default": "0"
      },
    {
    "type": "header",
    "content": "GA4"
  },
    {
"id": "dataTrack",
"label":"Data Track",
"type": "checkbox"
    },
    {
"id": "targetUrl",
"label":"Target Url",
"type": "url"
    },
    {
"id": "index",
"label":"Index",
"type": "number",
"default" : 0
    },
    {
"id": "funnel_stage",
"label":"Funnel Stage",
"type": "text",
 "default" : "landing_page"
    },
    {
"id": "dataModule",
"label":"Module",
"type": "text",
 "default" : "announcement_bar"
    },
      {
"id": "dataTitle",
"label":"Event Label",
"type": "text",
"default": "get_your_offer"
    }
    ,
      {
"id": "eventValue",
"label":"Event Value",
"type": "text",
"default" : "shop_anchor"
    },
      {
"id": "itemId",
"label":"Item Id",
"type": "text"
    }
    ,
      {
"id": "optionIndex",
"label":"Option Index",
"type": "text"
    }
    ,
      {
"id": "ItemName",
"label":"Item Name",
"type": "text"
    }
  ],
"blocks": [
      {
        "type": "text",
        "name": "Points",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Points"
          }

        ]
      }
	],
  "presets": [
		{
			"name": "Banner 5"
		}
	]
}
{% endschema %}
