<style>
	.link-to-variant {
		height: 0;
		overflow: hidden;
		position: relative;
	}
	.link-to-variant.show {
		display: block !important;
		height: auto;
		margin-top: 4px;
		margin-bottom: 4px;
		overflow: visible;
	}
	.variant-badge {
		position: absolute;
		right: 8.5px;
		top: -10px;
		border-radius: 4px;
		background: #708480;
		color: #fff;
		font-size: 12px;
		padding: 2px 6px;
		z-index: 1;
	}
	.checkout-starterkit-btn {
		background: #11322C !important;
		gap: 4px;
	}
	.worth del {
		font-weight: 400;
		color: #9E9E9E;
	}
	.mbestplan {
		border-top-color: #E55829 !important;
	}
	.mbestvalue {
		background: #E55829;
	}
	.buy--plan input:checked + label, .ms-buy--plan input:checked + label {
		border-top-color: #11322c !important;
	}
	.srt-desc {
		font-weight: 200;
	}
	span.deleted-price, span.gp--sell-price {
		position: relative;
		top: 1px !important;
	}
	.choose-secnt-label {
		font-size: 16px;
	}
	.buy--plan label .link-to-variant {
		font-size: 16px;
		font-weight: 400 !important;
	}
	.gp-19-var-short-desc:not(.show),
	.shopify-product-form:not(.show) {
		display: none !important;
	}
  .unsright {
    margin-right: 4px;
  }

	@media (max-width: 768px) {
		.variant-badge {
			font-size: 10px;
		}
		span.deleted-price, span.gp--sell-price {
			top: 2px !important;
		}
		#id_{{ section.id }} .star-img{width:12px; height:12px;vertical-align:middle;}
		#id_{{ section.id }} .star-img svg{vertical-align:top;}
		#id_{{ section.id }} .star-img + span.font-lausanne.fw-400{font-size:12px !important;vertical-align:middle;}
		
		.buy--plan label .link-to-variant {
			font-size: 12px;
		}
		.buy-block-text span {
			font-size: 14px;
		}
		.choose-secnt-label {
			font-size: 14px;
		}
		.gp-19-var-short-desc {
			font-size: 14px;
			margin: 8px 0 8px 0 !important;
		}
		.gp-5-bottom {
			padding: 0px 0px 0px 0px;
		}
		.heading-3 {
			font-size: 24px !important;
		}
	}
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var sourceElement = document.querySelector('.link-to-section');
    if (sourceElement) {
      var sourceId = sourceElement.id;
      var targetElements = document.querySelectorAll('.set-buybox-id');
      targetElements.forEach(function (el) {
        el.id = sourceId;
      });
    }
  });

  const freevariantID1 = '{{ section.settings.variant_id_free_1 }}';
  const freesku1 = '{{ section.settings.sku_free_1 }}';

  const freevariantID2 = '{{ section.settings.variant_id_free_2 }}';
  const freesku2 = '{{ section.settings.sku_free_2 }}';

  /* function to add the product to cart */
  const additemstocart = (form, event) => {
    event.preventDefault();

    const targetBTN = $(event.target);
    targetBTN.addClass('loading');

    fetch(window.Shopify.routes.root + 'cart.js')
      .then((response) => response.json())
      .then((cart) => {
        let allDiscounts = new Set();
        cart.items.forEach((item) => {
          item.discounts.forEach((discountItem) => {
            allDiscounts.add(discountItem.title);
          });
        });
        let discountsString = Array.from(allDiscounts).join(',');

        const additemtocart = (data) => {
          return fetch(window.Shopify.routes.root + 'cart/add.js', {
            method: 'POST',
            body: data,
          }).then((response) => response.json());
        };

        let formData;
        let discount;
        const formclasses = form.classList;
        if (formclasses.contains('form_s1')) {
          signatureCounterCleanID = '{{ section.settings.variant_id_1 }}';

          if (form.querySelector('input[name="id"]').value == signatureCounterCleanID) {
            formData = new FormData(form);

            const discount1 = form.querySelector('input[name="discount"]').value;
            if (discountsString && discount1 !== discountsString) {
              if (discount1) {
                if (
                  !discountsString.includes(discount1) &&
                  !discountsString.includes('{{ section.settings.discountPlan_1 }}')
                ) {
                  discountsString = discount1 + ',' + discountsString;
                }
              }
            } else {
              discountsString = discount1;
            }
          } else {
            formData = new FormData();

            const ccID = '{{ section.settings.variant_id_cc_1 }}';
            const ccSKU = '{{ section.settings.sku_cc_1 }}';
            const ccSellingPlan = '{{ section.settings.selling_plan_cc_1 }}';
            const dataItemType = ccSellingPlan ? 'subscription' : 'payg';

            formData.append(`items[0][id]`, ccID);
            formData.append(`items[0][quantity]`, 1);
            if (dataItemType == 'subscription') {
              formData.append(`items[0][purchase_type]`, dataItemType);
              formData.append(`items[0][selling_plan]`, ccSellingPlan);
            }

            formData.append(`items[1][id]`, form.querySelector('input[name="id"]').value);
            formData.append(`items[1][quantity]`, form.querySelector('input[name="quantity"]').value);
            if (form.querySelector('input[name="purchase_type"]').value == 'subscription') {
              formData.append(`items[1][purchase_type]`, form.querySelector('input[name="purchase_type"]').value);
              formData.append(`items[1][selling_plan]`, form.querySelector('input[name="selling_plan"]').value);
            }

            formData.append(`items[2][id]`, freevariantID1);
            formData.append(`items[2][quantity]`, 1);

            {% comment %} if (discountsString) {
              if (discountsString.includes('{{ section.settings.discountPlan_2 }}')) {
                let discountsArray = discountsString
                  .split(',')
                  .filter((d) => d !== '{{ section.settings.discountPlan_2 }}');
                discountsString = discountsArray.join(',');
              }

              discountsString = form.querySelector('input[name="discount"]').value + ',' + discountsString;
            } else {
              discountsString = form.querySelector('input[name="discount"]').value;
            } {% endcomment %}
          }
        } else {
          seasonalCounterCleanID = '{{ section.settings.variant_id_4 }}';

          if (form.querySelector('input[name="id"]').value == seasonalCounterCleanID) {
            formData = new FormData(form);

            const discount1 = form.querySelector('input[name="discount"]').value;
            if (discountsString && discount1 !== discountsString) {
              if (discount1) {
                if (
                  !discountsString.includes(discount1) &&
                  !discountsString.includes('{{ section.settings.discountPlan_4 }}')
                ) {
                  discountsString = discount1 + ',' + discountsString;
                }
              }
            } else {
              discountsString = discount1;
            }
          } else {
            formData = new FormData();

            const ccID = '{{ section.settings.variant_id_cc_2 }}';
            const ccSKU = '{{ section.settings.sku_cc_2 }}';
            const ccSellingPlan = '{{ section.settings.selling_plan_cc_2 }}';
            const dataItemType = ccSellingPlan ? 'subscription' : 'payg';

            formData.append(`items[0][id]`, ccID);
            formData.append(`items[0][quantity]`, 1);
            if (dataItemType == 'subscription') {
              formData.append(`items[0][purchase_type]`, dataItemType);
              formData.append(`items[0][selling_plan]`, ccSellingPlan);
            }

            formData.append(`items[1][id]`, form.querySelector('input[name="id"]').value);
            formData.append(`items[1][quantity]`, form.querySelector('input[name="quantity"]').value);
            if (form.querySelector('input[name="purchase_type"]').value == 'subscription') {
              formData.append(`items[1][purchase_type]`, form.querySelector('input[name="purchase_type"]').value);
              formData.append(`items[1][selling_plan]`, form.querySelector('input[name="selling_plan"]').value);
            }

            formData.append(`items[2][id]`, freevariantID2);
            formData.append(`items[2][quantity]`, 1);

            {% comment %} if (discountsString) {
              if (discountsString.includes('{{ section.settings.discountPlan_5 }}')) {
                let discountsArray = discountsString
                  .split(',')
                  .filter((d) => d !== '{{ section.settings.discountPlan_5 }}');
                discountsString = discountsArray.join(',');
              }

              discountsString = form.querySelector('input[name="discount"]').value + ',' + discountsString;
            } else {
              discountsString = form.querySelector('input[name="discount"]').value;
            } {% endcomment %}
          }
        }

        discount = discountsString;

        additemtocart(formData)
          .then((response) => {
            if (response.status === 'error') {
              throw new Error(response.message);
            }

            targetBTN.removeClass('loading');

            if (discount) {
              window.location.href = window.Shopify.routes.root + 'checkout?discount=' + encodeURIComponent(discount);
            } else {
              window.location.href = window.Shopify.routes.root + 'checkout';
            }
          })
          .catch((error) => {
            targetBTN.removeClass('loading');
            console.error('Error:', error);
          });
      });
  };
</script>

<div
  class="{{ section.settings.className }} gp--product-wrapper py-80"
  id="id_{{ section.id }}"
  style="background-color:{{section.settings.background}};"
  x-data="{qty:1}"
>
  <div class="position-relative">
    <div class=" mb-4 container heading-2-wrapper">
      {% if section.settings.mainheading != '' %}
        <h2 style="color:#3350B4" class="heading-2 font-gtsuper fw-400 mt-0 text-center  m-text-left">
          {{ section.settings.mainheading }}
        </h2>
      {% endif %}
    </div>
    {% if section.settings['before-mobile'] %}
      <div class="mb-2 container">
        <div class="gp-5-top  desktop-hide ">
          <h2 class="heading-3 font-lausanne fw-600 mb-0 mt-0">
            {{ section.settings.heading }}
          </h2>
          {% if section.settings.mainsubheading != '' -%}
            <p class=" mt-1 mb-1 font-lausanne fw-300" style="color:#212121;">
              {{ section.settings.mainsubheading }}
            </p>
          {%- endif %}
          <div class="text-left mt-2 reviews-scroll-block">
            <div
              class=" theme-text mt-0 mb-2 stars-img-review click-scroll"
              data-target="{{ section.settings.scrollto }}"
            >
              <span class="star-img">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                  <defs>
                      <style>
                          .clas-2 {
                              fill: #212121;
                          }
                      </style>
                  </defs>
                  <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                          <path class="clas-2"
                              d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z" />
                      </g>
                  </g>
                </svg>
              </span>
              <span class="star-img">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                  <defs>
                      <style>
                          .clas-2 {
                              fill: #212121;
                          }
                      </style>
                  </defs>
                  <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                          <path class="clas-2"
                              d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z" />
                      </g>
                  </g>
                </svg>
              </span>
              <span class="star-img">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                  <defs>
                      <style>
                          .clas-2 {
                              fill: #212121;
                          }
                      </style>
                  </defs>
                  <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                          <path class="clas-2"
                              d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z" />
                      </g>
                  </g>
                </svg>
              </span>
              <span class="star-img">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                  <defs>
                      <style>
                          .clas-2 {
                              fill: #212121;
                          }
                      </style>
                  </defs>
                  <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                          <path class="clas-2"
                              d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z" />
                      </g>
                  </g>
                </svg>
              </span>
              <span class="star-img">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                  <defs>
                      <style>
                          .clas-2 {
                              fill: #212121;
                          }
                      </style>
                  </defs>
                  <g id="Layer_2" data-name="Layer 2">
                      <g id="Layer_1-2" data-name="Layer 1">
                          <path class="clas-2"
                              d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z" />
                      </g>
                  </g>
                </svg>
              </span>
              <span class="font-lausanne fw-400" style="color:#212121; font-size:14px; font-weight:400;">
                {{- settings.gloabalreviews }} verified 5-star reviews</span
              >
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="d-flex product-block-4-wrapper flex-wrap justify-content-between align-items-start container">
      <div class="w-50 gp--product-gallery" id="{{ section.settings.scrollId }}">
        <div class="position-relative">
          {% assign mediacount = 0 %}
          <div class="link-to-variant g_variant_1 show position-relative">
            <div class="gp-5-product-gallery  new-product-gallery-wrapper">
              {% for block in section.blocks %}
                {% if block.type == 'productImage' %}
                  {% assign image = block.settings.image %}
                  {% assign mimage = block.settings.mimage %}
                  {% if block.settings.is_video %}
                    <div class="main-product-img">
                      <video
                        class=" w-100  "
                        poster="{{ block.settings.poster | img_url : '800x'}}"
                        width="520"
                        height="520"
                        controls
                      >
                        <source src="{{ block.settings.videoURL }}" type="video/mp4">
                      </video>
                    </div>
                  {% else %}
                    <div class="main-product-img ">
                      <picture>
                        <source media="(min-width:650px)" srcset="{{ image | img_url: '2000x'}}">
                        <source media="(max-width:650px)" srcset="{{ mimage | img_url: '2000x' }}">
                        <img
                          {% if forloop.index == 1 %}
                            skip-
                          {% else %}
                            loading=" "
                          {% endif %}
                          data-id="{{image.id}}"
                          class="img-responsive w-100 h-auto  "
                          src="{{ image | img_url: '2000x'}}"
                          width="800"
                          height="700"
                          alt="{{ image }}"
                        >
                      </picture>
                    </div>
                  {% endif %}
                {% endif %}
                {% assign mediacount = mediacount | plus: '1' %}
              {% endfor %}
            </div>
          </div>
          <div class="link-to-variant g_variant_2 position-relative">
            <div class="gp-5-product-gallery  new-product-gallery-wrapper">
              {% for block in section.blocks %}
                {% if block.type == 'productImage2' %}
                  {% assign image = block.settings.image_2 %}
                  {% assign mimage = block.settings.mimage_2 %}
                  {% if block.settings.is_video_2 %}
                    <div class="main-product-img">
                      <video
                        class=" w-100  "
                        poster="{{ block.settings.poster_2 | img_url : '800x'}}"
                        width="520"
                        height="520"
                        controls
                      >
                        <source src="{{ block.settings.videoURL_2 }}" type="video/mp4">
                      </video>
                    </div>
                  {% else %}
                    <div class="main-product-img ">
                      <picture>
                        <source media="(min-width:650px)" srcset="{{ image | img_url: '2000x'}}">
                        <source media="(max-width:650px)" srcset="{{ mimage | img_url: '2000x'}}">
                        <img
                          {% if forloop.index == 1 %}
                            skip-
                          {% else %}
                            loading=" "
                          {% endif %}
                          data-id="{{image.id}}"
                          class="img-responsive w-100 h-auto  "
                          src="{{ image | img_url: '2000x'}}"
                          width="800"
                          height="700"
                          alt="{{ image }}"
                        >
                      </picture>
                    </div>
                  {% endif %}
                {% endif %}
                {% assign mediacount = mediacount | plus: '1' %}
              {% endfor %}
            </div>
          </div>
          <!-- slider 3 -->
          <div class="link-to-variant g_variant_3 position-relative">
            <div class="gp-5-product-gallery  new-product-gallery-wrapper">
              {% for block in section.blocks %}
                {% if block.type == 'productImage3' %}
                  {% assign image = block.settings.image_3 %}
                  {% assign mimage = block.settings.mimage_3 %}
                  {% if block.settings.is_video_3 %}
                    <div class="main-product-img">
                      <video
                        class=" w-100  "
                        poster="{{ block.settings.poster_3 | img_url : '2000x'}}"
                        width="520"
                        height="520"
                        controls
                      >
                        <source src="{{ block.settings.videoURL_3 }}" type="video/mp4">
                      </video>
                    </div>
                  {% else %}
                    <div class="main-product-img ">
                      <picture>
                        <source media="(min-width:650px)" srcset="{{ image | img_url: '2000x'}}">
                        <source media="(max-width:650px)" srcset="{{ mimage | img_url: '2000x'}}">
                        <img
                          {% if forloop.index == 1 %}
                            skip-
                          {% else %}
                            loading=" "
                          {% endif %}
                          data-id="{{image.id}}"
                          class="img-responsive w-100 h-auto  "
                          src="{{ image | img_url: 'master'}}"
                          width="800"
                          height="700"
                          alt="{{ image }}"
                        >
                      </picture>
                    </div>
                  {% endif %}
                {% endif %}
                {% assign mediacount = mediacount | plus: '1' %}
              {% endfor %}
            </div>
          </div>
          <!-- slider 4 -->
          <div class="link-to-variant g_variant_4 position-relative">
            <div class="gp-5-product-gallery  new-product-gallery-wrapper">
              {% for block in section.blocks %}
                {% if block.type == 'productImage4' %}
                  {% assign image = block.settings.image_4 %}
                  {% assign mimage = block.settings.mimage_4 %}
                  {% if block.settings.is_video_4 %}
                    <div class="main-product-img">
                      <video
                        class=" w-100  "
                        poster="{{ block.settings.poster_4 | img_url : '800x'}}"
                        width="520"
                        height="520"
                        controls
                      >
                        <source src="{{ block.settings.videoURL_4 }}" type="video/mp4">
                      </video>
                    </div>
                  {% else %}
                    <div class="main-product-img ">
                      <picture>
                        <source media="(min-width:650px)" srcset="{{ image | img_url: '2000x'}}">
                        <source media="(max-width:650px)" srcset="{{ mimage | img_url: '2000x'}}">
                        <img
                          {% if forloop.index == 1 %}
                            skip-
                          {% else %}
                            loading=" "
                          {% endif %}
                          data-id="{{image.id}}"
                          class="img-responsive w-100 h-auto  "
                          src="{{ image | img_url: '2000x'}}"
                          width="800"
                          height="700"
                          alt="{{ image }}"
                        >
                      </picture>
                    </div>
                  {% endif %}
                {% endif %}
                {% assign mediacount = mediacount | plus: '1' %}
              {% endfor %}
            </div>
          </div>
          <!-- slider 5 -->
          <div class="link-to-variant g_variant_5 position-relative">
            <div class="gp-5-product-gallery  new-product-gallery-wrapper">
              {% for block in section.blocks %}
                {% if block.type == 'productImage5' %}
                  {% assign image = block.settings.image_5 %}
                  {% assign mimage = block.settings.mimage_5 %}
                  {% if block.settings.is_video_5 %}
                    <div class="main-product-img">
                      <video
                        class=" w-100  "
                        poster="{{ block.settings.poster_5 | img_url : '800x'}}"
                        width="520"
                        height="520"
                        controls
                      >
                        <source src="{{ block.settings.videoURL_5 }}" type="video/mp4">
                      </video>
                    </div>
                  {% else %}
                    <div class="main-product-img ">
                      <picture>
                        <source media="(min-width:650px)" srcset="{{ image | img_url: '2000x'}}">
                        <source media="(max-width:650px)" srcset="{{ mimage | img_url: '2000x'}}">
                        <img
                          {% if forloop.index == 1 %}
                            skip-
                          {% else %}
                            loading=" "
                          {% endif %}
                          data-id="{{image.id}}"
                          class="img-responsive w-100 h-auto  "
                          src="{{ image | img_url: '2000x'}}"
                          width="800"
                          height="700"
                          alt="{{ image }}"
                        >
                      </picture>
                    </div>
                  {% endif %}
                {% endif %}
                {% assign mediacount = mediacount | plus: '1' %}
              {% endfor %}
            </div>
          </div>
          <!-- slider 6 -->
          <div class="link-to-variant g_variant_6 position-relative">
            <div class="gp-5-product-gallery  new-product-gallery-wrapper">
              {% for block in section.blocks %}
                {% if block.type == 'productImage6' %}
                  {% assign image = block.settings.image_6 %}
                  {% assign mimage = block.settings.mimage_6 %}
                  {% if block.settings.is_video_6 %}
                    <div class="main-product-img">
                      <video
                        class=" w-100  "
                        poster="{{ block.settings.poster_6 | img_url : '800x'}}"
                        width="520"
                        height="520"
                        controls
                      >
                        <source src="{{ block.settings.videoURL_6 }}" type="video/mp4">
                      </video>
                    </div>
                  {% else %}
                    <div class="main-product-img ">
                      <picture>
                        <source media="(min-width:650px)" srcset="{{ image | img_url: '2000x'}}">
                        <source media="(max-width:650px)" srcset="{{ mimage | img_url: '2000x'}}">
                        <img
                          {% if forloop.index == 1 %}
                            skip-
                          {% else %}
                            loading=" "
                          {% endif %}
                          data-id="{{image.id}}"
                          class="img-responsive w-100 h-auto  "
                          src="{{ image | img_url: '2000x'}}"
                          width="800"
                          height="700"
                          alt="{{ image }}"
                        >
                      </picture>
                    </div>
                  {% endif %}
                {% endif %}
                {% assign mediacount = mediacount | plus: '1' %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="w-50  d-flex justify-content-center">
        <div class="w-90   bg-white">
          <div class="gp-5-top {% if section.settings.before-mobile %} mobile-hide {% endif %}">
            <h2 class="heading-3 font-lausanne fw-600 mb-0 mt-0">
              {{ section.settings.heading }}
            </h2>
            {% if section.settings.mainsubheading != '' -%}
              <p class="mt-2 mb-2 font-lausanne fw-300" style="color:#212121;">
                {{ section.settings.mainsubheading }}
              </p>
            {%- endif %}
            <div class="text-left mt-2 reviews-scroll-block">
              <div
                class="value-sans theme-text mt-0 mb-2 stars-img-review click-scroll"
                data-target="{{ section.settings.scrollto }}"
              >
                <span class="star-img">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                    <defs>
                        <style>
                            .clas-2 {
                                fill: #212121;
                            }
                        </style>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path class="clas-2"
                                d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z" />
                        </g>
                    </g>
                  </svg>
                </span>
                <span class="star-img">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                    <defs>
                        <style>
                            .clas-2 {
                                fill: #212121;
                            }
                        </style>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path class="clas-2"
                                d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z" />
                        </g>
                    </g>
                  </svg>
                </span>
                <span class="star-img">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                    <defs>
                        <style>
                            .clas-2 {
                                fill: #212121;
                            }
                        </style>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path class="clas-2"
                                d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z" />
                        </g>
                    </g>
                  </svg>
                </span>
                <span class="star-img">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                    <defs>
                        <style>
                            .clas-2 {
                                fill: #212121;
                            }
                        </style>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path class="clas-2"
                                d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z" />
                        </g>
                    </g>
                  </svg>
                </span>
                <span class="star-img">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                    <defs>
                        <style>
                            .clas-2 {
                                fill: #212121;
                            }
                        </style>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path class="clas-2"
                                d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z" />
                        </g>
                    </g>
                  </svg>
                </span>
                <span
                  class="font-lausanne fw-400"
                  style="color:#212121; font-size:14px; font-weight:400;"
                >
                  {{- settings.gloabalreviews }} verified 5-star reviews</span
                >
              </div>
            </div>
          </div>

          <div class="gp-5-bottom link-variants-wrapper {% if section.settings.collapse %}show-hide-buy-plan{% endif %}">
            {% if section.settings.scent_label != blank %}
              <div class="mb-2 mt-2 choose-secnt-label font-lausanne fw-400">{{ section.settings.scent_label }}</div>
            {% endif %}
            <form autocomplete="off">
              <ul class="list-unstyle  gp--product-variants  var_{{ product.variants | size  }} ">
                {% assign checked = true %}
                {% for block in section.blocks %}
                  {% if block.type == 'variant' %}
                    <li
                      data-title="{{block.settings.text_heading | downcase }}"
                      class=" {% if block.settings.outofstock %}disabled var-out-of-stock{% endif %}"
                    >
                      {% if block.settings.variantBadge != blank %}
                        <span class="variant-badge">{{ block.settings.variantBadge }}</span>
                      {% endif %}
                      <input
                        autocomplete="off"
                        class="gp--product-variant form_s{{ forloop.index }} {{ section.settings.className }} {{ block.settings.class }}"
                        data-planid="{{block.settings.selling_plan}}"
                        data-plantype="subscription"
                        data-variantid="{{block.settings.variant_id}}"
                        data-sku="{{ block.settings.sku }}"
                        data-discount="{{ block.settings.discount }}"
                        data-name="{{block.settings.text_heading | handle}}"
                        {% if forloop.first %}
                          data-gallery="variant_1"
                        {% else %}
                          data-gallery="variant_4"
                        {% endif %}
                        data-price="{{ localization.country.currency.symbol }}{{- block.settings.sellPrice -}}"
                        data-deleted-price="{{ localization.country.currency.symbol }}{{- block.settings.delPrice -}}"
                        value="{{block.settings.variant_id }}"
                        data-productid="{{product_v.id}}"
                        data-variantclass="variant_{{ block.settings.varCount }}"
                        type="radio"
                        name="id_{{ section.id }}"
                        {% if block.settings.dataTrack %}
                          data-tracked="true"
                          data-page-url="{{ request.path }}"
                          data-target-url="{{ block.settings.targetUrl }}"
                          data-index="{{ block.settings.index }}"
                          data-funnel-stage="{{ block.settings.funnel_stage }}"
                          data-module="{{ block.settings.dataModule }}"
                          data-event-label="{{ block.settings.dataTitle }}"
                          data-event-value="{{ block.settings.eventValue }}"
                          data-item-id="{{ block.settings.sku }}"
                          data-option-index="{{ block.settings.optionIndex }}"
                          data-item-name="{{block.settings.text_heading }}"
                        {% endif %}
                        data-section="id_{{ section.id }}"
                        id="id_{{ section.id }}_{{block.settings.text_heading | escape }}"
                        {% if forloop.first %}
                          checked {% assign checked = false -%}
                        {% else %}

                        {% endif %}
                      >

                      <label
                        class="font-lausanne fw-500 var_bg_{{ block.settings.text_heading | handle }} "
                        for="id_{{ section.id }}_{{block.settings.text_heading | escape}}"
                        data-include="{{variant.metafields.metadata.includes}}"
                        data-value="{{block.settings.text_heading}}"
                      >
                        {{- block.settings.text_heading -}}
                      </label>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </form>
            {% if section.settings.tab_description_1 != blank %}
              <div
                style=""
                class="gp-19-var-short-desc gp-10-tab-desc mt-3 mb-3  gp-5-var gp-5-var-ab link-to-variant variant_1 srt-desc show"
              >
                {{ section.settings.tab_description_1 }}
              </div>
            {% endif %}
            {% if section.settings.tab_description_2 != blank %}
              <div
                style=""
                class="gp-19-var-short-desc gp-10-tab-desc mt-3 mb-3  gp-5-var gp-5-var-ab link-to-variant variant_4 srt-desc"
              >
                {{ section.settings.tab_description_2 }}
              </div>
            {% endif %}
            <form
              name="shopify-product-form"
              autocomplete="off"
              @submit.prevent="console.log('submitted')"
              x-ref="product_form_{{ section.index}}"
              enctype="multipart/form-data"
              accept-charset="UTF-8"
              id="product_form_{{ section.index}}"
              class="shopify-product-form form_s1 link-to-variant variant_1 show"
              data-product-id="{{product.id}}"
              action="/cart/add"
            >
              <div class="mt-0 x">
                <div class="mb-3 mt-0 font-lausanne fw-400 choose-secnt-label ">Choose your plan</div>

                <div class="gp--paln-1 buy--plan position-relative mt-1">
                  <input
                    autocomplete="off"
                    type="radio"
                    checked
                    data-scent-type="s1"
                    data-index-order="1"
                    id="buyplan_1_{{ section.id }}"
                    name="buyplan_{{ section.id }}"
                    class="buy_plan_radio buy_plan_radio_1"
                    data-plantype="subscription"
                    data-section="id_{{ section.id }}"
                    data-gallery="variant_1"
                    data-variantselected="variant_4"
                    data-link="first"
                    data-planid="{{ section.settings.selling_plan_1 }}"
                    data-discount="{{ section.settings.discountPlan_1 }}"
                    data-variantid="{{ section.settings.variant_id_1 }}"
                    data-sku="{{ section.settings.sku_1 }}"
                    data-price="{{ localization.country.currency.symbol }}{{- section.settings.price_1 -}}"
                    data-deleted-price="{{ localization.country.currency.symbol }}{{- section.settings.deleted_price_1 -}}"
                    data-tracked="true"
                    data-page-url="{{ request.path }}"
                    data-target-url=""
                    data-index="{{ section.settings.index }}"
                    data-funnel-stage="{{ section.settings.funnel_stage }}"
                    data-module="{{ section.settings.dataModule }}"
                    data-event-label="subscription"
                    data-event-value="plan_selector"
                    data-item-id="{{ section.settings.sku }}"
                    data-option-index="1"
                    data-item-name="Counter Clean 90-day plan"
                    data-id="{{ section.settings.variant_id }}"
                    data-item-type="subscription"
                    data-variantclass="variant_1"
                  >
                  <label for="buyplan_1_{{ section.id }}" class=" ">
                    <div class="d-flex justify-content-between buy-block-text mt-0 mb-1">
                      <span class="font-lausanne fw-600">Counter Clean 90-day plan</span>
                      <span class="d-flex justify-content-end">
                        <span
                          class="text-decoration-line-through font-lausanne fw-400  gp-5-del-price unsright"
                        >
                          {{- localization.country.currency.symbol }}{{- section.settings.deleted_price_1 -}}
                        </span>
                        <span class="gp-5-sell-price font-lausanne fw-500 ">
                          {{- localization.country.currency.symbol -}}{{- section.settings.price_1 -}}
                        </span>
                      </span>
                    </div>

                    <div
                      class="d-flex show-hide-listing"
                      style="flex-direction: column; {% if section.settings.flipPoints %}margin-top: 6px;{% endif %}"
                    >
                      {% for block in section.blocks %}
                        {% if block.type == 'text' %}
                          <span
                            class="link-to-variant font-lausanne fw-300 variant_{{ block.settings.listClass }}"
                          >
                            {{ block.settings.listItem }}
                          </span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </label>
                </div>

                <div class="gp--paln-2  buy--plan position-relative ">
                  <input
                    autocomplete="off"
                    data-scent-type="s1"
                    data-index-order="2"
                    type="radio"
                    id="buyplan_2_{{ section.id }}"
                    name="buyplan_{{ section.id }}"
                    class="buy_plan_radio "
                    data-section="id_{{ section.id }}"
                    data-plantype="subscription"
                    data-gallery="variant_2"
                    data-variantselected="variant_5"
                    data-link="first"
                    data-planid="{{ section.settings.selling_plan_2 }}"
                    data-discount="{{ section.settings.discountPlan_2 }}"
                    data-variantid="{{ section.settings.variant_id_2 }}"
                    data-sku="{{ section.settings.sku_2 }}"
                    data-price="{{ localization.country.currency.symbol }}{{- section.settings.price_2 -}}"
                    data-deleted-price="{{ localization.country.currency.symbol }}{{- section.settings.deleted_price_2 -}}"
                    data-tracked="true"
                    data-page-url="{{ request.path }}"
                    data-target-url=""
                    data-index="{{ section.settings.index }}"
                    data-funnel-stage="{{ section.settings.funnel_stage }}"
                    data-module="{{ section.settings.dataModule }}"
                    data-event-label="subscription"
                    data-event-value="plan_selector"
                    data-item-id="{{ section.settings.sku2 }}"
                    data-option-index="2"
                    data-item-name="Bathroom Bliss Kit"
                    data-id="{{ section.settings.variant_id_2 }}"
                    data-item-type="subscription"
                    data-discount-price=""
                  >
                  <label for="buyplan_2_{{ section.id }}" class="best-value-plan mbestplan">
                    <div class="label-bestValue mbestvalue">Upgrade to get FREE Oh! de Loo & save 70%</div>
                    <div class="d-flex justify-content-between buy-block-text">
                      <span class="font-lausanne fw-600">Add Bathroom Bliss Kit</span>
                      <span class="d-flex justify-content-end">
                        <span
                          class="text-decoration-line-through font-lausanne fw-400  gp-5-del-price unsright"
                        >
                          {{- localization.country.currency.symbol }}{{- section.settings.deleted_price_2 -}}
                        </span>
                        <span class="gp-5-sell-price font-lausanne fw-500">
                          {{- localization.country.currency.symbol -}}{{- section.settings.price_2 -}}
                        </span>
                      </span>
                    </div>
                    <div
                      class="d-flex show-hide-listing"
                      style="flex-direction: column; {% if section.settings.flipPoints %}margin-top: 6px;{% endif %}"
                    >
                      {% if section.settings.bb_include_1 != blank %}
                      <p class="font-lausanne fw-400 include-starterkit">
                        {{ section.settings.bb_include_1 }}
                      </p>
                      {% endif %}
                      {% for block in section.blocks %}
                        {% if block.type == 'point' %}
                          <span
                            class="link-to-variant font-lausanne fw-300  variant_{{ block.settings.listClass2 }}"
                          >
                            {{ block.settings.listItem2 }}
                          </span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </label>
                </div>
              </div>
              <input
                autocomplete="off"
                type="hidden"
                name="id"
                class="input_variant_id"
                value="{{ section.settings.variant_id_1 }}"
              >
              <input
                autocomplete="off"
                type="hidden"
                class="discout_input"
                name="discount"
                value="{{ section.settings.discountPlan_1 }}"
              >
              <input autocomplete="off" type="hidden" name="quantity" value="1">

              <input
                autocomplete="off"
                type="checkbox"
                name="purchase_type"
                value="subscription"
                checked
                class="d-none gp--buyoption-input"
              >
              <input
                autocomplete="off"
                class="input_selling_plan"
                type="hidden"
                name="selling_plan"
                value="{{ section.settings.selling_plan_1 }}"
              >
              <div class="text-left  g4-btn-wrapper m-auto">
                {% if section.settings.redirectLink %}
                  <a
                    class="btn w-100 green-btn font-lausanne fw-400 btn-loader checkout-starterkit-btn {% if section.settings.outOfStock %} bb-disable {% endif %}"
                    href="{{ section.settings.redirectLink }}"
                  >
                    {% if section.settings.outOfStock %}
                      Out of Stock
                    {% else %}
                      {{ section.settings.btnText }}
                    {% endif -%}
                  </a>
                {% else %}
                  {% if section.settings.isCheckout %}
                    <span
                      x-on:click="additemstocart($refs.product_form_{{ section.index}}, event)"
                      class="btn w-100 value-medium btn-loader checkout-starterkit-btn ga4-checkout-btn {% if section.settings.outOfStock %} bb-disable {% endif %}"
                      style="background-color:#2D469E"
                      {% if section.settings.dataTrack %}
                        data-checkout="true"
                        data-add-to-cart="true" data-page-url="{{ request.path }}"
                        data-target-url="{{ section.settings.targetUrl }}"
                        data-index="{{ section.settings.index }}"
                        data-funnel-stage="{{ section.settings.funnel_stage }}"
                        data-module="{{ section.settings.dataModule }}"
                        data-event-label="{{ section.settings.dataTitle }}"
                        data-event-value="{{ section.settings.eventValue }}"
                        data-item-id="{{ section.settings.sku_1 }}"
                        data-option-index="{{ section.settings.optionIndex }}"
                        data-item-name="Counter Clean 90-day plan" data-quantity="{{ section.settings.quantity }}"
                        data-price="{{ localization.country.currency.symbol }}{{- section.settings.price_1 -}}"
                        data-item-type="subscription"
                      {% endif %}
                    >
                      {% if section.settings.outOfStock %}
                        Out of Stock
                      {% else %}
                        <span class="buy-text">{{ section.settings.btnText }} </span>|
                        <span
                          class="deleted-price font-lausanne fw-400 text-decoration-line-through  gp--del-price"
                          style="color:#bdbdbd;margin-right:0;"
                        >
                          {{- localization.country.currency.symbol }}{{- section.settings.deleted_price_1 -}}
                        </span>
                        <span class="font-lausanne fw-500 white-text gp--sell-price">
                          {{- localization.country.currency.symbol -}}{{- section.settings.price_1 -}}
                        </span>
                      {% endif -%}
                    </span>
                  {% endif %}
                {% endif -%}

                {% if section.settings.showMoneyBackLabel %}
                  <div
                    class="text-center theme-text mt-2 guarantee-text fw-600"
                    style="font-size:12px; color:#212121; line-height: 18px;"
                  >
                    90-day plan, cancel any time<br>
                    30-day money-back guarantee
                  </div>
                {% endif %}
              </div>
            </form>

            <form
              name="shopify-product-form"
              autocomplete="off"
              @submit.prevent="console.log('submitted')"
              x-ref="product_form_{{ section.index}}_2"
              enctype="multipart/form-data"
              accept-charset="UTF-8"
              id="product_form_{{ section.index}}_2"
              class="shopify-product-form  form_s2 link-to-variant variant_4"
              data-product-id="{{product.id}}"
              action="/cart/add"
            >
              <div class="mt-0 ">
                <div class="mb-3 mt-0 choose-secnt-label font-lausanne fw-400 ">Choose your plan</div>

                <div class="gp--paln-1 buy--plan position-relative mt-1">
                  <input
                    autocomplete="off"
                    type="radio"
                    data-scent-type="s2"
                    data-s2-default
                    data-index-order="1"
                    id="buyplan_4_{{ section.id }}"
                    name="buyplan_{{ section.id }}_1"
                    class="buy_plan_radio buy_plan_radio_1"
                    data-plantype="subscription"
                    data-section="id_{{ section.id }}"
                    data-gallery="variant_4"
                    data-variantselected="variant_1"
                    data-link="second"
                    data-planid="{{ section.settings.selling_plan_4 }}"
                    data-discount="{{ section.settings.discountPlan_4 }}"
                    data-variantid="{{ section.settings.variant_id_4 }}"
                    data-sku="{{ section.settings.sku_4 }}"
                    data-price="{{ localization.country.currency.symbol }}{{- section.settings.price_4 -}}"
                    data-deleted-price="{{ localization.country.currency.symbol }}{{- section.settings.deleted_price_4 -}}"
                    data-tracked="true"
                    data-page-url="{{ request.path }}"
                    data-target-url=""
                    data-index="{{ section.settings.index }}"
                    data-funnel-stage="{{ section.settings.funnel_stage }}"
                    data-module="{{ section.settings.dataModule }}"
                    data-event-label="subscription"
                    data-event-value="plan_selector"
                    data-item-id="{{ section.settings.sku_4 }}"
                    data-option-index="1"
                    data-item-name="Counter Clean 90-day plan"
                    data-id="{{ section.settings.variant_id }}"
                    data-item-type="subscription"
                    checked
                  >
                  <label for="buyplan_4_{{ section.id }}" class=" ">
                    <div class="d-flex justify-content-between buy-block-text mt-0 mb-1">
                      <span class="font-lausanne fw-600">Counter Clean 90-day plan</span>
                      <span class="d-flex justify-content-end">
                        <span
                          class="text-decoration-line-through font-lausanne fw-400 gp-5-del-price unsright"
                        >
                          {{- localization.country.currency.symbol }}{{- section.settings.deleted_price_4 -}}
                        </span>
                        <span class="gp-5-sell-price font-lausanne fw-500">
                          {{- localization.country.currency.symbol -}}{{- section.settings.price_4 -}}
                        </span>
                      </span>
                    </div>

                    <div
                      class="d-flex show-hide-listing"
                      style="flex-direction: column; {% if section.settings.flipPoints %}margin-top: 6px;{% endif %}"
                    >
                      {% for block in section.blocks %}
                        {% if block.type == 'text' %}
                          <span
                            class=" font-lausanne fw-300  link-to-variant  variant_{{ block.settings.listClass }}"
                          >
                            {{ block.settings.listItem }}
                          </span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </label>
                </div>

                <div class="gp--paln-2 buy--plan position-relative ">
                  <input
                    autocomplete="off"
                    data-scent-type="s2"
                    data-index-order="2"
                    type="radio"
                    id="buyplan_5_{{ section.id }}"
                    name="buyplan_{{ section.id }}_1"
                    class="buy_plan_radio "
                    data-section="id_{{ section.id }}"
                    data-plantype="subscription"
                    data-gallery="variant_5"
                    data-variantselected="variant_2"
                    data-link="second"
                    data-planid="{{ section.settings.selling_plan_5 }}"
                    data-discount="{{ section.settings.discountPlan_5 }}"
                    data-variantid="{{ section.settings.variant_id_5 }}"
                    data-sku="{{ section.settings.sku_5 }}"
                    data-price="{{ localization.country.currency.symbol }}{{- section.settings.price_5 -}}"
                    data-deleted-price="{{ localization.country.currency.symbol }}{{- section.settings.deleted_price_5 -}}"
                    data-tracked="true"
                    data-page-url="{{ request.path }}"
                    data-target-url=""
                    data-index="{{ section.settings.index }}"
                    data-funnel-stage="{{ section.settings.funnel_stage }}"
                    data-module="{{ section.settings.dataModule }}"
                    data-event-label="subscription"
                    data-event-value="plan_selector"
                    data-item-id="{{ section.settings.sku_5 }}"
                    data-option-index="2"
                    data-item-name="Bathroom Bliss Kit"
                    data-id="{{ section.settings.variant_id_5 }}"
                    data-item-type="subscription"
                  >
                  <label for="buyplan_5_{{ section.id }}" class="best-value-plan mbestplan">
                    <div class="label-bestValue font-lausanne fw-400 mbestvalue">
                      Upgrade to get FREE Oh! de Loo & save {{ localization.country.currency.symbol }}72
                    </div>
                    <div class="d-flex justify-content-between buy-block-text">
                      <span class="font-lausanne fw-600">Add Bathroom Bliss Kit</span>
                      <span class="d-flex justify-content-end">
                        <span
                          class="text-decoration-line-through font-lausanne fw-400 gp-5-del-price unsright"
                        >
                          {{- localization.country.currency.symbol }}{{- section.settings.deleted_price_5 -}}
                        </span>
                        <span class="gp-5-sell-price font-lausanne fw-500 ">
                          {{- localization.country.currency.symbol -}}{{- section.settings.price_5 -}}
                        </span>
                      </span>
                    </div>

                    <div
                      class="d-flex show-hide-listing"
                      style="flex-direction: column; {% if section.settings.flipPoints %}margin-top: 6px;{% endif %}"
                    >
                      {% if section.settings.bb_include_5 != blank %}
                      <p class="font-lausanne fw-400 include-starterkit">
                        {{ section.settings.bb_include_5 }}
                      </p>
                      {% endif %}
                      {% for block in section.blocks %}
                        {% if block.type == 'point' %}
                          <span
                            class=" font-lausanne fw-300 link-to-variant  variant_{{ block.settings.listClass2 }}"
                          >
                            {{ block.settings.listItem2 }}
                          </span>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </label>
                </div>
              </div>
              <input
                autocomplete="off"
                type="hidden"
                name="id"
                class="input_variant_id"
                value="{{ section.settings.variant_id_4 }}"
              >
              <input
                autocomplete="off"
                type="hidden"
                class="discout_input"
                name="discount"
                value="{{ section.settings.discountPlan_4 }}"
              >
              <input autocomplete="off" type="hidden" name="quantity" value="1">

              <input
                autocomplete="off"
                type="checkbox"
                name="purchase_type"
                value="subscription"
                checked
                class="d-none gp--buyoption-input"
              >
              <input
                autocomplete="off"
                class="input_selling_plan"
                type="hidden"
                name="selling_plan"
                value="{{ section.settings.selling_plan_4 }}"
              >

              <div class="text-left  g4-btn-wrapper m-auto">
                {% if section.settings.redirectLink %}
                  <a
                    class="btn w-100 green-btn font-lausanne fw-400 btn-loader checkout-starterkit-btn {% if section.settings.outOfStock %} bb-disable {% endif %}"
                    href="{{ section.settings.redirectLink }}"
                  >
                    {% if section.settings.outOfStock %}
                      Out of Stock
                    {% else %}
                      {{ section.settings.btnText }}
                    {% endif -%}
                  </a>
                {% else %}
                  {% if section.settings.isCheckout %}
                    <span
                      x-on:click="additemstocart($refs.product_form_{{ section.index}}_2, event)"
                      class="btn w-100 value-medium btn-loader checkout-starterkit-btn ga4-checkout-btn {% if section.settings.outOfStock %} bb-disable {% endif %}"
                      style="background-color:#2D469E"
                      {% if section.settings.dataTrack %}
                        data-checkout="true"
                        data-add-to-cart="true" data-page-url="{{ request.path }}"
                        data-target-url="{{ section.settings.targetUrl }}"
                        data-index="{{ section.settings.index }}"
                        data-funnel-stage="{{ section.settings.funnel_stage }}"
                        data-module="{{ section.settings.dataModule }}"
                        data-event-label="{{ section.settings.dataTitle }}"
                        data-event-value="{{ section.settings.eventValue }}"
                        data-item-id="{{ section.settings.sku_4 }}"
                        data-option-index="{{ section.settings.optionIndex }}"
                        data-item-name="Counter Clean 90-day plan" data-quantity="{{ section.settings.quantity }}"
                        data-price="{{ localization.country.currency.symbol }}{{- section.settings.price_4 -}}"
                        data-item-type="subscription"
                      {% endif %}
                    >
                      {% if section.settings.outOfStock %}
                        Out of Stock
                      {% else %}
                        <span class="buy-text">{{ section.settings.btnText }} </span>|
                        <span
                          class="deleted-price font-lausanne fw-400 text-decoration-line-through  gp--del-price"
                          style="color:#bdbdbd;margin-right:0;"
                        >
                          {{- localization.country.currency.symbol }}{{- section.settings.deleted_price_4 -}}
                        </span>
                        <span class="font-lausanne fw-500 white-text gp--sell-price">
                          {{- localization.country.currency.symbol -}}{{- section.settings.price_4 -}}
                        </span>
                      {% endif -%}
                    </span>
                  {% endif %}
                {% endif -%}

                {% if section.settings.showMoneyBackLabel %}
                  <div
                    class="text-center theme-text mt-2 guarantee-text fw-600"
                    style="font-size:12px; color:#212121; line-height: 18px;"
                  >
                    90-day plan, cancel any time<br>
                    30-day money-back guarantee
                  </div>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const clickID = document.querySelectorAll('.gp--product-variant');
  clickID.forEach((currentID, index) => {
    currentID.addEventListener('click', () => {
      const selectedVariant = currentID.getAttribute('data-variantclass');

      document.querySelectorAll('.pf-tab').forEach((scentTab, index) => {
        scentTab.classList.remove('active');
      });

      document.querySelectorAll('.pf-tab-content').forEach((tabContent, index) => {
        tabContent.classList.remove('active');
      });

      if (selectedVariant == 'variant_1') {
        document.querySelector('.tab-heading-1').classList.add('active');
        document.querySelector('.tab-1').classList.add('active');
      } else {
        document.querySelector('.tab-heading-2').classList.add('active');
        document.querySelector('.tab-2').classList.add('active');
      }
    });
  });
</script>

{% schema %}
{
  "name": "Buy box evg lp V1",
  "settings": [
    {
      "type": "checkbox",
      "id": "link-section",
      "label": "Link to toggle section",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "showMoneyBackLabel",
      "label": "Show Money Back Label",
      "default": false
    },
    {
      "type": "text",
      "id": "className",
      "label": "Section Class"
    },

    {
      "type": "checkbox",
      "id": "collapse",
      "label": "Collapse Buy Plan",
      "default": false
    },

    {
      "type": "checkbox",
      "id": "outOfStock",
      "label": "Enable If product out Of Stock",
      "default": true
    },

    {
      "type": "text",
      "id": "scrollId",
      "label": "Section Scroll ID"
    },

    {
      "id": "buyonce",
      "label": "Product Buy Once",
      "type": "checkbox",
      "default": true
    },

    {
      "id": "isCheckout",
      "label": "Go to Checkout",
      "type": "checkbox",
      "default": false
    },

    {
      "id": "scrollto",
      "label": "Review Scroll to",
      "type": "text"
    },

    {
      "id": "background",
      "label": "Background color",
      "type": "color"
    },

    {
      "type": "html",
      "id": "mainheading",
      "label": "Main Heading"
    },

    {
      "type": "html",
      "id": "heading",
      "label": "Product Title"
    },

    {
      "type": "html",
      "id": "mainsubheading",
      "label": "Sub Heading"
    },

    {
      "id": "scent_label",
      "label": "Choose scents label",
      "type": "text",
      "default": "Choose your Scent"
    },

    {
      "id": "tab_description_1",
      "label": "Tab 1 Description",
      "default": "Transform your home with new natural scents each season",
      "type": "text"
    },

    {
      "id": "tab_description_2",
      "label": "Tab 2 Description",
      "default": "Our best-selling citrus for a beautifully scented home",
      "type": "text"
    },

    {
      "id": "btnText",
      "label": "Button label",
      "type": "text",
      "default": "BUY NOW"
    },

    {
      "id": "redirectLink",
      "label": "Button Link",
      "type": "url"
    },

    {
      "id": "ctaDetails",
      "label": "Button Details Text",
      "type": "html"
    },

    {
      "type": "header",
      "content": "CC 90 day plan - Signature"
    },

    {
      "type": "text",
      "id": "variant_id_1",
      "label": "Variant ID"
    },

    {
      "type": "text",
      "id": "selling_plan_1",
      "label": "Selling Plan"
    },

    {
      "type": "text",
      "id": "sku_1",
      "label": "SKU"
    },

    {
      "type": "text",
      "id": "discountPlan_1",
      "label": "Discount Code"
    },

    {
      "type": "text",
      "id": "price_1",
      "label": "Price"
    },

    {
      "type": "text",
      "id": "deleted_price_1",
      "label": "Cross Over Price"
    },

    {
      "type": "header",
      "content": "BB Kit - Signature"
    },

    {
      "type": "html",
      "id": "bb_include_1",
      "label": "BB kit include label"
    },

    {
      "type": "text",
      "id": "variant_id_2",
      "label": "BB Variant ID"
    },

    {
      "type": "text",
      "id": "selling_plan_2",
      "label": "BB Selling Plan"
    },

    {
      "type": "text",
      "id": "sku_2",
      "label": "BB SKU"
    },

    {
      "type": "text",
      "id": "discountPlan_2",
      "label": "BB Discount Code",
      "info": "Not required after discount function"
    },

    {
      "type": "text",
      "id": "price_2",
      "label": "BB Price"
    },

    {
      "type": "text",
      "id": "deleted_price_2",
      "label": "BB Cross Over Price"
    },

    {
      "type": "header",
      "content": "BB Kit - CC variant Signature"
    },

    {
      "type": "text",
      "id": "variant_id_cc_1",
      "label": "CC Variant ID"
    },

    {
      "type": "text",
      "id": "selling_plan_cc_1",
      "label": "CC Selling Plan"
    },

    {
      "type": "text",
      "id": "sku_cc_1",
      "label": "CC SKU"
    },

    {
      "type": "header",
      "content": "BB kit - free odl signature"
    },
    {
      "type": "text",
      "id": "variant_id_free_1",
      "label": "Variant ID"
    },
    {
      "type": "text",
      "id": "sku_free_1",
      "label": "SKU"
    },

    {
      "type": "header",
      "content": "CC 90 day plan - Seasonal"
    },

    {
      "type": "text",
      "id": "variant_id_4",
      "label": "Variant ID"
    },

    {
      "type": "text",
      "id": "selling_plan_4",
      "label": "Selling Plan"
    },

    {
      "type": "text",
      "id": "sku_4",
      "label": "SKU"
    },

    {
      "type": "text",
      "id": "discountPlan_4",
      "label": "Discount Code"
    },

    {
      "type": "text",
      "id": "price_4",
      "label": "Price"
    },

    {
      "type": "text",
      "id": "deleted_price_4",
      "label": "Cross Over Price"
    },

    {
      "type": "header",
      "content": "BB Kit - Seasonal"
    },

    {
      "type": "html",
      "id": "bb_include_5",
      "label": "BB kit include label"
    },

    {
      "type": "text",
      "id": "variant_id_5",
      "label": "BB Variant ID"
    },

    {
      "type": "text",
      "id": "selling_plan_5",
      "label": "BB Selling Plan"
    },

    {
      "type": "text",
      "id": "sku_5",
      "label": "BB SKU"
    },

    {
      "type": "text",
      "id": "discountPlan_5",
      "label": "BB Discount Code",
      "info": "Not required after discount function"
    },

    {
      "type": "text",
      "id": "price_5",
      "label": "BB Price"
    },

    {
      "type": "text",
      "id": "deleted_price_5",
      "label": "BB Cross Over Price"
    },

    {
      "type": "header",
      "content": "BB Kit - CC variant Seasonal"
    },

    {
      "type": "text",
      "id": "variant_id_cc_2",
      "label": "CC Variant ID"
    },

    {
      "type": "text",
      "id": "selling_plan_cc_2",
      "label": "CC Selling Plan"
    },

    {
      "type": "text",
      "id": "sku_cc_2",
      "label": "CC SKU"
    },

    {
      "type": "header",
      "content": "BB kit - free odl seasonal"
    },
    {
      "type": "text",
      "id": "variant_id_free_2",
      "label": "Variant ID"
    },

    {
      "type": "text",
      "id": "sku_free_2",
      "label": "SKU"
    },

    {
      "type": "header",
      "content": "Mobile"
    },

    {
      "type": "checkbox",
      "id": "heading-position",
      "label": "Heading After Image"
    },

    {
      "type": "checkbox",
      "id": "before-mobile",
      "label": "Heading before Image"
    },

    {
      "type": "header",
      "content": "GA4"
    },

    {
      "id": "dataTrack",
      "label": "Data Track",
      "type": "checkbox"
    },

    {
      "id": "targetUrl",
      "label": "Target Url",
      "type": "url"
    },

    {
      "id": "index",
      "label": "Index",
      "type": "number",
      "default": 0
    },

    {
      "id": "funnel_stage",
      "label": "Funnel Stage",
      "type": "text",
      "default": "landing_page"
    },

    {
      "id": "dataModule",
      "label": "Module",
      "type": "text",
      "default": "announcement_bar"
    },

    {
      "id": "dataTitle",
      "label": "Event Label",
      "type": "text",
      "default": "get_your_offer"
    },

    {
      "id": "eventValue",
      "label": "Event Value",
      "type": "text",
      "default": "shop_anchor"
    },

    {
      "id": "optionIndex",
      "label": "Option Index",
      "type": "text"
    },

    {
      "id": "quantity",
      "label": "Item Quantity",
      "type": "number",
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "block 1",
      "settings": [
        {
          "type": "text",
          "id": "listClass",
          "label": "Add list Class",
          "default": "1 show",
          "info": "add number 1, 2, 3 according to related variant number"
        },
        {
          "type": "html",
          "id": "listItem",
          "label": "Add Item"
        }
      ]
    },
    {
      "type": "point",
      "name": "block 2",
      "settings": [
        {
          "type": "text",
          "id": "listClass2",
          "label": "Add list Class",
          "default": "1 show",
          "info": "add number 1, 2, 3 according to related variant number"
        },
        {
          "type": "html",
          "id": "listItem2",
          "label": "Add Item"
        }
      ]
    },
    {
      "type": "productImage",
      "name": "Product Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Add Product Image"
        },
        {
          "type": "image_picker",
          "id": "mimage",
          "label": "Mobile Product Image"
        },
        {
          "type": "checkbox",
          "id": "is_video",
          "label": "Check if video added"
        },
        {
          "type": "url",
          "id": "videoURL",
          "label": "Add Video url"
        },
        {
          "type": "image_picker",
          "id": "poster",
          "label": "Add Video poster"
        }
      ]
    },
    {
      "type": "productImage2",
      "name": "Product Image 2",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Add Product Image"
        },
        {
          "type": "image_picker",
          "id": "mimage_2",
          "label": "Mobile Product Image"
        },
        {
          "type": "checkbox",
          "id": "is_video_2",
          "label": "Check if video added"
        },
        {
          "type": "url",
          "id": "videoURL_2",
          "label": "Add Video url"
        },
        {
          "type": "image_picker",
          "id": "poster_2",
          "label": "Add Video poster"
        }
      ]
    },
    {
      "type": "productImage3",
      "name": "Product Image 3",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Add Product Image"
        },
        {
          "type": "image_picker",
          "id": "mimage_3",
          "label": "Mobile Product Image"
        },
        {
          "type": "checkbox",
          "id": "is_video_3",
          "label": "Check if video added"
        },
        {
          "type": "url",
          "id": "videoURL_3",
          "label": "Add Video url"
        },
        {
          "type": "image_picker",
          "id": "poster_3",
          "label": "Add Video poster"
        }
      ]
    },
    {
      "type": "productImage4",
      "name": "Product Image 4",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Add Product Image"
        },
        {
          "type": "image_picker",
          "id": "mimage_4",
          "label": "Mobile Product Image"
        },
        {
          "type": "checkbox",
          "id": "is_video_4",
          "label": "Check if video added"
        },
        {
          "type": "url",
          "id": "videoURL_4",
          "label": "Add Video url"
        },
        {
          "type": "image_picker",
          "id": "poster_4",
          "label": "Add Video poster"
        }
      ]
    },
    {
      "type": "productImage5",
      "name": "Product Image 5",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_5",
          "label": "Add Product Image"
        },
        {
          "type": "image_picker",
          "id": "mimage_5",
          "label": "Mobile Product Image"
        },
        {
          "type": "checkbox",
          "id": "is_video_5",
          "label": "Check if video added"
        },
        {
          "type": "url",
          "id": "videoURL_5",
          "label": "Add Video url"
        },
        {
          "type": "image_picker",
          "id": "poster_5",
          "label": "Add Video poster"
        }
      ]
    },
    {
      "type": "productImage6",
      "name": "Product Image 6",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_6",
          "label": "Add Product Image"
        },
        {
          "type": "image_picker",
          "id": "mimage_6",
          "label": "Mobile Product Image"
        },
        {
          "type": "checkbox",
          "id": "is_video_6",
          "label": "Check if video added"
        },
        {
          "type": "url",
          "id": "videoURL_6",
          "label": "Add Video url"
        },
        {
          "type": "image_picker",
          "id": "poster_6",
          "label": "Add Video poster"
        }
      ]
    },
    {
      "type": "variant",
      "name": "Add Variant",
      "settings": [
        {
          "type": "checkbox",
          "id": "outofstock",
          "label": "Mark this variant as out of stock",
          "default": false
        },
        {
          "type": "text",
          "id": "class",
          "label": "Block Class "
        },
        {
          "type": "text",
          "id": "variantBadge",
          "label": "Variant Badge"
        },
        {
          "type": "text",
          "id": "varCount",
          "label": "Variant Number"
        },
        {
          "type": "text",
          "id": "text_heading",
          "label": "Heading"
        },

        {
          "type": "header",
          "content": "GA4"
        },
        {
          "id": "dataTrack",
          "label": "Data Track",
          "type": "checkbox",
          "default": true
        },
        {
          "id": "targetUrl",
          "label": "Target Url",
          "type": "url"
        },
        {
          "id": "index",
          "label": "Index",
          "type": "number",
          "default": 0
        },
        {
          "id": "funnel_stage",
          "label": "Funnel Stage",
          "type": "text",
          "default": "landing_page"
        },
        {
          "id": "dataModule",
          "label": "Module",
          "type": "text",
          "default": "announcement_bar"
        },
        {
          "id": "dataTitle",
          "label": "Event Label",
          "type": "text",
          "default": "get_your_offer"
        },
        {
          "id": "eventValue",
          "label": "Event Value",
          "type": "text",
          "default": "shop_anchor"
        },
        {
          "id": "optionIndex",
          "label": "Option Index",
          "type": "text"
        },
        {
          "id": "sku",
          "label": "SKU 1",
          "type": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Buy box evg lp V1"
    }
  ]
}
{% endschema %}

<script>
  function removeAutocomplete() {
    const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
    const isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;

    if (isSafari || isIOS) {
      const forms = document.querySelectorAll('#product_form_{{ section.index}}, #product_form_{{ section.index}}_2');
      forms.forEach((form) => {
        if (form) {
          form.removeAttribute('autocomplete');
          const formElements = form.elements;
          for (let i = 0; i < formElements.length; i++) {
            formElements[i].removeAttribute('autocomplete');
          }
        }
      });
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    const urlParams = new URLSearchParams(window.location.search);
    const isRefill = urlParams.has('refills');

    removeAutocomplete();

    if (isRefill) {
      const productSection = document.getElementById('starterkit-product');
      if (productSection) {
        productSection.scrollIntoView({ behavior: 'smooth', block: 'start' });
      }

      // Handle refill option selection
      const refillsOption = document.querySelector('#buyplan_3_{{ section.id }}, #buyplan_6_{{ section.id }}');
      if (refillsOption) {
        const observer = new MutationObserver((mutations, observer) => {
          const signatureTab = document.querySelector('.gp--product-variants input[data-variantclass="variant_4"]');
          if (signatureTab) {
            signatureTab.checked = true;
            signatureTab.click();
            signatureTab.dispatchEvent(new Event('change', { bubbles: false }));

            refillsOption.checked = true;
            refillsOption.click();
            refillsOption.dispatchEvent(new Event('change', { bubbles: false }));

            observer.disconnect();
          }
        });

        observer.observe(document.body, { childList: true, subtree: true });

        setTimeout(() => {
          const signatureTab = document.querySelector('.gp--product-variants input[data-variantclass="variant_4"]');
          if (signatureTab) {
            signatureTab.checked = true;
            signatureTab.click();
            signatureTab.dispatchEvent(new Event('change', { bubbles: false }));

            refillsOption.checked = true;
            refillsOption.click();
            refillsOption.dispatchEvent(new Event('change', { bubbles: false }));
          }
        }, 500);
      }
    }
  });
</script>
