<style>
  .full-width-banner {
    display: flex;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 55%;
  }

  .collection-details {
    padding: 0;
    margin: 0px 0px;
  }

  .collection-title .heading-2 {
    font-size: 28px !important;
    font-family: "Lausanne" !important;
    font-weight: 200 !important;
    letter-spacing: 0.42px !important;
  }

  .collection-filters {
    justify-content: center;
  }

  .collection-filter-top.onscroll {
    position: relative;
    width: 100%;
    background: #ffffffff;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  .collection-filter-top {
    padding-top: 80px;
  }

  .collection-filter-block .collection-details {
    margin-top: 0px;
  }
  
  .collection-filter-block .colletion-products {
    padding-bottom: 80px !important;
    margin: 0;
  }

  .colletion-products {
    margin-bottom: 32px;
  }

  .colletion-products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }

  .colletion-products-list .colletion-product {
    width: 100% !important;
    margin: 0 !important;
  }

  #body .collections-page .container {
    padding: 0px 112px !important;
    padding-bottom: 80px !important;
    max-width: 1440px !important;
  }

  #body .collections-page .collection-filter-top .container {
    padding-bottom: 32px !important;
  }
  
  .collection-filter-block {
    margin-top: 0;
  }

  .collections-page-title {
    margin: auto;
    margin-bottom: 0;
    width: 100%;
    max-width: 1440px;
  }

  .collections-page-title h2 {
    font-size: 40px;
    color: #0C231F;
    margin-top: auto;
    padding: 0px 112px 32px 112px;
    line-height: 50px;
  }

  .okeReviews[data-oke-container].oke-sr .oke-sr-count {
    color: #616161;
    font-family: "Lausanne";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }

  .oke-sr-stars {
    margin-right: 4px;
  }

  :root {
    --oke-stars-foregroundColor: #E9B88B;
  }

  @media (max-width: 1280px) {
    .colletion-products-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .full-width-banner {
      height: 80px;
    }

    #body .collections-page .container {
      padding: 0px 16px !important;
    }

    .collection-filter-top {
      padding-top: 32px;
    }

    .collections-page-title h2 {
      font-size: 32px;
      color: #0C231F;
      padding: 0px;
      line-height: 40px;
      padding: 0px 16px;
      margin-bottom: 32px;
    }

    .collection-details {
      padding: 0;
      margin: 32px 0px 24px 0px;
    }

    .colletion-products-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }
</style>

<!-- Full-width image banner -->
<div class="collections-page">
  <div
    class="full-width-banner"
    style="background-image: url('{{ section.settings.banner_image | image_url: width: 2400 }}');"
  >
    <div class="collections-page-title mobile-hide">
      <h2 class="font-gtsuper fw-400">Collections</h2>
    </div>
  </div>
  
  <div class="collection-filter-top">
    <div class="collections-page-title desktop-hide">
      <h2 class="font-gtsuper fw-400">Collections</h2>
    </div>
    <div class="container">
      <div class="collection-filters d-flex justify-content-start font-pier no-scroll">
        <a
          href="{{ section.settings.collectionFiltersurl }}"
          class="collection-link {% if pageHandle == collectionHandle %} {% assign seo_t = block.settings.seo_title %}{% endif %}"
        >
          {{ section.settings.collectionFilterstitle }}
        </a>
        {% render 'collection-filters' %}
      </div>
    </div>
  </div>
  
  <div class="collection_Title" style="background:{{ section.settings.bgColor }}">
    <div class="container">
      <div class="collection-details theme-text text-center">
        <div class="collection-title w-50 mx-auto">
          <h2 class="heading-2 fw-200">{{- collection.title | escape -}}</h2>
          <p class="normal-text">{{ collection.description }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="colletion-products">
      <div class="colletion-products-list font-pier">
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t }}
              </h2>
            </div>
          </div>
        {%- else -%}
          {%- for product in collection.products -%}
            {% assign lazy_load = false %}
            {%- if forloop.index > 2 -%}
              {%- assign lazy_load = true -%}
            {%- endif -%}
  
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              lazy_load: lazy_load
            %}
            {% render 'bundle-collection',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              lazy_load: lazy_load
            %}
          {%- endfor -%}
        {% endif %}
      </div>
    </div>
  
    {% for block in section.blocks %}
      {% if block.type == 'collection' %}
        {% assign pageHandle = collection.url | handle %}
        {% assign collectionHandle = block.settings.collectionfor.url | handle %}
        {% if pageHandle == collectionHandle %}
          <div class="colletion-products">
            <div class="collection-title position-relative">
              <h2 class="heading-2 theme-text">{{ block.settings.whichcollection.title }}</h2>
            </div>
            <div class="colletion-products-list font-pier">
              {%- if block.settings.whichcollection.products.size == 0 -%}
                <div class="collection collection--empty page-width" id="product-grid" data-id="{{ block.id }}">
                  <div class="loading-overlay gradient"></div>
                  <div class="title-wrapper center">
                    <h2 class="title title--primary">
                      {{ 'sections.collection_template.empty' | t }}
                    </h2>
                  </div>
                </div>
              {%- else -%}
                {%- for product in block.settings.whichcollection.products -%}
                  {% assign lazy_load = false %}
                  {%- if forloop.index > 2 -%}
                    {%- assign lazy_load = true -%}
                  {%- endif -%}
  
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load
                  %}
                  {% render 'bundle-collection',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load
                  %}
                {%- endfor -%}
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<script>
  if (window.location.pathname === '/collections/black-friday-secret-sale') {
    window.location.href = '/collections';
  }
</script>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "bgColor",
      "label": "Title Background Color"
    },
    {
      "type": "text",
      "id": "collectionFilterstitle",
      "label": "Collection Title"
    },
    {
      "type": "url",
      "id": "collectionFiltersurl",
      "label": "Collection Link"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    }
  ],
  "blocks": [
    {
      "type": "Filters",
      "name": "Collection filters",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Filter Label"
        },
        {
          "type": "collection",
          "id": "collectionFilters",
          "label": "Select Collection"
        }
      ]
    },
    {
      "type": "collection",
      "name": "Add Collection products",
      "settings": [
        {
          "type": "collection",
          "id": "collectionfor",
          "label": "For Which Collection"
        },
        {
          "type": "collection",
          "id": "whichcollection",
          "label": "Add Collection"
        }
      ]
    }
  ]
}
{% endschema %}
