{% assign image = section.settings.image %}
<style>
  .credentials{
    position:relative;
    {% if section.settings.width == "full-width" %}
    &:before{
      content:'';
      position:absolute;
      width:50%;
      height:100%;
      right:0;
      top:0;
      background-image:url({{image | img_url : "1200x"}});
      background-size:cover;
    }
    {% endif %}
  }
  .credentials .container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    padding: 80px 112px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  .credentials .credentials-details {
    width: 100%;
    max-width: 540px;
    padding:80px 0;
  }

  .credentials .title {
    color: #0c231f;
    font-family: "GT Super";
    font-size: 40px;
    font-style: normal;
    line-height: 1.25;
    margin-bottom: 32px;
  }

  .credentials .credentials-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 32px;
  }

  .credentials .detail {
    width: 100%;
    max-width: 175px;
    color: #212121;
    font-family: 'Lausanne';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
  }

  .credentials .number {
    width: 100%;
    color: #212121;
    font-family: 'Lausanne';
    font-size: 72px;
    font-style: normal;
    font-weight: 300;
    line-height: 90px;
    letter-spacing: -1.44px;
    margin: 0;
  }

  .credentials .credentials-image-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 592px;
    height: 428px;
    {% if section.settings.width == "full-width" %}
    opacity:0;
    {% endif %}
  }

  .credentials .credentials-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius:4px;
  }

  .credentials .credentials-image-wrapper picture {
      width: 100%;
  }

  .credentials .credential .divider {
    display: none;
    border-top: 1px solid #D4D5D7;
    margin-top: 16px;
    height:1px;
  }

  .credentials .duplicate {
    display: none;
  }
  
  
  @media only screen and (max-width: 968px) {
    .credentials:before{
      display:none;
    }
    .credentials .container {
      flex-direction: column;
      padding: 0;
      align-items: center;
      gap: 0;
    }

    .credentials .title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 16px;
      letter-spacing: normal;
    }
{% if section.settings.mobile_slider %}
    .credentials .credentials-grid-wrapper {
      height: 140px;
      overflow: hidden;
    }
  {% endif %}
    
    .credentials .credentials-grid {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      gap: 0 !important;
    }

    .credentials .duplicate {
      display: block;
    }

    .credentials .number {
      
    }

    .credentials .detail {
      max-width: 100%;
      font-size:16px;
    }

    .credentials .credential .divider {
      display: block;
    }

    .credentials .credentials-image-wrapper {
      {% if section.settings.before_content %}
      order: -1;
      {% endif %}
      {% if section.settings.width == "full-width" %}
      width: calc(100% + 30px);
      margin-left:-15px;
      margin-right:-15px;
      height: 375px;
      max-width: none;
      {% else %}
        width:100%;
        height:auto;
        padding-top:32px;
      {% endif %}
     opacity:1;
    }

    .credentials .credentials-details {
      margin-right: 0;
      padding: 32px 0px;
      width: 100%;
    }

    .credentials .credentials-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .credentials .credentials-image-wrapper picture {
      width: 100%;
    }
   {% if section.settings.mobile_slider %}
    .credentials .animate {
      animation: slide var(--credential-animation-duration) linear infinite;
    }
  {% endif %}
  }

  :root {
    --credential-count: {{ section.blocks.size }};
    --credential-animation-duration: calc((var(--credential-count) + 1) * 2.5s);
  }

  @keyframes slide {
    {% assign total_credentials = section.blocks.size | plus: 1 %}
    {% assign interval = 100 | divided_by: section.blocks.size %}
    {% for i in (0..section.blocks.size) %}
      {{ i | times: interval }}% { transform: translateY(calc(-{{ i }} * 100% / {{ total_credentials }})); }
      {{ i | times: interval | plus: interval | minus: 3 }}% { transform: translateY(calc(-{{ i }} * 100% / {{ total_credentials }})); }
    {% endfor %}
    100% { transform: translateY(calc(-{{ section.blocks.size }} * 100% / {{ total_credentials }})); }
  }


  #section_{{section.id }} .credentials-grid .credential{
  position:relative;}
  #section_{{section.id }} .credentials-grid .credential:before{
    content:'';
    position:absolute;
    width:100%;
    height:1px;
    background:#424242;
    bottom:-12px;
    left:0;
  }
  #section_{{section.id }} .credentials-grid .credential:nth-child(odd):before{
  width:calc(100% + 40px)
  }
  @media(max-width:968px){
    #section_{{section.id }} .credentials-grid .credential:before{
    bottom:8px;
    }
  }
  @media(max-width:768px){
    #section_{{section.id }} .credentials-grid .credential:before{
  display:none;
  }
  #section_{{section.id }}  .credential .divider{
  border-top-color:#424242;}
  }
</style>


<div id="section_{{section.id }}" class="credentials" style="background-color:{{section.settings.background}} !important;">
  <div class="container">
    <div class="credentials-details">
      <h2 class="title">{{ section.settings.title }}</h2>
      <div class="credentials-grid-wrapper">
        <div class="credentials-grid">
          {% for credential in section.blocks %}
            <div class="credential">
              <p class="number">{{ credential.settings.number }}</p>
              <p class="detail">{{ credential.settings.detail }}</p>
              <hr class="divider" />
            </div>
          {% endfor %}
          <!-- Duplicate the first credential to make the transition smooth -->
          {% if section.settings.mobile_slider %}
          {% assign first_credential = section.blocks.first %}
          <div class="credential duplicate">
            <p class="number">{{ first_credential.settings.number }}</p>
            <p class="detail">{{ first_credential.settings.detail }}</p>
            <hr class="divider" />
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="credentials-image-wrapper">
      <picture>
        
        <source media="(min-width:769px)" srcset="{{ image | img_url: '1200x', crop: 'center' }}">
        <source media="(max-width:768px)" srcset="{{ image | img_url: '1200x', crop: 'center' }}">
        <img
          data-id="{{ image.id }}"
          class="credentials-image"
          width="100%"
          height="100%"
          src="{{ image | img_url: '1200x' }}"
          alt="{{ image.alt }}"
        >
      </picture>
    </div>
  </div>
</div>

{% if section.settings.mobile_slider %}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    // When the observed elements enter the viewport apply the `animate` class
    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if(entry.isIntersecting) {
          entry.target.classList.add("animate");

          // Unobserve to prevent retriggering
          observer.unobserve(entry.target);
        }
      });
    });

    // Set the element with class `credentials-grid` to be observed
    const credentialsGrid = document.querySelector(".credentials .credentials-grid");
    if(credentialsGrid) {
      observer.observe(credentialsGrid);
    }
  });
</script>
{% endif %}

{% schema %}
{
  "name": "Credentials Reskin",
  "settings": [
    {
            "type": "select",
             "id": "width",
             "label": "Section Width",
             "options": [
                {
                    "value": "full-width",
                    "label" : "Full Width"
                },
                {
                    "value": "fix-width",
                    "label" : "Fix Width"
                }
             ],
             "default": "full-width"
        },
    {
      "id": "before_content",
      "label": "image before content in mobile",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "background",
      "label": "Background color",
      "type": "color"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title",
      "default": "We're building the perfect formula for you and your home"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Add Image"
    },
    {
      "type": "checkbox",
      "id": "mobile_slider",
      "label": "Enable mobile slider",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "credential",
      "name": "Credential",
      "settings": [
        {
          "type": "text",
          "id": "number",
          "label": "Credential Number",
          "default": "4+"
        },
        {
          "type": "text",
          "id": "detail",
          "label": "Credential Details",
          "default": "years of research and development"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Credentials Reskin"
    }
  ]
}
{% endschema %}