<div class="main-banner home-page-banner-1 main-banner{{ section.id }} banner-2 {{ section.settings.mobileImgLoc }} {{ section.settings.class }}">
  <div class="banner-text-wrapper">
    <div class="container">
      {% if section.settings.enablelink %}
        <div class="banner-text ">
          <div class="banner-review font-pier {% if section.settings.reviewShow %}mobile-hide {% endif %}">
            <span class="star-img">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                <defs><style>.cls-w{fill:{{ section.settings.titlecolor }};}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-w" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
              </svg>
            </span>
            <span class="star-img">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                <defs><style>.cls-w{fill:{{ section.settings.titlecolor }};}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-w" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
              </svg>
            </span>
            <span class="star-img">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                <defs><style>.cls-w{fill:{{ section.settings.titlecolor }};}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-w" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
              </svg>
            </span>
            <span class="star-img">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                <defs><style>.cls-w{fill:{{ section.settings.titlecolor }};}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-w" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
              </svg>
            </span>
            <span class="star-img">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                <defs><style>.cls-w{fill:{{ section.settings.titlecolor }};}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-w" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
              </svg>
            </span>
            <span class="total-reviews" style="color:{{ section.settings.titlecolor }}">
              Over ({{ settings.gloabalreviews }}+ reviews)</span
            >
          </div>

          <div class="text-wrapper">
            <h1 class="heading-1 font-value m-0 mb-3" style="color:{{ section.settings.titlecolor }}">
              {{ section.settings.title }}
            </h1>
            {% if section.settings.subtext %}
              <p class="font-pier" style="color:{{ section.settings.subtextcolor }}">{{ section.settings.subtext }}</p>
            {% endif %}
          </div>
          {% if section.settings.link %}
            <div class="banner-btn-wrapper text-center">
              {% if section.settings.linkText != '' %}
                <span class="click-scroll btn banner-btn theme-btn w-100 " data-target="{{section.settings.linkText}}"
                  ><span>{{ section.settings.btnText }}</span></span
                >
              {% else %}
                <a href="{{ section.settings.link }}" class="btn banner-btn theme-btn w-100 btn-loader"
                  ><span>{{ section.settings.btnText }}</span></a
                >
              {% endif %}
              {% if settings.freeshipping %}
                <br>
                <small class="font-pier my-1 d-inline-block theme-text"
                  ><img
                    width="25px"
                    height="25px"
                    style="margin-right:15px; display:inline-block; vertical-align:middle;"
                    src="{{ 'delivery-2.png' | asset_url }}"
                  >
                  <span style="display:inline-block; vertical-align:middle;" class="theme-text">
                    {{- section.settings.btnSubText -}}
                  </span></small
                >
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
<style>
    {%- assign DimageURL = section.settings.desktopimage | img_url:"2400x" -%}
    {%- assign MimageURL = section.settings.mobileimage | img_url:"768x" -%}
    .main-banner{{ section.id }}{background-image:url({{DimageURL}})}
    .banner-btn{color:{{section.settings.textcolor}};background-color:{{section.settings.bgcolor}}; border-color:{{section.settings.bgcolor}};}
    @media(max-width:768px){.main-banner{{ section.id }}{background-image:url({{MimageURL}})}}
    .banner-2 .heading-1{
      font-size:32px;
    }
      @media(max-width:768px){
      .banner-2 .banner-text-wrapper{
       height:calc(100% - 80px);
      }
        .banner-2 .banner-text .heading-1{
      font-size:25px !important;
  /*     margin-top:15px !important; */
    }
    .main-banner.banner-2.img-top .banner-text{
      position:absolute;
      left:50%;
      transform:translateX(-50%);
      max-width:90%;
      bottom:50px;
    }
    .main-banner.banner-2.img-top .banner-text .banner-btn-wrapper,
    .main-banner.banner-2.img-bottom .banner-text .banner-btn-wrapper{
      position:relative;
      bottom:0;
      max-width: 90%;
      width: 400px;
    }
      }
</style>
{% schema %}
{
  "name": "Homepage Banner 1",
  "settings": [
    {
      "id": "class",
      "label": "Section class",
      "type": "text"
    },
    {
      "id": "desktopimage",
      "label": "Desktop Image",
      "type": "image_picker"
    },
	{
      "id": "mobileimage",
      "label": "Mobile Image",
      "type": "image_picker"
    },
    {
            "type": "select",
            "id": "mobileImgLoc",
            "label": "Mobile Image position",
            "options": [
              {
                "value": "img-top",
                "label": "Top image"
              },
              {
                "value": "img-center",
                "label": "Middle Image "
              },
              {
                "value": "img-bottom",
                "label": "Bottom Image "
              }
            ],
          "default": "img-center"
    },
	{
      "id": "enablelink",
      "label": "Enable Banner Text",
      "type": "checkbox"
	},
    {
      "id": "reviewShow",
      "label": "Hide Banner Review Mobile",
      "type": "checkbox",
      "default" : false
	},
	{
      "id": "title",
      "label": "Banner Title",
      "type": "text"
    },
    {
      "id": "titlecolor",
      "label": "Title text color",
      "type": "color",
      "default":"#ffffff"
	},
	{
      "id": "subtext",
      "label": "Banner Sub Text",
      "type": "textarea"
    },
    {
      "id": "subtextcolor",
      "label": "Sub Text color",
      "type": "color",
      "default":"#ffffff"
	},
{
      "id": "btnText",
      "label": "Button Label",
      "type": "text",
	  "default" : "SHOP NOW"
	},
	{
      "id": "link",
      "label": "Link",
      "type": "url"
	},
    {
      "id": "linkText",
      "label": "Scroll to Section",
      "type": "text"
	},
{
      "id": "textcolor",
      "label": "Button text color",
      "type": "color"
	},
{
      "id": "bgcolor",
      "label": "Button Background color",
      "type": "color"
	},
{
      "id": "btnSubText",
      "label": "Button Sub Text",
      "type": "text"
	}
  ],
  "presets": [
		{
			"name": "Homepage Banner 1"
		}
	]
}
{% endschema %}
