<div class="product-info product-info-2 hero-video-1 {{ section.settings.class }}">
  <div class="product-info-inner d-flex flex-wrap mx-0 px-0 align-items-center justify-content-between">
    <div class="w-50 d-flex align-items-center justify-content-center">
      <div class="product-container">
        <h1 class="mb-0-5rem value-pro" style="color:{{ section.settings.content_color }};">
          {{ section.settings.section_heading }}
        </h1>
        <div class="product-content-container">
          <div
            class="d-flex align-items-center mb-1-5rem product-review {% if section.settings.scrollto !=''%}click-scroll{% endif %}"
            {% if section.settings.scrollto != '' %}
              data-target="{{ section.settings.scrollto }}"
            {% endif %}
          >
            <img src="{{'review-icon-2.svg' | asset_url}}" width="70px" height="14px" alt="">
            <span class="product-review-title ms-2 value-sans">
              {{- section.settings.reviewtitle -}}
            </span>
          </div>
          <h4 class="product-subheading value-sans">
            {{ section.settings.subheading }}
          </h4>
          <div class="product-blocks-container">
            {% for block in section.blocks %}
              {% if block.type == "product_benefits" %}
                <div class="d-flex align-items-center product-blocks mb-1 value-sans">
                  <span class="d-flex align-items-center me-2"
                    ><img src="{{'checkbox-circle-icon-2.svg' | asset_url}}" width="24px" height="24px" alt=""
                  ></span>
                  <span>{{ block.settings.title }}</span>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="product-cta-container w-100">
            {% if section.settings.btnLink %}
              <div class="d-flex flex-column w-100">
                <a
                  href="{{section.settings.btnLink}}"
                  class="buy-btn w-100 value-sans d-inline-block text-center"
                  {% if section.settings.dataTrack %}
                    data-tracked="true"
                    data-page-url="{{ request.path }}"
                    data-target-url="{{ section.settings.targetUrl }}"
                    data-index="{{ section.settings.index }}"
                    data-funnel-stage="{{ section.settings.funnel_stage }}"
                    data-module="{{ section.settings.dataModule }}"
                    data-event-label="{{ section.settings.eventLabel }}"
                    data-event-value="{{ section.settings.eventValue }}"
                    data-item-id="{{ section.settings.itemId }}"
                    data-option-index="{{ section.settings.optionIndex }}"
                    data-item-name="{{ section.settings.ItemName }}"
                  {% endif %}
                >
                  {{ section.settings.btnLabel }}
                </a>

                {% if section.btnLink2 != blank %}
                  <a
                    href="{{section.settings.btnLink2}}"
                    class="products-btn all-products w-100 value-sans d-inline-block text-center"
                    {% if section.settings.dataTrack %}
                      data-tracked="true"
                      data-page-url="{{ request.path }}"
                      data-target-url="{{ section.settings.targetUrl2 }}"
                      data-index="{{ section.settings.index }}"
                      data-funnel-stage="{{ section.settings.funnel_stage }}"
                      data-module="{{ section.settings.dataModule }}"
                      data-event-label="{{ section.settings.eventLabel2 }}"
                      data-event-value="{{ section.settings.eventValue2 }}"
                      data-item-id="{{ section.settings.itemId }}"
                      data-option-index="{{ section.settings.optionIndex }}"
                      data-item-name="{{ section.settings.ItemName }}"
                    {% endif %}
                  >
                    {{ section.settings.btnLabel2 }}
                  </a>
                {% endif %}
              </div>
            {% else %}
              <button
                class="buy-btn col-12 col-md-10 mb-2 value-sans click-scroll"
                data-target="{{ section.settings.scrollID }}"
                {% if section.settings.dataTrack %}
                  data-tracked="true"
                  data-page-url="{{ request.path }}"
                  data-target-url="{{ section.settings.targetUrl }}"
                  data-index="{{ section.settings.index }}"
                  data-funnel-stage="{{ section.settings.funnel_stage }}"
                  data-module="{{ section.settings.dataModule }}"
                  data-event-label="{{ section.settings.eventLabel }}"
                  data-event-value="{{ section.settings.eventValue }}"
                  data-item-id="{{ section.settings.itemId }}"
                  data-option-index="{{ section.settings.optionIndex }}"
                  data-item-name="{{ section.settings.ItemName }}"
                {% endif %}
              >
                {{ section.settings.btnLabel }}
              </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 image-container">
        <div class="video-wrapper" style="">
          {% for block in section.blocks %}
            {% if block.type == "desktop_video" %}
              {% assign media_mp4 = block.settings.mp4_video  %}
              {% assign video_url_mp4 = media_mp4.preview_image.src | replace: "files/preview_images/", "" | split: "." %}
              {% assign video_url_mp4 = "https://cdn.shopify.com/videos/c/o/v/" | append: video_url_mp4[0] | append:".mp4"  %}

              {% assign media_webm = block.settings.webm_video  %}
              {% assign video_url_webm = media_webm.preview_image.src | replace: "files/preview_images/", "" | split: "." %}
              {% assign video_url_webm = "https://cdn.shopify.com/videos/c/o/v/" | append: video_url_webm[0] | append:".webm"  %}

              <video class="desktop-video" autoplay muted loop playsinline poster="{{ media_mp4.preview_image | img_url: 'master', format: 'pjpg' }}">
                <source src="{{ video_url_mp4 }}" type="video/mp4">
                <source src="{{ video_url_webm }}" type="video/webm">
              </video>
            {% endif %}

            {% if block.type == "mobile_video" %}
              {% assign media_mp4 = block.settings.mp4_video  %}
              {% assign video_url_mp4 = media_mp4.preview_image.src | replace: "files/preview_images/", "" | split: "." %}
              {% assign video_url_mp4 = "https://cdn.shopify.com/videos/c/o/v/" | append: video_url_mp4[0] | append:".mp4"  %}

              {% assign media_webm = block.settings.webm_video  %}
              {% assign video_url_webm = media_webm.preview_image.src | replace: "files/preview_images/", "" | split: "." %}
              {% assign video_url_webm = "https://cdn.shopify.com/videos/c/o/v/" | append: video_url_webm[0] | append:".webm"  %}

              <video class="mobile-video" autoplay muted loop playsinline poster="{{ media_mp4.preview_image | img_url: 'master', format: 'pjpg' }}">
                <source src="{{ video_url_mp4 }}" type="video/mp4">
                <source src="{{ video_url_webm }}" type="video/webm">
              </video>
            {% endif %}
          {% endfor %}
        </div>
        <!--<div class="image-bg"></div>-->
    </div>
  </div>
  <div class="usps d-flex">
    <div class="d-flex justify-content-center column">
      <span class="d-flex align-items-center me-2"
        ><img src="{{'icon-delivery.svg' | asset_url}}" width="21px" height="20px" alt=""
      ></span>
      <span class="ms-2">Free delivery with orders over £40</span>
    </div>
    <div class="d-flex justify-content-center column">
      <span class="d-flex align-items-center me-2"
        ><img src="{{'icon-money.svg' | asset_url}}" width="21px" height="20px" alt=""
      ></span>
      <span class="ms-2">Money Back Guarantee</span>
    </div>
    <div class="d-flex justify-content-center column">
      <span class="d-flex align-items-center me-2"
        ><img src="{{'icon-cube.svg' | asset_url}}" width="21px" height="20px" alt=""
      ></span>
      <span class="ms-2">Eco Packaging</span>
    </div>
  </div>
</div>

{% style %}
  .hero-video-1 .desktop-video {
    display: block;
  }
  
  .hero-video-1 .mobile-video {
    display: none;
  }
  
  .hero-video-1 .video-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-position: center;
  }
  
  .hero-video-1 .video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero-video-1 h1 {
    letter-spacing: -0.546px;
    line-height: 50.4px;
  }

  .hero-video-1 .usps {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 12px;
  }

  .hero-video-1 {
    margin-top: 56px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-video-1 .product-info-inner {
    padding-left: 112px !important;
    padding-right: 112px !important;
    min-height: 562px !important;
  }

  .hero-video-1 .product-content-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
  }

  .hero-video-1 .product-review {
    justify-content: left !important;
  }

  .hero-video-1 .product-blocks-container {
    order: 1;
    margin-bottom: 1.5rem;
  }

  .hero-video-1 .product-subheading {
    order: -1;
    margin-bottom: 16px;
  }

  .hero-video-1 .product-cta-container {
    order: 2;
  }

  .hero-video-1 .column {
    flex: 1;
    text-align: center;
  }

  .hero-video-1 .image-container {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    margin-top: 32px;
    height: 562px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .hero-video-1 .image-bg {
    background-image: url('{{ section.settings.image | img_url: "1900x" }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
  }

  .hero-video-1 .product-container {
    max-width: 488px;
    background-color: #fff;
    margin-right: auto;
    padding: 32px;
  }

  .hero-video-1 .product-subheading {
    color: #344054;
    font-size: 24px !important;
    line-height: 30px;
  }

  .hero-video-1 .product-review-title {
    color: #101828;
    font-size: 16px !important;
  }

  .hero-video-1 .product-benefit {
    color: #101828;
    font-size: 16px !important;
  }

  .hero-video-1 .product-blocks span {
    font-size: 16px !important;
  }

  .hero-video-1 .mb-0-5rem {
    margin-bottom: 0.5rem;
  }

  .hero-video-1 .mb-1-5rem {
    margin-bottom: 1.5rem;
  }

  .hero-video-1 .mb-2rem {
    margin-bottom: 2rem;
  }

  .hero-video-1 .buy-btn {
    margin-right: 1rem;
  }

  .hero-video-1 .buy-btn:hover {
    background-color: #203271 !important;
  }

  .hero-video-1 .products-btn {
    display: none;
  }

  .hero-video-1 .buy-btn, .hero-video-1 .products-btn {
    height: 100%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
  }

  .hero-video-1 .products-btn {
    font-size: 16px;
    padding: 10px;
    color: #101828;
    border-radius: 500px;
    border: 1.5px solid #334FB4;
    background: #FFF;
  }

  @media (min-width: 1720px) {
    .hero-video-1 .video-wrapper video {
      object-position: 0 -130px;
    }
  }

  @media (max-width: 995px) {
    .hero-video-1 .product-info-inner {
      padding-left: 32px !important;
      padding-right: 32px !important;
    }

    .hero-video-1 h1 {
      font-size: 30px !important;
      letter-spacing: -0.39px;
      line-height: 36px;
    }

    .hero-video-1 .product-subheading {
      font-size: 20px !important;
      line-height: 25px;
    }
  }

  @media (max-width: 768px) {
    .hero-video-1 .desktop-video {
      display: none;
    }
    
    .hero-video-1 .mobile-video {
      display: block;
    }

    .hero-video-1 .video-wrapper {
      object-position: top;
    }
    
    .hero-video-1 .product-info-inner {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .hero-video-1 .products-btn {
      display: block;
    }

    .hero-video-1 .d-flex.flex-column {
      flex-direction: column;
    }

    .hero-video-1 .buy-btn {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 768px) {
    .video-wrapper video {
      object-position: top;
    }
    
    .hero-video-1 {
      position: relative;
      margin-top: 0px;
    }

    .hero-video-1 .product-review {
      order: -1;
    }

    .hero-video-1 .product-subheading {
      order: 0;
    }

    .hero-video-1 .product-cta-container {
      order: 1;
      margin-bottom: 16px;
    }

    .hero-video-1 .product-blocks-container {
      order: 2;
      margin-bottom: 0px !important;
    }

    .hero-video-1 .product-container {
      margin-top: 374px;
      margin-left: 0px;
      margin-right: 0px;
      padding: 16px !important;
    }

    .hero-video-1 .usps {
      display: none;
    }

    .hero-video-1 .image-container {
      top: 0px;
      order: -1;
      margin-top: 40px;
      padding: 0px;
      height: 100%;
      flex-shrink: 0;
    }

    .hero-video-1 .image-bg {
      transform: scale(1.45);
      background-image: url('{{ section.settings.mobile_image | img_url: "1900x" }}');
      background-position: center -75px !important;
    }
  }

  @media (max-width: 413px) {
    .hero-video-1 .image-bg {
      background-position: 0px -70px !important;
    }
  }

  @media (max-width: 400px) {
    .hero-video-1 .image-bg {
      background-position: 0px -55px !important;
    }
  }

  @media (max-width: 380px) {
    .hero-video-1 .image-bg {
      background-position: 0px -40px !important;
    }
  }

  @media (max-width: 350px) {
    .hero-video-1 .image-bg {
      background-position: 0px -10px !important;
    }
  }

  @media (min-width: 769px) {
    .hero-video-1 .image-container {
      width: 100%;
      order: 2;
      margin-top: 0;
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "Homepage Banner A/B Var 3",
    "settings": [
      {
        "type": "text",
        "id": "scrollto",
        "label": "Scroll To Section"
      },
      {
        "type": "text",
        "id": "class",
        "label": "custom class to add"
      },
      {
        "type": "text",
        "id": "reviewtitle",
        "label": "Enter review title",
        "default": "product review text"
      },
      {
        "type": "text",
        "id": "section_heading",
        "label": "Enter section heading",
        "default": "your section heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Enter section sub-heading",
        "default": "your section sub-heading"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Choose product image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Choose product image for mobile"
      },
      {
        "type": "color",
        "id": "content_color",
        "label": "Choose content color",
        "default": "#334FB4"
      },
      {
        "type": "text",
        "id": "btnLabel",
        "label": "Button Label",
        "default": "Shop Now & SAVE 50%"
      },
      {
        "type": "text",
        "id": "scrollID",
        "label": "Scroll Section Id"
      },
      {
        "type": "url",
        "id": "btnLink",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "btnLabel2",
        "label": "Button Label 2",
        "default": "All Products"
      },
      {
        "type": "url",
        "id": "btnLink2",
        "label": "Button Link 2"
      },
      {
        "type": "header",
        "content": "GA4"
      },
      {
        "id": "dataTrack",
        "label": "Data Track",
        "type": "checkbox"
      },
      {
        "id": "targetUrl",
        "label": "Target Url",
        "type": "url"
      },
      {
        "id": "targetUrl2",
        "label": "Target Url 2",
        "type": "url"
      },
      {
        "id": "index",
        "label": "Index",
        "type": "number",
        "default": 0
      },
      {
        "id": "funnel_stage",
        "label": "Funnel Stage",
        "type": "text",
        "default": "hp"
      },
      {
        "id": "dataModule",
        "label": "Module",
        "type": "text",
        "default": "hero"
      },
      {
        "id": "eventLabel",
        "label": "Event Label",
        "type": "text",
        "default": "get_started"
      },
      {
        "id": "eventLabel2",
        "label": "Event Label 2",
        "type": "text",
        "default": "shop_all"
      },
      {
        "id": "eventValue",
        "label": "Event Value",
        "type": "text",
        "default": "shop_anchor"
      },
      {
        "id": "eventValue2",
        "label": "Event Value 2",
        "type": "text",
        "default": "shop_anchor"
      },
      {
        "id": "itemId",
        "label": "Item Id",
        "type": "text"
      },
      {
        "id": "optionIndex",
        "label": "Option Index",
        "type": "text"
      },
      {
        "id": "ItemName",
        "label": "Item Name",
        "type": "text"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "type": "product_benefits",
        "name": "product benefits",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Enter product benefit",
            "default": "your product benefit"
          }
        ]
      },
      {
        "type": "desktop_video",
        "name": "Desktop Video",
        "settings": [
          {
            "type": "video",
            "id": "mp4_video",
            "label": "MP4"
          },
          {
            "type": "video",
            "id": "webm_video",
            "label": "WEBM"
          }
        ]
      },
      {
        "type": "mobile_video",
        "name": "Mobile Video",
        "settings": [
          {
            "type": "video",
            "id": "mp4_video",
            "label": "MP4"
          },
          {
            "type": "video",
            "id": "webm_video",
            "label": "WEBM"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Homepage Banner AB Var 3"
      }
    ]
  }
{% endschema %}