<style>
body.overflow-hidden{
  overflow:hidden;
}

      .copy-cotainer {
        padding-top: 80px;
      }
      
        .step {
            margin-bottom: 48px;
        }
        .step-copy {
            padding-left: 32px;
        }
        .step-title {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 12px;
        }
        .step-description {
            font-size: 18px;
            color: #212121;
            font-weight: 200;
        }
        .image-section {
            text-align: center; /* Center the image */
          position: relative;
        }
        .image-section img {
            /* max-width: 592px; */
            height: auto;
        }
     
        .step-content {
            position: relative; /* Needed for vertical line positioning */
          
            display: flex;
            flex-direction: row;
        }
        .nav-tabs .nav-item .nav-link {
            font-size: 24px;
            color: #000;
        }
        .nav-tabs .nav-item .nav-link.active {
            border-bottom: 2px solid #000;
        }
        .nav-tabs {
            border-bottom: none;
        }


        .heading-on-img {
            position: absolute;
            left: 32px;
            bottom: 48px;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            color: #fff;
            font-family: "GT Super" !important;
            margin: 0px !important;
        }

      @media (max-width: 1080px) {
        .row {
          display: flex;
          flex-direction: column-reverse; /* Reverses the order of flex items */
        }
      
        .image-section, .col-md-6 { /* Target both the image section and the steps section */
          width: 100%; /* Make them take full width on mobile */
        }
        .copy-cotainer {
            padding-top: 24px;
            padding-inline: 16px;
        }
        .step {
            margin-bottom: 32px;
        }
        .step-title {
            font-size: 20px;
            margin-bottom: 4px;
        }
        .step:last-child {
          margin-bottom: 0;
        }
        .step-description {
          font-size: 16px;
        }
        .heading-on-img {
            font-size: 28px;
            bottom: 24px;
        }
        .pf-tabs-wrapper {
            margin-bottom: 16px;
        }
        .pf-tab-content .mt-4 { 
          margin-top: 0px !important;
        }
        .heading-2-wrapper {
            margin-bottom: 1rem !important;
        }
        .pf-tab {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          letter-spacing: 1px;
          text-transform: uppercase;
        }
        .image-section img {
            /* max-width: 358px;
            height: 301px; */
        }
        .step-image img {
          width: 48px;
          height: 48px;
        }
        .step-copy {
            padding-left: 8px;
        }
      }
  
    </style>
<div class="signature-seasonal-tabs" style="padding-bottom:32px;">
  <div class="container">
    <div class="">
     <div class=" mb-4 container heading-2-wrapper">
      
        <h2 class="heading-2 blue-text-3 mt-0 text-center value-bold ">
         {{ section.settings.heading }}
        </h2>
      
    </div>   
    </div>
    <div class="pf-tabs-wrapper">
        <span class="pf-tab hiw-tab tab-heading-1 active" data-label="{{ section.settings.tabone | handle }}" data-target="tab-1" data-current="tab-heading-1">{{ section.settings.tabone }}</span>
        <span class="pf-tab hiw-tab tab-heading-2" data-label="{{ section.settings.tabtwo | handle }}"  data-current="tab-heading-2" data-target="tab-2">{{ section.settings.tabtwo }}</span>
    </div>
    <div class="pf-tabs-content position-relative">
      <div id="hiw-tab-1" class="pf-tab-content hiw-tab-content tab-1 active">
        <div class="">
          
              
            <div class="row mt-4">
                <div class="col-md-6 copy-cotainer">
                  {% for block in section.blocks %}
                    {% if block.type == "tab-one" %}
                    <div class="step">
                        <div class="step-content">
                            <div class="step-image">
                              <img src="{{ block.settings.heading_image | image_url }}">
                            </div>
                            <div class="step-copy">
                               <div class="step-title">{{ block.settings.heading }}</div>
                               <div class="step-description">{{ block.settings.content }}</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                  {% endfor %}
                    
                </div>
                <div class="col-md-6 image-section">
                    <div>
                       <!-- <img src="{{ section.settings.t1_d_image | image_url }}"  alt="image">  -->
                      <picture>
                        <source media="(min-width:650px)" srcset="{{ section.settings.t1_d_image | image_url }}">
                        <source media="(min-width:320px)" srcset="{{ section.settings.t1_m_image | image_url }}">
                        <img src="{{ section.settings.t1_d_image | image_url }}" alt="{{ section.settings.t1_d_image | image_url }}" class="w-100 h-auto" width="300" height="250">
                      </picture>
                      <p class="mt-3 heading-on-img">{{ section.settings.t1_title }}</p>
                    </div>
                    
                </div>
        </div>
          
        </div>
      </div>
      <div id="hiw-tab-2" class="pf-tab-content tab-2 hiw-tab-content">
        <div class="">
          
              
            <div class="row mt-4">
                <div class="col-md-6 copy-cotainer">
                  {% for block in section.blocks %}
                    {% if block.type == "tab-two" %}
                    <div class="step">
                        <div class="step-content">
                            <div class="step-image">
                              <img src="{{ block.settings.heading_image | image_url }}">
                            </div>
                            <div class="step-copy">
                               <div class="step-title">{{ block.settings.heading }}</div>
                               <div class="step-description">{{ block.settings.content }}</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                  {% endfor %}
                    
                </div>
                <div class="col-md-6 image-section">
                    <div>
                      <!-- <img src="{{ section.settings.t2_d_image | image_url }}"  alt="image"> -->
                       <picture>
                        <source media="(min-width:650px)" srcset="{{ section.settings.t2_d_image | image_url }}">
                        <source media="(min-width:320px)" srcset="{{ section.settings.t2_m_image | image_url }}">
                        <img src="{{ section.settings.t2_d_image | image_url }}" alt="{{ section.settings.t2_d_image | image_url }}" class="w-100 h-auto" width="300" height="250">
                      </picture>
                      <p class="mt-3 heading-on-img">{{ section.settings.t2_title }}</p>
                    </div>
                    
                </div>
        </div>
          
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "How It Works Tabs",
    "settings": [
      {
          "type":"text",
          "id":"heading",
          "label": "Heading"
        },
        {
          "type":"text",
          "id":"tabone",
          "label": "Tab 1 Label",
          "default": "Signature"
        },
        {
          "type":"text",
          "id":"t1_title",
          "label": "Tab 1 Title",
        },
        {
          "type": "image_picker",
          "id": "t1_d_image",
          "label": "Tab 1 Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "t1_m_image",
          "label": "Tab 1 Mobile Image"
        },
        {
          "type":"text",
          "id":"tabtwo",
          "label": "Tab 2 Label",
          "default": "Seasonal"
        },
        {
          "type":"text",
          "id":"t2_title",
          "label": "Tab 2 Title",
        },
        {
          "type": "image_picker",
          "id": "t2_d_image",
          "label": "Tab 2 Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "t2_m_image",
          "label": "Tab 2 Mobile Image"
        }
    ],
    "blocks": [
      {
        "type": "tab-one",
        "name": "Tab 1",
        "settings": [ 
          {
            "type": "checkbox",
            "id": "first",
            "label": "First Block"
          },
          {
            "type": "image_picker",
            "id": "heading_image",
            "label": "Heading Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Content"
          }
        ]
      },
      {
        "type": "tab-two",
        "name": "Tab 2",
        "settings": [ 
          {
            "type": "checkbox",
            "id": "first",
            "label": "First Block"
          },
          {
            "type": "image_picker",
            "id": "heading_image",
            "label": "Heading Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "content",
            "label": "Content"
          }
        ]
      }
	],
	"presets": [
		{
			"name": "How It Works Tabs"
		}
	]
  }
{% endschema %}