<style>
  .how-to-enter-container{
    align-items:center;
  }
  .hte-steps ul{
    margin:0;
    list-style:none;
    padding:0;
  }
  .hte-step{
    padding-left:52px;
    font-size:24px;
    margin-bottom:24px;
    color:#212121;
  }
  .hte-count{
    font-size:20px;
    display:flex;
    position:absolute;
    left:0;
    top:0px;
    width:34px;
    height:34px;
    border-radius:50%;
    justify-content:center;
    align-items:center;
    color:#11322c;
    border:1px solid #11322c;
    box-shadow:2px 2px #11322c;
    background-color:#EBFFCA;
  }
  .tc_link{
    fontsize:14px;
    color:#212121;
    margin-top:8px;
    text-decoration:underline;
    display:inline-block;
  }
  .type-form-btn{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
  }
  .type-form-btn a{
    display:block;
  }
  @media(max-width:768px){
    .how-to-enter-wrapper.py-80{
      padding-top:32px !important;
      padding-bottom:32px !important;
    }
    .hte-step{
    padding-left:52px;
    font-size:20px;
    margin-bottom:18px;
  }
    #body .how-to-enter-container .heading-2{
      text-align:center;
      margin-bottom:24px !important;
    }
    .tc_link{font-size:12px;}
  }
</style>
<div class="how-to-enter-wrapper py-80" id="how-to-enter" style="background-color:{{ section.settings.background_color }}">
  <div class="container">
    <div class="how-to-enter-container d-flex flex-wrap" style="flex-direction:column;">
      <div class="w-50 m-w-100 mb-4">
        <h2 class="heading-2 font-gtsuper text-center">
          {{ section.settings.heading }}
        </h2>
      </div>
      <div class="w-50 m-w-100">
        <div class="hte-steps">
          <ul>
            {% for block in section.blocks %}
              <li class="hte-step position-relative font-lausanne fw-200">
                <span class="hte-count font-lausanne fw-400">{{ forloop.index }}</span>
                {{ block.settings.heading }}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="hte-action-able text-center">
          <div class="position-relative">
          {% if section.settings.btn_link != blank %}
          <a class="btn green-btn btn-loader font-lausanne fw-400" href="{{ section.settings.btn_link }}" style="baackground-color:{{ section.settings.btn_bg }}; color:{{ section.settings.color }}">
            {{ section.settings.btn_label }}
          </a>
            <div class="type-form-btn" data-tf-on-submit="submit" data-tf-live="01JXAJ08ECB5T4WWPCEED1PCWH"></div>
            <script src="//embed.typeform.com/next/embed.js"></script>
            
<script>
function submit({ formId, responseId }) {
  console.log(`Form ${formId} submitted, response id: ${responseId}`);
  
  // Push event to dataLayer for GTM
  dataLayer.push({
    'event': 'typeform_submission',
    'form_id': formId,
    'response_id': responseId,
    'form_name': '8th Wonder Sweepstake'
  });
}
</script>
          {% endif %}
          </div>
          {% if  section.settings.tc_link %}
          <a href="{{ section.settings.tc_link }}" target="_blank" class="tc_link font-lausanne fw-600">{{ section.settings.tc_label }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "How To Enter",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "text",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "btn_bg",
      "label": "Button Background color"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Button Text Color"
    },
    {
      "type": "text",
      "id": "tc_label",
      "label": "T&C Label"
    },
    {
      "type": "url",
      "id": "tc_link",
      "label": "T&C Link"
    }
  ],
  "blocks": [
    {
        "type": "text",
        "name": "how to enter step",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Add Step"
          }

        ]
      }
  ],
  "presets": [
    {
      "name": "How To Enter"
    }
  ]
}
{% endschema %}