<div id="{{ section.settings.sectionId }}"></div>
<section class="section section-relative " id="page-block-fmqirdpcmr9" data-at="section" x-data>
  <div class="section-holder-border item-block item-absolute" data-at="section-border"></div>
  <div class="section-holder-overlay item-block item-absolute" data-at="section-overlay"></div>
  <div class="section-block">
    <div class="section-inner section-fit section-relative">
      <div class="widget item-absolute hidden-mobile" id="element-987">
        <div class="contents shape  line-horizontal line " data-at="shape"></div>
      </div>
      <div class="widget item-absolute paragraph  " id="element-1039" data-at="paragraph">
        <div class="contents">
          <p class="x_0449dcdf x_67c6b47b">{{ section.settings.heading }}</p>
        </div>
      </div>
      <div class="widget item-absolute  " id="element-1150">
        <div class="contents cropped item-block" data-at="image-cropp">
          <a
            class="popup-link item-content-box item-block"
            id="link-rpds3p5jgc9"
            data-at="image-link"
            data-link-rpds3p5jgc9=""
            data-popup-link-rpds3p5jgc9=""
            tabindex="0"
            role="button"
          >
          </a>
        </div>
      </div>
      <div class="widget item-absolute " id="element-980">
        <div
          class="contents shape box figure"
          data-at="shape"
          data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/64606801-0-cc-starter-kit-copy.webp"
          style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0360/1347/3931/files/64606801-0-cc-starter-kit-copy.webp&quot;);"
        ></div>
      </div>
      <div class="widget item-absolute " id="element-1243">
        <div class="contents shape  box figure " data-at="shape"></div>
      </div>
      <div class="widget item-absolute headline  " id="element-981" data-at="headline">
        <div class="contents">
          <h1>
            <span class="x_35a38d41 x_620deb77">Starter&nbsp;Kit</span>
          </h1>
        </div>
      </div>
      <div class="widget item-absolute headline  " id="element-994" data-at="headline">
        <div class="contents">
          <h1>
            <span class="x_03da7496 x_0fa34b5f">The Kit Includes:</span>
          </h1>
        </div>
      </div>
      <div class="widget item-absolute paragraph  " id="element-984" data-at="paragraph">
        <div class="contents">
          <p class="x_8c071feb x_db4a4d62">1 free Glass Bottle for Life (worth £15)</p>
        </div>
      </div>
      <div class="widget item-absolute  " id="element-983">
        <div class="contents cropped item-block" data-at="image-cropp">
          <img
            class="item-content-box item-block image"
            data-at="image"
            alt=""
            src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            data-retina-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094 2x"
          >
        </div>
      </div>
      <div class="widget item-absolute  " id="element-1149">
        <div class="contents cropped item-block" data-at="image-cropp">
          <a
            class="popup-link item-content-box item-block"
            id="link-p5usho98del"
            data-at="image-link"
            data-link-p5usho98del=""
            data-popup-link-p5usho98del=""
            tabindex="0"
            role="button"
          >
          </a>
        </div>
      </div>
      <div class="widget item-absolute paragraph  " id="element-991" data-at="paragraph">
        <div class="contents">
          <p class="x_8c071feb x_4886f134">3&nbsp;Eco-Concentrate Refills (2-3 months cleaning)</p>
        </div>
      </div>
      <div class="widget item-absolute  " id="element-990">
        <div class="contents cropped item-block" data-at="image-cropp">
          <img
            class="item-content-box item-block image"
            data-at="image"
            alt=""
            src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            data-retina-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094 2x"
          >
        </div>
      </div>
      <div class="widget item-absolute paragraph  " id="element-993" data-at="paragraph">
        <div class="contents">
          <p class="x_8c071feb x_4886f134">1 Purdy &amp; Figg cleaning cloth</p>
        </div>
      </div>
      <div class="widget item-absolute  " id="element-992">
        <div class="contents cropped item-block" data-at="image-cropp">
          <img
            class="item-content-box item-block image"
            data-at="image"
            alt=""
            src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            data-retina-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094 2x"
          >
        </div>
      </div>
      <div class="widget item-absolute paragraph  " id="element-995" data-at="paragraph">
        <div class="contents">
          <p class="x_8c071feb x_db4a4d62">Money back guarantee if you don't love it</p>
        </div>
      </div>
      <div class="widget item-absolute  " id="element-996">
        <div class="contents cropped item-block" data-at="image-cropp">
          <img
            class="item-content-box item-block image"
            data-at="image"
            alt=""
            src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            data-retina-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094 2x"
          >
        </div>
      </div>
      <div class="widget item-absolute " id="element-1241">
        <div class="contents shape  circle figure " data-at="shape"></div>
      </div>
      <div class="widget item-absolute paragraph  " id="element-1007" data-at="paragraph">
        <div class="contents">
          <p class="x_8c071feb x_db4a4d62">Change or cancel anytime</p>
        </div>
      </div>
      <div class="widget item-absolute  " id="element-1008">
        <div class="contents cropped item-block" data-at="image-cropp">
          <img
            class="item-content-box item-block image"
            data-at="image"
            alt=""
            src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            data-retina-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094"
            srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/49558240-0-checkmark.svg?v=1702556094 2x"
          >
        </div>
      </div>
      <div class="widget item-absolute headline  " id="element-1242" data-at="headline">
        <div class="contents">
          <h1>
            <span class="x_86b935ec x_983f73d3"><span class="x_65831597">GET ME FREE</span></span>
          </h1>
        </div>
      </div>
      <div class="widget item-absolute  " id="element-1148">
        <div class="contents cropped item-block" data-at="image-cropp">
          <a
            class="popup-link item-content-box item-block"
            id="link-b31m2r49gq"
            data-at="image-link"
            data-link-b31m2r49gq=""
            data-popup-link-b31m2r49gq=""
            tabindex="0"
            role="button"
          >
          </a>
        </div>
      </div>
      <div class="widget item-absolute headline  " id="element-998" data-at="headline">
        <div class="contents">
          <h1>
            <span class="x_31b7a7e9"><span class="x_8c90172a">{{ section.settings.price }}</span></span>
          </h1>
        </div>
      </div>
      <div class="widget item-absolute headline  " id="element-982" data-at="headline">
        <div class="contents">
          <h1>
            <span class="x_e830002a x_497c37f6">{{ section.settings.strike-price }}</span>
          </h1>
        </div>
      </div>
      <div class="widget item-absolute " id="element-999">
        <div class="contents shape  line-horizontal line " data-at="shape"></div>
      </div>
      <div class="widget item-absolute headline hidden-mobile " id="element-1000" data-at="headline">
        <div class="contents">
          <h1>
            <span class="x_9317fdfd x_8f2182eb"><span class="x_8c90172a">USE CODE: {{ section.settings.discount }}</span></span>
          </h1>
        </div>
      </div>
      <div class="widget item-absolute  " id="element-985">
        <div
          x-on:click="checkout()"
          id="link-3e6twxoqblh"
          class="url-link btn    item-block"
          data-at="button"
          data-link-3e6twxoqblh=""
          {% if section.settings.dataTrack %}
            data-add-to-cart="true" 
            data-page-url="{{ request.path }}"
            data-target-url="{{ section.settings.targetUrl }}"
            data-index="{{ section.settings.index }}"
            data-funnel-stage="{{ section.settings.funnel_stage }}"
            data-module="{{ section.settings.dataModule }}"
            data-event-label="{{ section.settings.dataTitle }}"
            data-event-value="{{ section.settings.eventValue }}"
            data-item-id="{{ section.settings.itemId }}"
            data-option-index="{{ section.settings.optionIndex }}"
            data-item-name="{{ section.settings.landingproduct.title }}"
            data-quantity="{{ section.settings.quantity }}"
            data-price="{{ section.settings.price }}"
          {% endif %}
        >
          TRY IT RISK FREE
        </div>
      </div>
      <div class="widget item-absolute  " id="element-1146">
        <div class="contents cropped item-block" data-at="image-cropp">
          <a
            class="popup-link item-content-box item-block"
            id="link-6v1v6f5flow"
            data-at="image-link"
            data-link-6v1v6f5flow=""
            data-popup-link-6v1v6f5flow=""
            tabindex="0"
            role="button"
          >
          </a>
        </div>
      </div>
      <div class="widget item-absolute " id="element-1232">
        <div class="contents shape  box figure " data-at="shape"></div>
      </div>
      <div class="widget item-absolute headline  " id="element-1233" data-at="headline">
        <div class="contents">
          <h1>
            <span class="x_dc68832a x_519e17eb">30-Day Satisfaction Guarantee</span>
          </h1>
        </div>
      </div>
      <div class="widget item-absolute headline  " id="element-1236" data-at="headline">
        <div class="contents">
          <h1>
            <span class="x_dc68832a x_519e17eb">19 orders at this price remaining</span>
          </h1>
        </div>
      </div>
      <div class="widget item-absolute hidden-mobile" id="element-1239">
        <div class="contents shape  line-vertical line " data-at="shape"></div>
      </div>
      <div class="widget item-absolute headline  " id="element-1235" data-at="headline">
        <div class="contents">
          <h1>
            <span class="x_7f118fdd x_070d0a2e">Ships in 1-2 days</span>
          </h1>
        </div>
      </div>
      <div class="widget item-absolute headline  " id="element-1234" data-at="headline">
        <div class="contents">
          <h1>
            <span class="x_dc68832a">Subscription Offer Valid&nbsp; for 7 Days</span>
          </h1>
        </div>
      </div>
      <div class="widget item-absolute " id="element-1237">
        <div class="contents shape  circle figure " data-at="shape"></div>
      </div>
      <div class="widget item-absolute headline hidden-mobile " id="element-1011" data-at="headline">
        <div class="contents">
          <h1>
            <span class="x_889d3a72 x_4795ee19"><span class="x_f2074b6c">I'M FREE</span></span>
          </h1>
        </div>
      </div>
      <div class="widget item-absolute  " id="element-1147">
        <div class="contents cropped item-block" data-at="image-cropp">
          <a
            class="popup-link item-content-box item-block"
            id="link-ktsneeri9yg"
            data-at="image-link"
            data-link-ktsneeri9yg=""
            data-popup-link-ktsneeri9yg=""
            tabindex="0"
            role="button"
          >
          </a>
        </div>
      </div>
      <div class="widget item-absolute  " id="element-1238">
        <div class="contents cropped item-block" data-at="image-cropp">
          <img
            class="item-content-box item-block image"
            data-at="image"
            alt=""
            src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/62555721-0-62569a5bd61cb0232a52.webp"
            data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/62555721-0-62569a5bd61cb0232a52.webp"
            data-retina-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/62555721-0-62569a5bd61cb0232a52.webp"
            srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/62555721-0-62569a5bd61cb0232a52.webp 2x"
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Instapage Buybox",
    "settings": [
      {
        "id": "landingproduct",
        "label": "Choose the landing product",
        "type": "product"
      },
      {
        "id": "sectionId",
        "label": "Section ID",
        "type": "text",
        "default": "buy-now"
      },
      {
        "id": "heading",
        "label": "Heading",
        "type": "text",
        "default": "New Customer Offer: SAVE £15 On A Starter Kit Plan"
      },
      {
        "id": "discount",
        "label": "Discount Code",
        "type": "text",
        "default": "FREESPA15"
      },
      {
        "id": "strike-price",
        "label": "Strikethrough Price",
        "type": "text",
        "default": "£30"
      },
      {
        "id": "price",
        "label": "Price",
        "type": "text",
        "default": "£15"
      },
      {
        "type": "header",
        "content": "GA4"
      },
      {
        "id": "dataTrack",
        "label": "Data Track",
        "type": "checkbox"
      },
      {
        "id": "targetUrl",
        "label": "Target Url",
        "type": "url"
      },
      {
        "id": "index",
        "label": "Index",
        "type": "number",
        "default": 0
      },
      {
        "id": "funnel_stage",
        "label": "Funnel Stage",
        "type": "text",
        "default": "landing_page"
      },
      {
        "id": "dataModule",
        "label": "Module",
        "type": "text",
        "default": "buy_box_1"
      },
      {
        "id": "dataTitle",
        "label": "Event Label",
        "type": "text",
        "default": "buy_now"
      },
      {
        "id": "eventValue",
        "label": "Event Value",
        "type": "text",
        "default": "add_to_cart"
      },
      {
        "id": "itemId",
        "label": "Item Id",
        "type": "text"
      },
      {
        "id": "optionIndex",
        "label": "Option Index",
        "type": "text"
      },
      {
        "id": "ItemName",
        "label": "Item Name",
        "type": "text"
      },
      {
        "id": "quantity",
        "label": "Item Quantity",
        "type": "number",
        "default": 1
      }
    ],
    "presets": [
      {
        "name": "Instapage Buybox"
      }
	]
  }
{% endschema %}