<section class="section section-relative " id="page-block-zw74e7kpmxb" data-at="section">
        <div class="section-holder-border item-block item-absolute" data-at="section-border"></div>
        <div class="section-holder-overlay item-block item-absolute" data-at="section-overlay"></div>
        <div class="section-block">
            <div class="section-inner section-fit section-relative">
                <div class="widget item-absolute headline  " id="element-1413" data-at="headline">
                    <div class="contents">
                        <h1>
                            <span class="x_d96addeb x_e0372c4e"><span class="x_a269ab78">{{ section.settings.heading }}</span></span>
                        </h1>
                    </div>
                </div>
                <div class="widget item-absolute " id="element-1427">
                    <div class="contents shape circle figure" data-at="shape" data-src="{{ section.blocks[2].settings.image | img_url: '800x' }}" style="background-image: url({{ section.blocks[2].settings.image | img_url: '800x' }});"></div>
                </div>
                <div class="widget item-absolute " id="element-1429">
                    <div class="contents shape circle figure" data-at="shape" data-src="{{ section.blocks[0].settings.image | img_url: '800x' }}" style="background-image: url({{ section.blocks[0].settings.image | img_url: '800x' }});"></div>
                </div>
                <div class="widget item-absolute " id="element-1428">
                    <div class="contents shape circle figure" data-at="shape" data-src="{{ section.blocks[1].settings.image | img_url: '800x'}}" style="background-image: url({{ section.blocks[1].settings.image | img_url: '800x' }});"></div>
                </div>
                <div class="widget item-absolute hidden-mobile" id="element-1414">
                    <div class="contents shape  box figure " data-at="shape"></div>
                </div>
                <div class="widget item-absolute " id="element-1418">
                    <div class="contents shape  box figure " data-at="shape"></div>
                </div>
                <div class="widget item-absolute " id="element-1419">
                    <div class="contents shape  box figure " data-at="shape"></div>
                </div>
                <div class="widget item-absolute " id="element-1420">
                    <div class="contents shape  box figure " data-at="shape"></div>
                </div>
                <div class="widget item-absolute  " id="element-1425">
                    <div class="contents cropped item-block" data-at="image-cropp">
                        <img class="item-content-box item-block image" data-at="image" alt="" src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265170-0-Asset-38mdpi.webp" data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265170-0-Asset-38mdpi.webp" data-retina-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265170-0-Asset-38mdpi.webp" srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265170-0-Asset-38mdpi.webp 2x">
                    </div>
                </div>
                <div class="widget item-absolute  " id="element-1421">
                    <div class="contents cropped item-block" data-at="image-cropp">
                        <img class="item-content-box item-block image" data-at="image" alt="" src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265170-0-Asset-38mdpi.webp" data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265170-0-Asset-38mdpi.webp" data-retina-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265170-0-Asset-38mdpi.webp" srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265170-0-Asset-38mdpi.webp 2x">
                    </div>
                </div>
                <div class="widget item-absolute  " id="element-1424">
                    <div class="contents cropped item-block" data-at="image-cropp">
                        <img class="item-content-box item-block image" data-at="image" alt="" src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265170-0-Asset-38mdpi.webp" data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265170-0-Asset-38mdpi.webp" data-retina-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265170-0-Asset-38mdpi.webp" srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265170-0-Asset-38mdpi.webp 2x">
                    </div>
                </div>
                <div class="widget item-absolute  " id="element-1423">
                    <div class="contents cropped item-block" data-at="image-cropp">
                        <img class="item-content-box item-block image" data-at="image" alt="" src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265285-0-Asset-38mdpi-copy.webp" data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265285-0-Asset-38mdpi-copy.webp" data-retina-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265285-0-Asset-38mdpi-copy.webp" srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265285-0-Asset-38mdpi-copy.webp 2x">
                    </div>
                </div>
                <div class="widget item-absolute paragraph  " id="element-1415" data-at="paragraph">
                    <div class="contents">
                        <p class="x_13322211 x_05b72d8a">{{ section.blocks[0].settings.review }}</p>
                        <p class="x_13322211 x_05b72d8a"><strong><br></strong></p>
                        <p class="x_13322211 x_05b72d8a"><strong>{{ section.blocks[0].settings.name }}</strong></p>
                    </div>
                </div>
                <div class="widget item-absolute paragraph  " id="element-1417" data-at="paragraph">
                    <div class="contents">
                        <p class="x_13322211 x_05b72d8a">{{ section.blocks[2].settings.review }}</p>
                        <br>
                        <p class="x_13322211 x_05b72d8a"><strong>{{ section.blocks[2].settings.name }}</strong>&nbsp;</p>
                    </div>
                </div>
                <div class="widget item-absolute paragraph  " id="element-1416" data-at="paragraph">
                    <div class="contents">
                        <p class="x_13322211 x_05b72d8a">{{ section.blocks[1].settings.review }}</p>
                        <br>
                        <p class="x_13322211 x_05b72d8a"><strong>{{ section.blocks[1].settings.name }}</strong></p>
                    </div>
                </div>
                <div class="widget item-absolute  " id="element-1426">
                    <div class="contents cropped item-block" data-at="image-cropp">
                        <img class="item-content-box item-block image" data-at="image" alt="" src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265285-0-Asset-38mdpi-copy.webp" data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265285-0-Asset-38mdpi-copy.webp" data-retina-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265285-0-Asset-38mdpi-copy.webp" srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265285-0-Asset-38mdpi-copy.webp 2x">
                    </div>
                </div>
                <div class="widget item-absolute  " id="element-1422">
                    <div class="contents cropped item-block" data-at="image-cropp">
                        <img class="item-content-box item-block image" data-at="image" alt="" src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265285-0-Asset-38mdpi-copy.webp" data-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265285-0-Asset-38mdpi-copy.webp" data-retina-src="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265285-0-Asset-38mdpi-copy.webp" srcset="https://cdn.shopify.com/s/files/1/0360/1347/3931/files/60265285-0-Asset-38mdpi-copy.webp 2x">
                    </div>
                </div>
            </div>
        </div>
    </section>

{% schema %}
  {
    "name": "Instapage Reviews",
    "settings": [
      {
        "id": "heading",
        "label": "Heading",
        "type": "text"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "text",
        "name": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "review",
            "label": "Review"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Instapage Reviews"
      }
	]
  }
{% endschema %}