{% if section.settings.enable %}
  <div
    class="review-section py-5 {{ section.settings.className }}"
    style="background-color:{{ section.settings.bgColor }}"
  >
    <div class="container">
      {% if section.settings.heading != '' %}
        <h2 class="heading-2 text-center theme-text mt-0 mb-3 value-pro">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.reviewenable %}
        <div class="text-center">
          <div class="font-pier theme-text mt-0 mb-3 stars-img-review">
            <span class="total-reviews value-sans">{{ section.settings['Review-Count'] }}</span>
          </div>
        </div>
      {%- endif %}
    </div>
    <div class="container">
      <div class="lander-reviews-slider">
        {% for block in section.blocks %}
          <div class="review p-2 ">
            <div class="d-flex flex-wrap p-2 align-items-center height-100">
              {% if block.settings.image %}
                <div class="review-user-img">
                  {% assign userimage = block.settings.image | img_url: '400x' %}
                  <img
                    width="130px"
                    height="130px"
                    loading="lazy"
                    src="{{userimage}}"
                    width=""
                    height=""
                    class="img-responsive w-100"
                    alt=""
                  >
                </div>
              {% endif %}
              <div class="review-detail theme-text font-pier position-relative height-100">
                {% if block.settings.starafter %}
                {% else %}
                  <div class="stars mt-2">
                    <span class="star-img">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                        <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                      </svg>
                    </span>
                    <span class="star-img">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                        <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                      </svg>
                    </span>
                    <span class="star-img">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                        <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                      </svg>
                    </span>
                    <span class="star-img">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                        <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                      </svg>
                    </span>
                    <span class="star-img">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                        <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                      </svg>
                    </span>
                  </div>
                {% endif %}
                {% if block.settings.heading != '' -%}
                  <h3 class="heading-3 m-0 mb-2">{{ block.settings.heading }}</h3>
                {%- endif %}
                {% if block.settings.review != '' -%}
                  <p class="normal-text">{{ block.settings.review }}</p>
                {%- endif %}
                <h3 class="heading-4 m-0 review-bottom-section">
                  {{ block.settings.username }}
                  {% if block.settings.starafter -%}
                    |
                    <div class="stars mt-2 d-inline-block lander-review-stars">
                      <span class="star-img">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                          <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                        </svg>
                      </span>
                      <span class="star-img">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                          <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                        </svg>
                      </span>
                      <span class="star-img">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                          <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                        </svg>
                      </span>
                      <span class="star-img">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                          <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                        </svg>
                      </span>
                      <span class="star-img">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                          <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                        </svg>
                      </span>
                    </div>
                  {% endif %}
                </h3>
                {% if block.settings.link %}
                  <a href="{{block.settings.link}}" class="theme-text read-more-link">{{ block.settings.btntext }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if section.settings.btnLabel != '' %}
        <div class="mt-4 px-4 text-center">
          <a
            class="btn text-over-btn mt-3 checkout-au-btn"
            style="
              background:{{ section.settings.btnColor }}; border-color:{{ section.settings.btnColor }};
              color:{{ section.settings.btnTextColor }};
            "
            href="javascript:void(0);"
          >
            {{- section.settings.btnLabel -}}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Lander Reviews",
    "settings": [
	{
      "type": "checkbox",
      "id": "enable",
      "label": "Uncheck to hide the section",
      "default": true
    },
       {
      "type": "checkbox",
      "id": "reviewenable",
      "label": "Enable Heading Review",
      "default": true
    },
    {
      "type": "text",
      "id": "className",
      "label": "Section Class"
    },
      {
      "type": "text",
      "id": "Review-Count",
      "label": "Review Count"
    },
      {
      "type": "color",
      "id": "bgColor",
      "label": "Background Color"
    },
{
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },{
      "type": "text",
      "id": "btnLabel",
      "label": "Button label"
    }
,
{
      "type": "text",
      "id": "btn",
      "label": "Button Link"
    },
{
      "type": "color",
      "id": "btnColor",
      "label": "Button Color"
    }
      ,
{
      "type": "color",
      "id": "btnTextColor",
      "label": "Button Text Color"
    }
	],
	"blocks": [
      {
        "type": "text",
        "name": "Review",
        "settings": [
          {
      "type": "checkbox",
      "id": "starafter",
      "label": "Stars after review",
      "default": false
    },
          {
            "type": "text",
            "id": "username",
            "label": "User Name"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
		{
            "type": "image_picker",
            "id": "image",
            "label": "User Image"
          },
{
      "type": "text",
      "id": "review",
      "label": "Review"
    },

{
      "type": "url",
      "id": "link",
      "label": "Add link"
    },
{
      "type": "text",
      "id": "btntext",
      "label": "Button Label"
    }
        ]
      }
	],
	"presets": [
		{
			"name": "Lander Review Slider"
		}
	]
  }
{% endschema %}
