<div class="py-5 tabel-section-wrapper" style="background-color:#E3F3FF;">
        <div class="container">
            <h2 class="heading-2 theme-text mt-0 text-center ">
               <span class="font-normal-value"> We really are different </span>
            </h2>
            <p class="normal-text theme-text text-center d-none">No chemicals, no plastic waste. Just plant-based cleaning power with natural pure essential oils.</p>
            <div class="table-responsive my-5 ">
                <table class="table product-details-table w-100 theme-text normal-text ">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center"><img width="50px"  loading="lazy" class="table-logo" src="{{'new-logo.png' | asset_url}}" alt=""></th>
                            <th class="text-center">Method + Ecover</th>
                            <th class="text-right">Flash</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Naturally Scented</td>
                            <td class="text-center"><img width="32px" height="32px" loading="lazy" src="{{'check-box.png' | asset_url}}" alt=""></td>
                            <td class="text-center"><img width="32px" height="32px" loading="lazy" src="{{'close-button.png' | asset_url}}" alt=""></td>
                            <td class="text-right"><img width="32px" height="32px" loading="lazy" src="{{'close-button.png' | asset_url}}" alt=""></td>
                        </tr>
                        <tr>
                            <td>Plastic Free</td>
                            <td class="text-center"><img width="32px" height="32px" loading="lazy" src="{{'check-box.png' | asset_url}}" alt=""></td>
                            <td class="text-center"><img width="32px" height="32px" loading="lazy" src="{{'close-button.png' | asset_url}}" alt=""></td>
                            <td class="text-right"><img  width="32px" height="32px" loading="lazy" src="{{'close-button.png' | asset_url}}" alt=""></td>
                        </tr>
                        <tr>
                            <td>Streak-Free</td>
                            <td class="text-center"><img width="32px" height="32px" loading="lazy" src="{{'check-box.png' | asset_url}}" alt=""></td>
                            <td class="text-center"><img width="32px" height="32px" loading="lazy" src="{{'close-button.png' | asset_url}}" alt=""></td>
                            <td class="text-right"><img width="32px" height="32px" loading="lazy" src="{{'close-button.png' | asset_url}}" alt=""></td>
                        </tr>
                        <tr>
                            <td>Made in the UK</td>
                            <td class="text-center"><img width="32px" height="32px" loading="lazy" src="{{'check-box.png' | asset_url}}" alt=""></td>
                            <td class="text-center"><img width="32px" height="32px" loading="lazy" src="{{'close-button.png' | asset_url}}" alt=""></td>
                            <td class="text-right"><img width="32px" height="32px" loading="lazy" src="{{'close-button.png' | asset_url}}" alt=""></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% schema %}
  {
    "name": "Landing Table",
    "class": "landing-table",
    "settings": [],
"presets": [
		{
			"name": "Landing Table"
		}
	]
  }
{% endschema %}


