<style>
  .listicle-image-with-text {
    padding-top: 48px;
  }
  .main-listicle-container {
    width: 60%;
    margin: 0px auto;
    text-align: center;
  }
  .main-listicle-container .heading-2 {
    font-size: 48px !important;
    line-height: 60px !important;
    padding-top: 25px;
  }
  .main-listicle-container .normal-text {
    font-size: 18px;
    line-height: 27px;
    color: #212121;
    padding-top: 16px;
    font-weight: 200;
    font-family: 'Lausanne';
  }
  @media (max-width: 768px) {
    .listicle-image-with-text {
      padding-top: 32px;
      padding-left: unset;
      padding-right: unset;
    }
    .main-listicle-container {
      width: 100%;
      margin: 0px auto;
      text-align: center !important;
    }
    .main-listicle-container .heading-2 {
      font-size: 36px !important;
      line-height: 45px !important;
      padding-top: 25px;
      letter-spacing: 0 !important;
    }
    .main-listicle-container .normal-text {
      font-size: 16px;
      line-height: 24px;
      padding-top: 8px !important;
    }
  }
</style>

<div class="{{ section.settings.className }}">
  <div
    style="background-color:{{section.settings.background}};"
    class="listicle-image-with-text"
  >
    <div class="container main-listicle-container">
      <div class="two-women">
        {% if section.settings.image %}
          <img
            loading="lazy"
            src="{{ section.settings.image | img_url: '1600x' }}"
            width="800px"
            height="800px"
            class="img-responsive w-100 h-auto"
            alt="{{ section.settings.image.alt }}"
          >
        {% endif %}
      </div>
    </div>

    <div class="container main-listicle-container listicle-text-box">
      <div class="two-women">
        <h2 class="heading-2 value-bold blue-text {{section.settings.headingcolor}}">
          {{ section.settings.heading }}
        </h2>
        <div class="normal-text {{section.settings.textcolor}}">
          {{ section.settings.details }}
        </div>
      </div>
    </div>
    
  </div>
</div>

{% schema %}
  {
    "name": "Listicle banner common",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Select background color",
        "default": "#ffffff"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Add Desktop Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "color",
        "id": "headingcolor",
        "label": "Select heading color",
        "default": "#0A1E1A"
      },
      {
        "type": "html",
        "id": "details",
        "label": "Detail Text"
      },
      {
        "type": "color",
        "id": "textcolor",
        "label": "Select details text color",
        "default": "#212121"
      }
	],
	"presets": [
      {
          "name": "Listicle banner common"
      }
	]
  }
{% endschema %}
