{% assign global_product = product %}
{% assign product = section.settings.selectedProduct %}
<div
  data-section="{{ section.settings.selectedProduct.title | handle }}"
  class="product-section-wrapper {{ section.settings.class }}"
  data-urlpage="{{ global_product.url | handle }}"
  data-selectedpage="{{ product.url | handle }}"
>
  <div class="d-flex product-wrapper">
    <div class="product-gallery-wrapper">
      <div class="product-gallery">
        {% for image in product.images %}
          <div class="main-product-img">
            <picture>
              <source media="(min-width:650px)" srcset="{{ image | img_url: '800x'}}">
              <source media="(max-width:650px)" srcset="{{ image | img_url: '500x'}}">
              <img
                {% if forloop.index == 1 %}
                  skip-lazy
                {% else %}
                  loading="lazy"
                {% endif %}
                data-id="{{image.id}}"
                class="img-responsive w-100 lazy"
                src="{{ image | img_url: '800x'}}"
                width="800px"
                height="700px"
                alt="{{ image.alt }}"
              >
            </picture>
          </div>
        {% endfor %}
      </div>
    </div>
    {% assign s_variant = product.selected_or_first_available_variant %}
    {% capture s_variant_color_hex %}{{s_variant.title | handle | prepend: "color_variant_" }}{% endcapture %}
    {% assign s_variant_color = settings[s_variant_color_hex] %}
    <div
      class="product-detail-section"
      style="background-color:{%  if s_variant_color %} {{ s_variant_color }} {%  else  %}#E3F3FE; {%  endif %}"
      x-data="{qty:1}"
    >
      <div class="product-detail-wrapper sub-design-new">
        <h2 class="product-title theme-text">{{ product.type }}</h2>
        <h3 class="heading-2-5 m-0 theme-text ">{{ product.title }}</h3>
        {% assign review_product = section.settings.review_product %}
        {% render 'okendo-reviews-product-rating-summary', product: review_product %}
        <div class="normal-text theme-text my-3">{{ product.description | strip_html | truncate: 160 }}</div>
        <form
          @submit.prevent="console.log('submitted')"
          x-ref="product_form"
          enctype="multipart/form-data"
          accept-charset="UTF-8"
          id="product_form_{{product.id}}"
          class="shopify-product-form"
          data-product-id="{{product.id}}"
          action="/cart/add"
        >
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <div class="product-varient-selection">
            <label for="" class="normal-text theme-text new-var-scent-name mb-1 d-none"
              >Select Scent: <span class="var-scent-name"></span
            ></label>
            <ul class="list-unstyle new-varient-designs d-flex my-1 var-list-wrap ">
              {% assign sub_discount_price = s_variant.selling_plan_allocations[0].price_adjustments[0].price %}
              {% assign sub_discount_percentage = product.price
                | minus: sub_discount_price
                | times: 100
                | divided_by: product.price
              %}
              {% assign checked = true %}
              {% assign link = product | handel %}
              {% for block in section.blocks %}
                {% if block.type == 'productSelect' %}
                  {% assign current_handle = block.settings.productSelection | handel %}
                  <li
                    class="multi-product {% if block.settings.selected %}selected {% endif %} {% if link == current_handle %}selected {% endif %}"
                    data-target="product{{ forloop.index }}"
                    data-p="{{ current_handle }}"
                  >
                    <label data-product="{{ block.settings.productSelection.url | handel }}">
                      {{- block.settings.labelText -}}
                    </label>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

            {% if sub_discount_price %}
              <div class="select-subscribe sub-check-design mt-4 select-subscribe-design">
              {%  for variant in product.variants %}
              {% assign sub_discount_price = variant.selling_plan_allocations[0].price_adjustments[0].price %}
              {% assign sub_discount_percentage = product.price
                | minus: sub_discount_price
                | times: 100
                | divided_by: product.price
              %}
              {%  if forloop.first %}
                 {%  assign first_variant_discounted_price = sub_discount_price %}
              {%  endif %}
              
              {% assign checked = true %}
                <div class="sub-option">
                  <input
                    type="radio"
                    data-debug="{{sub_discount}}"
                    data-compareprice="{{ product.compare_at_price | money }}"
                    data-plan-id="{{variant.selling_plan_allocations.first.selling_plan.id}}"
                    data-name="{{variant.title}}"
                    data-include="{{variant.metafields.metadata.includes}}"
                    value="{{variant.id}}"
                    data-subprice="{{ sub_discount_price | money }}"
                    data-price="{{variant.price |  money}}"
                    x-on:click="Purdy.VariantUpdate($event, $refs.product_form)"
                    data-image="{{ variant.image.id}}"
                    data-variantid="{{s_variant.id}}"
                    data-productid="{{product.id}}"
                    name="id"
                    id="{{variant.id}}"
                    {% if forloop.first %}
                    checked
                    {%  endif %}
                  >
                
                  <label for="{{ variant.id }}"
                    ><span class="p_text_type">{{ variant.title }}</span
                    >
                    <span class="p_product_price">{{ sub_discount_price  | money }}</span>
                    <div class="sub-details-text">
                      {{
                        product.metafields.custom.subscription_info_meta
                        | default: 'Delivery Every 90 days. Cancel Anytime'
                      }}
                    </div>
                  </label>
                </div>
                {% endfor %}
              </div>
            {% endif %}
            {% if product.available %}
              <div class="product-buy-btn for-product-page mt-4" x-on:click="Purdy.AddToCart($refs.product_form, true, false, $event)">
                <button href="javascript:void(0);" class="btn product-btn btn-loader" type="submit">
                  {{ section.settings.btnlabel }} &nbsp; <del></del>
                  <span class="pf-product-price">
                    {%- if sub_discount_price %}
                      {{ sub_discount_price | money }}
                    {% else -%}
                      {{- product.price | money }}
                    {% endif -%}
                  </span>
                </button>
              </div>
            {% else %}
              <div class="product-buy-btn for-product-page mt-4">
                <button href="javascript:void(0);" class="btn product-btn disabled" type="submit">
                  Out of Stock &nbsp; <del></del>
                  <span class="pf-product-price">
                    {%- if sub_discount_price %}
                      {{ sub_discount_price | money }}
                    {% else -%}
                      {{- product.price | money }}
                    {% endif -%}
                  </span>
                </button>
              </div>
            {% endif %}
          </div>
          <input type="hidden" name="quantity" value="1">
          <div class="selling_plan_wrapper d-none">
            {% liquid
              if product.selected_selling_plan
                assign selected_selling_plan = product.selected_selling_plan
              else
                assign selected_selling_plan = s_variant.selling_plan_allocations.first.selling_plan
              endif
            %}

            <input type="hidden" name="selling_plan" value="{{selected_selling_plan.id}}">
          </div>
        </form>

        <div
          class="sticky-addtocart sticky-addtocart-2 p-2"
          style="background-color: {%  if s_variant_color %} {{ s_variant_color }} {%  else  %}#E3F3FE; {%  endif %}"
        >
          <div class="container">
            <div class="d-flex justify-content-around sticky-2-bar align-items-center">
              <div class="sticky2-product-details">
                <div class="p-title">
                  <h2 class="heading-3 theme-text d-inline-block m-0 font-value" style="vertical-align:bottom;">
                    {% if product.metafields.short_name.short %}
                      {{ product.metafields.short_name.short }}
                    {% else %}
                      {{ product.title }}
                    {% endif %}
                  </h2>
                  {% if sub_discount_price -%}
                    <p class="theme-text mobile-hide product-buy-type mb-0">Subscription</p>
                  {% else %}
                    <p class="theme-text mobile-hide product-buy-type mb-0">One Time</p>
                  {%- endif %}
                </div>
                <div class="p-price text-right px-2">
                  <p class="font-peir heading-3 theme-text m-0">
                    <span class="pe-2 del-price">{{ product.compare_at_price | money }}</span>
                    <span class="pf-product-price">
                      {%- if sub_discount_price %}
                        {{ sub_discount_price | money }}
                      {% else -%}
                        {{- product.price | money }}
                      {% endif -%}
                    </span>
                  </p>
                  <span class="variant-includes-text mobile-hide theme-text">
                    {{- product.selected_or_first_available_variant.metafields.metadata.includes }}
                  </span>
                </div>
              </div>
              <div class="sticky2-btn">
                {% if product.available %}
                  <div class="product-buy-btn">
                    <div x-on:click="Purdy.AddToCart($refs.product_form, true, false, $event)" type="submit">
                      <a href="javascript:void(0);" class="btn product-btn btn-loader">
                        {{- section.settings.btnlabel }}
                      </a>
                    </div>
                  </div>
                {% else %}
                  <div class="product-buy-btn">
                    <div type="submit">
                      <a href="javascript:void(0);" class="btn product-btn disabled">Out of Stock </a>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% assign productURL = product.handle %}
        <div class="mt-5 accordians">
          {% for block in section.blocks %}
            {% if block.type == 'productdes' %}
              <details class="theme-text" {{ block.settings.open }}>
                <summary>{{ block.settings.DescriptionHeading }}</summary>

                <div style="text-align:justify;">{{ block.settings.description }}</div>
              </details>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
    {% if product.metafields.okendo.summaryData.reviewCount > 0 %}
    ,"aggregateRating": {
      "@type": "AggregateRating",
      "description": "Okendo Reviews",
      "ratingValue": "{{ product.metafields.okendo.summaryData.reviewAverageValue }}",
      "ratingCount": "{{ product.metafields.okendo.summaryData.reviewCount }}"
    }
    {% elsif product.metafields.okendo.ReviewCount > 0 %}
    ,"aggregateRating": {
      "@type": "AggregateRating",
      "description": "Okendo Reviews",
      "ratingValue": "{{ product.metafields.okendo.ReviewAverageValue }}",
      "ratingCount": "{{ product.metafields.okendo.ReviewCount }}"
    }
    {% endif %}
  }
</script>

{% schema %}
  {
    "name": "Multi Product DS",
  "tag": "section",
  "class": "main-multi-product",
    "settings": [
      {
      "type": "text",
      "id": "class",
      "label": "Add Class"
    },
      {
      "type": "product",
      "id": "selectedProduct",
      "label": "Select Product"
    },
      {
      "type": "product",
      "id": "review_product",
      "label": "Select the product to pick review from"
    },
	{
            "type": "text",
            "id": "btnlabel",
            "label": "button Label",
  "default": "Add To Cart"
          }
	],
  "blocks": [
      {
        "type": "productdes",
        "name": "product description",
        "settings": [
           {
            "type": "product",
            "id": "productSelection",
            "label": "Select Product"
          },
          {
            "type": "select",
            "id": "open",
            "label": "Choose open or close",
            "options": [
{
                "value": "open",
                "label": "Open"
              },
              {
                "value": "close",
                "label": "Close"
              }
            ],
            "default": "close"
          },
          {
            "type": "text",
            "id": "DescriptionHeading",
            "label": "Description Heading"
          },
  {
            "type": "html",
            "id": "description",
            "label": "description"
          }

        ]
      },
    {
        "type": "productSelect",
        "name": "product Label",
        "settings": [
          {
            "type": "checkbox",
            "id": "selected",
            "label": "Selected varient"
          },
           {
            "type": "product",
            "id": "productSelection",
            "label": "Select Product"
          },

          {
            "type": "text",
            "id": "labelText",
            "label": "Label"
          }

        ]
      }
	],
	"presets": [
		{
			"name": "Multi - Product DS"
		}
	]
  }
{% endschema %}

<script>
  var current_multi_product = "{{global_product.handle}}";
</script>
