<style>
  {%- assign DimageURL = section.settings.desktopimage | img_url:"2000x" -%}
  {%- assign MimageURL = section.settings.mobileimage | img_url:"768x" -%}
  .main-banner{background-image:url({{DimageURL}})}
  .banner-btn{color:{{section.settings.textcolor}};background-color:{{section.settings.bgcolor}};}
  @media(max-width:768px){
  .main-banner{background-image:url({{MimageURL}})}
    .landing-page .banner-text-wrapper {top:10px;height:calc(100% - 15px);}
  }
</style>
<div class="main-banner">
      <div class="banner-text-wrapper">
          <div class="container">
            {% if section.settings.enablelink %}
              <div class="banner-text">
                  
                  <div class="text-wrapper">
              <img loading="lazy"
                            class="img-responsive logo desktop-hide m-auto mb-2 {% if section.settings.logoHide %} mobile-hide{% endif %}"
                            width="35px"
                            height="35px"
                            alt="{{ section.settings.logo.alt | default: shop.name | escape }}" src="{{'Logo.svg' | asset_url}}">
                      <h1 class="heading-2 font-value m-0 mb-3" style="color:{{ section.settings.titlecolor }}">{{section.settings.title}}</h1>
                      <div class="font-pier mb-3" style="color:{{ section.settings.subtextcolor }}">{{section.settings.subtext}}</div>
                  </div>
                <div class="banner-review font-pier"><span class="star-img">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54"><defs><style>.cls-w{fill:{{ section.settings.titlecolor }};}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-w" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g></svg></span>
                    <span class="star-img"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54"><defs><style>.cls-w{fill:{{ section.settings.titlecolor }};}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-w" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g></svg></span>
                    <span class="star-img"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54"><defs><style>.cls-w{fill:{{ section.settings.titlecolor }};}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-w" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g></svg></span>
                    <span class="star-img"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54"><defs><style>.cls-w{fill:{{ section.settings.titlecolor }};}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-w" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g></svg></span>
                    <span class="star-img"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54"><defs><style>.cls-w{fill:{{ section.settings.titlecolor }};}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-w" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g></svg></span> 
                    <span class="total-reviews" style="color:{{ section.settings.titlecolor }}" > Over ({{settings.gloabalreviews}}+ reviews)</span>
                    </div>
                      <br>
                {% if section.settings.link %}
                  <div class="banner-btn-wrapper text-center">
                    <span class="font-pier my-1 d-inline-block desktop-hide" style="color:{{ section.settings.subtextcolor }};">{{section.settings.btnSubText}}</span>
                    
                      <a href="#{{section.settings.link}}" class="btn banner-btn w-100"><span>{{section.settings.btnText}}</span></a>
                      <br>
                      <span class="font-pier my-1 d-inline-block mobile-hide" style="color:{{ section.settings.subtextcolor }};">{{section.settings.btnSubText}}</span>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
      </div>
  </div>

{% schema %}
{
  "name": "landing Page Banner",
  "settings": [
    {
      "id": "logoHide",
      "label": "Hide Mobile Banner Logo",
      "type": "checkbox",
      "default": false
	},
    {
      "id": "desktopimage",
      "label": "Desktop Image",
      "type": "image_picker"
    },
	{
      "id": "mobileimage",
      "label": "Mobile Image",
      "type": "image_picker"
    },
	{
      "id": "enablelink",
      "label": "Enable Banner Text",
      "type": "checkbox"
	},
	{
      "id": "title",
      "label": "Banner Title",
      "type": "text"
    },
    {
      "id": "titlecolor",
      "label": "Title text color",
      "type": "color",
      "default":"#ffffff"
	},
	{
      "id": "subtext",
      "label": "Banner Sub Text",
      "type": "html"
    },
    {
      "id": "subtextcolor",
      "label": "Sub Text color",
      "type": "color",
      "default":"#ffffff"
	},
{
      "id": "btnText",
      "label": "Button Label",
      "type": "text",
	  "default" : "SHOP NOW"
	},
	{
      "id": "link",
      "label": "Link",
      "type": "text"
	},
{
      "id": "textcolor",
      "label": "Button text color",
      "type": "color"
	},
{
      "id": "bgcolor",
      "label": "Button Background color",
      "type": "color"
	},
{
      "id": "btnSubText",
      "label": "Button Sub Text",
      "type": "text"
	}
  ],
  "presets": [
		{
			"name": "Landing Page Banner"
		}
	]
}
{% endschema %}


