
  <div
    class="quote-wrapper py-80{{ section.settings.className }}"
    style="background-color:{{ section.settings.bgColor }}"
  >
    <div class="container">
      {% if section.settings.heading != '' %}
        <h2 class="heading-2 text-center theme-text mt-0 mb-5  font-gtsuper">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.details != '' %}
        <div class="normal-text text-center theme-text mt-0 mb-4 font-lausanne fw-400  col-12 col-md-8 col-lg-6 m-auto ">
          {{ section.settings.details }}
        </div>
      {% endif %}
    </div>
    <div class="container">
      <div class="quotes-blocks">
        {% for block in section.blocks %}
          <div class="py-1 ">
            <div class="quote-block d-block ">
              <h3 class="quote-heading font-lausanne fw-400">{{ block.settings.heading }}</h3>
              <p class="quote-text font-lausanne fw-200">
                {{ block.settings.quotetext }}
              </p>
              <p class="font-lausanne fw-600 quote-by">{{ block.settings.quoteby }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
  {% if section.settings.followLink %}
      <div class="text-center mt-3">
        
          <span  data-target="{{ section.settings.followLink }}" class="btn click-scroll green-btn">
            {{- section.settings.followText -}}
          </span>
        
      </div>
    {% endif %}
    </div>
  </div>

{% schema %}
 {
   "name": "Quote Reviews",
   "settings": [
     {
     "type":"text",
     "id":"className",
     "label": "Section Class"
   },
     {
     "type": "color",
     "id": "bgColor",
     "label": "Background Color"
   },
    
    {
     "type":"text",
     "id":"heading",
     "label": "Section Heading"
   },
     {
     "type":"richtext",
     "id":"details",
     "label": "Section detail text"
   },
      {
     "type":"text",
     "id":"followText",
     "label": "Button text"
   } ,{
     "type":"text",
     "id":"followLink",
     "label": "Scroll To"
   }
   ],
   "blocks":
     [{
     "type":"quote",
     "name":"Quote",
     "settings":[
         
         {
           "type": "text",
           "id": "heading",
           "label": "Heading"
         },
         {
           "type": "text",
           "id": "quotetext",
           "label": "Quote Text"
         },
         {
           "type": "text",
           "id": "quoteby",
           "label": "Quote By"
         }
     ]
   }],
"presets": [
	{
		"name": "Quote Reviews"
	}
]
 }
{% endschema %}
