{% if section.settings.enable %}
  <div
    class="review-section review-section2 py-5 {{ section.settings.className }}"
    style="background-color:{{ section.settings.bgColor }}"
    id="{{ section.settings.sectionID }}"
  >
    <div class="container">
      {% if section.settings.heading != '' %}
        <h2 class="heading-2 text-center theme-text text-blue mt-0 mb-3 px-3 value-pro">
          {{ section.settings.heading }}
        </h2>
      {% endif %}
      {% if section.settings.reviewenable %}
        <div class="text-center">
          <div class="font-pier theme-text mt-0 mb-3 stars-img-review">
            <span class="star-img">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
              </svg>
            </span>
            <span class="star-img">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
              </svg>
            </span>
            <span class="star-img">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
              </svg>
            </span>
            <span class="star-img">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
              </svg>
            </span>
            <span class="star-img">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
              </svg>
            </span>
            <span class="total-reviews">{{ section.settings['Review-Count'] }}</span>
          </div>
        </div>
      {%- endif %}
    </div>
    <div class="container">
      <div class=" reviews-slider-2 custom-dots">
        {% for block in section.blocks %}
          <div class="review flex-1 p-2 mx-3 position-relative vertical-middle" data-length="{{ block.id }}">
            <div class="position-absolute">
              <h3 class="heading-4 m-0 text-blue text-center mb-1 value-sans">{{ block.settings.username }}</h3>
              <p class="d-flex align-items-center mb-0 text-blue value-sans">
                <svg
                  class="me-2"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M8.81242 11.7916L6.85409 9.83331C6.74298 9.7222 6.60409 9.66665 6.43742 9.66665C6.27075 9.66665 6.12492 9.72915 5.99992 9.85415C5.87492 9.97915 5.81242 10.125 5.81242 10.2916C5.81242 10.4583 5.87492 10.6041 5.99992 10.7291L8.29159 13.0208C8.43047 13.1597 8.60409 13.2291 8.81242 13.2291C9.02075 13.2291 9.20131 13.1597 9.35409 13.0208L13.9999 8.35415C14.111 8.24303 14.1665 8.10415 14.1665 7.93748C14.1665 7.77081 14.104 7.62498 13.979 7.49998C13.854 7.37498 13.7082 7.31248 13.5415 7.31248C13.3749 7.31248 13.229 7.37498 13.104 7.49998L8.81242 11.7916ZM9.99992 17.9166C8.9027 17.9166 7.87159 17.7083 6.90659 17.2916C5.94103 16.875 5.10409 16.3125 4.39575 15.6041C3.68742 14.8958 3.12492 14.0589 2.70825 13.0933C2.29159 12.1283 2.08325 11.0972 2.08325 9.99998C2.08325 8.90276 2.29159 7.87137 2.70825 6.90581C3.12492 5.94081 3.68742 5.10415 4.39575 4.39581C5.10409 3.68748 5.94103 3.12498 6.90659 2.70831C7.87159 2.29165 8.9027 2.08331 9.99992 2.08331C11.0971 2.08331 12.1285 2.29165 13.094 2.70831C14.059 3.12498 14.8957 3.68748 15.604 4.39581C16.3124 5.10415 16.8749 5.94081 17.2915 6.90581C17.7082 7.87137 17.9165 8.90276 17.9165 9.99998C17.9165 11.0972 17.7082 12.1283 17.2915 13.0933C16.8749 14.0589 16.3124 14.8958 15.604 15.6041C14.8957 16.3125 14.059 16.875 13.094 17.2916C12.1285 17.7083 11.0971 17.9166 9.99992 17.9166Z" fill="#334FB4"/>
                </svg>
                Verified Buyer
              </p>
            </div>
            <div class="d-flex flex-wrap p-2 align-items-center">
              {% if block.settings.image %}
                <div class="review-user-img">
                  {% assign userimage = block.settings.image | img_url: '400x' %}
                  <img
                    width="130px"
                    height="130px"
                    loading="lazy"
                    src="{{userimage}}"
                    width=""
                    height=""
                    class="img-responsive w-100"
                    alt=""
                  >
                </div>
              {% endif %}
              <div class="review-detail pb-0 theme-text font-pier">
                <div class="stars mt-2">
                  <span class="star-img">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                      <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1 text-blue" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                    </svg>
                  </span>
                  <span class="star-img">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                      <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1 text-blue" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                    </svg>
                  </span>
                  <span class="star-img">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                      <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1 text-blue" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                    </svg>
                  </span>
                  <span class="star-img">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                      <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1 text-blue" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                    </svg>
                  </span>
                  <span class="star-img">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 509.9 488.54">
                      <defs><style>.cls-1{fill:#3D5065;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1 text-blue" d="M509.9,199c-6.46,16.14-21.36,24.42-33.37,35.23-27.73,25-56,49.36-84.17,73.87-2.35,2-2.78,3.81-2.1,6.79q15.89,69.25,31.52,138.58c2.72,12-.07,22.26-10.1,29.59s-20.66,7-31.22.67q-60.6-36.27-121.16-72.59c-3.1-1.86-5.3-2-8.46-.07-40.2,24.19-80.62,48-120.7,72.38C111.86,494.6,92.75,484.81,88.22,469a30,30,0,0,1-.17-15.23q15.61-68.55,31.32-137.09c1-4.18.37-6.76-3-9.72C81,276.22,45.92,245.29,10.7,214.48c-9.28-8.11-13-18-9.23-29.85,3.64-11.34,12-17.61,23.9-18.72q36.64-3.42,73.3-6.73c23.12-2.1,46.24-4.23,69.37-6.18,3.5-.29,4.63-2.29,5.8-5Q201.4,83.29,229,18.63C234,6.94,242.31-.07,255.18,0,267.83.07,276,7.06,280.89,18.54c18.16,42.68,36.54,85.27,54.51,128,2.11,5,5,6.28,9.9,6.71Q415.17,159.42,485,166c12.87,1.22,20.67,8.4,24.11,20.92.11.43.53.77.8,1.15Z"/></g></g>
                    </svg>
                  </span>
                </div>
                <h4 class="heading-4 m-0 mb-2 fw-bold text-blue">{{ block.settings.heading }}</h4>
                <p class=" text-blue value-sans">{{ block.settings.review }}</p>
                {% if block.settings.link %}
                  <a href="{{block.settings.link}}" class="theme-text read-more-link">{{ block.settings.btntext }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if section.settings.btnLabel != '' %}
        <div class="mt-4 px-4 text-center">
          <a
            class="btn text-over-btn mt-3 checkout-au-btn"
            style="
              background:{{ section.settings.btnColor }}; border-color:{{ section.settings.btnColor }};
              color:{{ section.settings.btnTextColor }};
            "
            href="javascript:void(0);"
          >
            {{- section.settings.btnLabel -}}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Reviews Slider 2",
    "class": "review-slider2",
    "settings": [
	{
      "type": "checkbox",
      "id": "enable",
      "label": "Uncheck to hide the section",
      "default": true
    },
       {
      "type": "checkbox",
      "id": "reviewenable",
      "label": "Enable Heading Review",
      "default": true
    },
    {
      "type": "text",
      "id": "className",
      "label": "Section Class"
    },
      {
      "type": "text",
      "id": "sectionID",
      "label": "Section ID"
    },
      {
      "type": "text",
      "id": "Review-Count",
      "label": "Review Count"
    },
      {
      "type": "color",
      "id": "bgColor",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
      {
      "type": "text",
      "id": "btnLabel",
      "label": "Button label"
    }
,
{
      "type": "text",
      "id": "btn",
      "label": "Button Link"
    },
{
      "type": "color",
      "id": "btnColor",
      "label": "Button Color"
    }
      ,
{
      "type": "color",
      "id": "btnTextColor",
      "label": "Button Text Color"
    }
	],
	"blocks": [
      {
        "type": "text",
        "name": "Review",
        "settings": [

		{
            "type": "image_picker",
            "id": "image",
            "label": "User Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
        {
          "type": "text",
          "id": "review",
          "label": "Review"
        },
        {
            "type": "text",
            "id": "username",
            "label": "User Name"
          },

{
      "type": "url",
      "id": "link",
      "label": "Add link"
    },
{
      "type": "text",
      "id": "btntext",
      "label": "Button Label"
    }
        ]
      }
	],
	"presets": [
		{
			"name": "Review Slider 2"
		}
	]
  }
{% endschema %}
