<div class="bf-scents" style="background-color: {{ section.settings.bg_color }}">
  <div class="bf-scents-inner mx-auto">
    <div class="text-center">
      <h2 class="section-heading blue-text value-bold mt-0">{{ section.settings.heading }}</h2>
      <p class="section-subheading value-sans">{{ section.settings.subheading }}</p>
    </div>
    <!-- Desktop -->
    <div class="mt-4 bf-scent-mobile-hide">
      <div class="scent-accordion-blocks">
        {% for block in section.blocks %}
          <div class="scent-accordion-block value-sans">
            <details class="scent-accordion" open>
              <summary class="scent-heading value-bold blue-text">{{ block.settings.scent_heading }}</summary>
              <div>
                <div class="accordion-image">
                  <img class="img-responsive w-100" src="{{ block.settings.scent_image | img_url: '400x' }}" width="320" height="343">
                </div>
                <p class="value-sans black-text accordion-text">{{ block.settings.scent_details }}</p>
              </div>
            </details>
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Mobile -->
    <div class="mt-4 bf-scent-desktop-hide">
      <div class="scent-accordion-blocks">
        {% for block in section.blocks %}
          <div class="scent-accordion-block value-sans">
            <details class="scent-accordion" {% if forloop.first %}open{% endif %}>
              <summary class="scent-heading value-bold blue-text">{{ block.settings.scent_heading }}</summary>
              <div>
                <div class="accordion-image">
                  <img class="img-responsive w-100" src="{{ block.settings.scent_image | img_url: '400x' }}" width="320" height="343">
                </div>
                <p class="value-sans black-text accordion-text">{{ block.settings.scent_details }}</p>
              </div>
            </details>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% style %}
  .bf-scents .bf-scents-inner {
    padding: 80px 112px;
    max-width: 1440px;
  }

  .bf-scents .section-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 16px;
  }

  .bf-scents .bf-scent-desktop-hide {
    display: none !important;
  }

  .bf-scents .section-subheading {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
  }
  
  .bf-scents .scent-accordion-blocks {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
  
  .bf-scents .scent-accordion-block {
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
    background: #fff;
    padding: 32px;
  }
  
  .bf-scents .scent-accordion-block summary {
    font-size: 20px;
    margin-bottom: 16px;
  }
  
  .bf-scents .scent-accordion-block .accordion-text {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 0;
  }

  .bf-scents .scent-accordion-block .scent-accordion .scent-heading {
    position: relative;
    list-style: none;
    pointer-events: none;
  }

  .bf-scents .scent-accordion-block .scent-accordion .scent-heading::-webkit-details-marker {
    display: none;
  }

  .bf-scents .scent-accordion-block .scent-accordion .scent-heading:after {
    display: none;
  }

  .bf-scents .scent-accordion-block .scent-heading:after {
    content: "";
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url("https://cdn.shopify.com/s/files/1/0360/1347/3931/files/arrow_expand_down.svg?v=1699552425");
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
  }

  .bf-scents .scent-accordion-block .scent-accordion[open] .scent-heading:after {
    background-image: url("https://cdn.shopify.com/s/files/1/0360/1347/3931/files/arrow_expand_up.svg?v=1699552434");
  }

  .bf-scents .blue-text {
    color: #3350B4 !important;
  }

  @media (max-width: 1120px) {
    .bf-scents .scent-accordion-blocks {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 32px;
    }
  }

  @media (max-width: 872px) {
    .bf-scents .bf-scents-inner {
      padding: 64px 16px !important;
    }
  }
  
  @media (max-width: 768px) {
    .bf-scents .bf-scents-inner {
      padding: 64px 16px !important;
    }
    
    .bf-scents .scent-accordion-block {
      padding: 16px;
    }
  }
  
  @media (max-width: 565px) {
    .bf-scents .scent-accordion-blocks {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 16px;
    }

    .bf-scents .bf-scent-mobile-hide {
      display: none !important;
    }

    .bf-scents .bf-scent-desktop-hide {
      display: block !important;
    }

    .bf-scents .scent-accordion-block {
      padding: 16px 0px;
      padding-top: 0;
      padding-bottom: 0;
      box-shadow: none;
      border-bottom: 1px solid #DFE0E1;
    }

    .bf-scents .accordion-text {
      padding-bottom: 16px;
    }

    .bf-scents .scent-accordion-block:first-child {
      padding-top: 16px;
      border-top: 1px solid #DFE0E1;
    }

    .bf-scents .scent-accordion-block .scent-accordion .scent-heading {
      cursor: pointer;
      pointer-events: auto;
    }
    
    .bf-scents .scent-accordion-block .scent-accordion .scent-heading:after {
      display: block;
    }
    
    .bf-scents .scent-accordion-block:last-child {
      border: 0;
    }
    
    .bf-scents .section-heading {
      font-size: 30px;
      margin-bottom: 16px;
      line-height: 38px;
    }

    .bf-scents .section-subheading {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 32px;
    }
      
    .bf-scents .section-heading, .bf-scents p {
      text-align: left;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Scent Blocks",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub Heading"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Scent Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "scent_image",
          "label": "Add Image"
        },
        {
          "type": "text",
          "id": "scent_heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "scent_details",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Scent Blocks"
    }
  ]
}
{% endschema %}
