<div
  class="video-block-wrapper py-80 {{ section.settings.class }}"
  style="background-color:{{ section.settings.bgColor }}"
>
  <div class="container">
    <div class="text-center m-text-left">
      <h2 class="heading-2  blue-text value-bold mt-0 ">{{ section.settings.heading }}</h2>
      <p class="gray-text normal-text value-sans text-center m-text-left mb-0">
        {{ section.settings.subtext }}
      </p>
    </div>
    <div class="social-videos-slider">
      {% for block in section.blocks %}
        <div class="social-video-wrapper">
          <div class="position-relative">
            <video
              loading="lazy"
              id="video_{{ block.id }}"
              poster="{{ block.settings.poster | img_url : '400x550' }}"
              muted
            >
              <source src="{{ block.settings.videoURL }}" type="video/mp4">
            </video>

            <div class="video-pp-icon">
              <img
                src="{{ 'play-button.png' | asset_img_url }}"
                data-target="video_{{ block.id }}"
                class="t-video-play"
                alt="video"
              >
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="mt-4">
      <span
        class="d-block text-center blue-starterkit-btn m-auto click-scroll"
        data-target="{{ section.settings.scrollto }}"
        {% if section.settings.dataTrack %}
          data-tracked="true"
          data-title="{{ section.settings.dataTitle }}"
          data-module="{{ section.settings.dataModule }}"
          data-page="{{ page.url }}"
        {% endif %}
        >GET YOUR OFFER</span
      >
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Social Video 2",
  "settings": [
    {
          "type": "text",
          "id": "scrollto",
          "label": "Scroll to section id",
          "default": "javascript:void(0);"
      },
    {
      "type": "color",
      "id": "bgColor",
      "label": "Background color"
    },
         {
      "type": "text",
      "id": "class",
      "label": "Section Class"
    },
{
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
     {
      "type": "text",
      "id": "subtext",
      "label": "Sub Heading"
    },
    {
"id": "dataTrack",
"label":"Data Track",
"type": "checkbox"
    },
      {
"id": "dataTitle",
"label":"Data Title",
"type": "text"
    }
    ,
    {
"id": "dataModule",
"label":"Data Module",
"type": "text"
    }
  ],
  "blocks": [
      {
        "type": "video",
        "name": "video block",
        "settings": [
          {
      "type": "image_picker",
      "id": "poster",
      "label": "Add Image"
    },

{
      "type": "url",
      "id": "videoURL",
      "label": "Video URL"
    }
        ]
      }
	],
  "presets": [
    {
      "name": "Social Video 2",
      "category": "Video"
    }
  ]
}
{% endschema %}
