<style>


.heading-2-italic {
  font-style="italic";
  font-weight: 500;
}

  
  .w-45 {
  width: 44%;
}

  .w-55 {
  width: 56%;
}
  
  .py-5 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

  .line-15 {
    line-height: 1.5 !important;
  }
  
  .shop-now-cta {
     background: #11322c !important;
     color: #ffffff !important;
     width: 343px;
     font-size: 16px !important;
     line-height: 16px !important;
     letter-spacing: 0.4px;
     font-family: "Lausanne";
     min-height: 48px;
     padding: 15px 16px !important;
     border: 0 !important;
     margin-top: 24px;
   }
   .block-background-wrapper {
     width: 460px;
     height: 100%;
     position: absolute;
     top: 0px;
     right: 0px;
     background: #D1E6B1;
   }
   .lawn-heading {
    font-size: 40px;
    font-family: "GT Super" !important;
    color: #0c231f !important;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0;
    text-align: left;
   }
  
   .lawn-heading span.subheading {
    display: block;
    font-size: 40px;
    font-family: "GT Super" !important;
    color: #0c231f !important;
    line-height: 1.25;
    letter-spacing: 0;
    font-weight: 300 !important;;
    font-style: italic !important;
    text-align: left;
    margin-bottom: 0!important;
   }
  
   .summer-lawn-details {
     margin-top: 16px;
     font-weight:200 !important;
     text-align: left !important;
   }

  img.free-summer-lawn {
    border-radius: 4px;
  }
     
   @media (max-width: 768px) {

  .w-45 {
  width: 100%;
}

  .w-55 {
  width: 100%;
}
     
  .py-5 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    }
 
  .shop-now-cta {
    width: 100% !important;
    margin-top: 1rem;
    }

 .lawn-heading {
    font-size: 32px !important;
    line-height: 1.25 !important;
    text-align: center !important;
    margin-bottom: 16px!important;
    }
     
  .lawn-heading .span.subheading {
    font-size: 32px !important;
    margin-bottom: 12px !important;
    text-align: center !important;
    }
     
    .two-women-details {
          margin-top: 1rem;
    }
     
    .block-background-wrapper {
        width: 100%;
        height: 362px;
      
    }
}
  
</style>
<div class="{{ section.settings.className }}">
  <div
    style="background-color:{{section.settings.background}};"
    class="py-5 position-relative"
  >
    <div class="block-background-wrapper"></div>
    <div class="container position-relative">
      <h2 class="lawn-heading {{section.settings.textcolor}} {% if section.settings.heading-position%} mobile-hide {% endif %} desktop-hide mt-0 text-center">
        <span class="lawn-heading subheading">{{ section.settings.heading }}</span>
        {{ section.settings.subheading }}
      </h2>
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="w-55 {% if section.settings.layout %} order-2 {%endif%}">
          <div class="two-women">
            {% if section.settings.image %}
              {% assign mImage = section.settings.image | img_url: '800x' %}
              {% assign mmImage = section.settings.mimage | img_url: '800x' %}
              <img
                loading="lazy"
                src="{{mImage}}"
                width="800px"
                height="800px"
                class="img-responsive w-100 h-auto mobile-hide free-summer-lawn"
                alt="{{ section.settings.image.alt }}"
              >
              <img
                loading="lazy"
                src="{{mmImage}}"
                width="800px"
                height="800px"
                class="img-responsive w-100 h-auto desktop-hide free-summer-lawn"
                alt="{{ section.settings.mimage.alt }}"
              >
            {% endif %}
          </div>
        </div>
        <div class="w-45  d-flex justify-content-start {% if section.settings.layout %} order-1 {%endif%} ">
          <div class="summer-lawn-details  pb-2 {{section.settings.width}}">
            <h2 class="heading-2 lawn-heading {{section.settings.textcolor}} {% if section.settings.heading-position%} {% else %}mobile-hide{% endif %}">
              <span class="heading-2 lawn-heading subheading">{{ section.settings.heading }}</span>
            {{ section.settings.subheading }}
            </h2>
            <div class="normal-text line-15 {{section.settings.textcolor}} details">
              {{ section.settings.details }}
            </div>
            {% if section.settings.shop_now_cta != '' %}
              <span
                class="shop-now-cta btn click-scroll"
                data-target="{{ section.settings.scrollto }}"
                data-top="{{ section.settings.top }}"
                {% if section.settings.dataTrack %}
                  data-tracked="true"
                  data-page-url="{{ request.path }}"
                  data-target-url="{{ section.settings.targetUrl }}"
                  data-index="{{ section.settings.index }}"
                  data-funnel-stage="{{ section.settings.funnel_stage }}"
                  data-module="{{ section.settings.dataModule }}"
                  data-event-label="{{ section.settings.dataTitle }}"
                  data-event-value="{{ section.settings.eventValue }}"
                  data-item-id="{{ section.settings.itemId }}"
                  data-option-index="{{ section.settings.optionIndex }}"
                  data-item-name="{{ section.settings.ItemName }}"
                {% endif %}
              >
                {{ section.settings.shop_now_cta }}
              </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
 {
   "name": "Summer Grass PF348",
   "settings": [
     {
       "type": "text",
       "id": "className",
       "label": "Add Section class Name"
     },
     {
       "type": "color",
       "id": "textcolor",
       "label": "Select text color",
       "default": "#3541BF"
     },
     {
       "type": "color",
       "id": "background",
       "label": "Select background color",
       "default": "#ffffff"
     },
     {
       "type": "select",
       "id": "width",
       "label": "Select text area width",
       "options": [
         {
           "value": "w-90",
           "label": "90%"
         },
         {
           "value": "w-80",
           "label": "80%"
         },
         {
           "value": "w-70",
           "label": "70%"
         },
         {
           "value": "w-60",
           "label": "60%"
         }
       ],
       "default": "w-80"
     },
     {
       "type": "checkbox",
       "id": "layout",
       "label": "Image on right"
     },
     {
       "type": "text",
       "id": "heading",
       "label": "Heading"
     },
     {
       "type": "html",
       "id": "subheading",
       "label": "Sub Heading"
     },
     {
       "type": "image_picker",
       "id": "image",
       "label": "Add Desktop Image"
     },
     {
       "type": "image_picker",
       "id": "mimage",
       "label": "Add Mobile Image"
     },
     {
       "type": "html",
       "id": "details",
       "label": "Detail Text"
     },
     {
       "type": "text",
       "id": "shop_now_cta",
       "label": "Button Label"
     },
     {
       "type": "text",
       "id": "scrollto",
       "label": "Scroll to section id",
       "default": "javascript: void(0);"
     },
     {
       "type": "text",
       "id": "top",
       "label": "On scroll top position",
       "default": "0"
     },
     {
       "type": "header",
       "content": "Mobile"
     },
     {
       "type": "checkbox",
       "id": "heading-position",
       "label": "Heading After Image"
     },
     {
       "type": "header",
       "content": "GA4"
     },
     {
       "id": "dataTrack",
       "label":"Data Track",
       "type": "checkbox"
     },
     {
       "id": "targetUrl",
       "label":"Target Url",
       "type": "url"
     },
     {
       "id": "index",
       "label":"Index",
       "type": "number",
       "default" : 0
     },
     {
       "id": "funnel_stage",
       "label":"Funnel Stage",
       "type": "text",
       "default" : "landing_page"
     },
     {
       "id": "dataModule",
       "label":"Module",
       "type": "text",
       "default" : "announcement_bar"
     },
     {
       "id": "dataTitle",
       "label":"Event Label",
       "type": "text",
       "default": "get_your_offer"
     },
     {
       "id": "eventValue",
       "label":"Event Value",
       "type": "text",
       "default" : "shop_anchor"
     },
     {
       "id": "itemId",
       "label":"Item Id",
       "type": "text"
     },
     {
       "id": "optionIndex",
       "label":"Option Index",
       "type": "text"
     },
     {
       "id": "ItemName",
       "label":"Item Name",
       "type": "text"
     }
    ],
    "presets": [
         {
             "name": "Summer Grass PF348"
         }
    ]
 }
{% endschema %}