<style>

.block-container {
margin-bottom: 32px;
}

.section_{{ section.id }}{
    background-color:{{ section.settings.background_color }};
    padding-bottom:32px !important;
}
@media(min-width:769px){
    .section_{{ section.id }}.py-80{
        padding-top:{{ section.settings.spacing }}px !important;
    }
}
@media(max-width:768px){
    .section_{{ section.id }}.py-80{
        padding-top:{{ section.settings.spacing-mobile }}px !important;
        padding-bottom:32px !important;
    }
}
</style>

<div class="section py-80 section_{{ section.id }}">
    <div class="container">
        <div class="mx-auto" style="max-width:{{ section.settings.content_width }}px; text-align:{{ section.settings.content_align }}">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'text' %}
                        <div class="block-container">
                            <p class="my-0 font-lausanne fw-600" style="font-size:16px; color:#212529;">
                                {{ block.settings.heading }}
                            </p>
                            <p class="mt-2 mb-0 font-lausanne fw-200" style="font-size:16px; color:#212529;">
                                {{ block.settings.content }}
                            </p>
                        </div>
                    {% when 'button' %}
                        {% if block.settings.button_label != blank %}
                            <div class="mt-4">
                                <a href="{% if block.settings.button_link != blank %}{{ block.settings.button_link }}{% else%}javascript:void(0);{% endif %}" class="btn btn-green green-btn">
                                    {{ block.settings.button_label }}
                                </a>
                            </div>
                        {% endif %}
                {% endcase %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Three Powerfull Products",
  "settings": [
    {
      "id": "spacing",
      "label":"Spacing from Top",
      "type": "text"
      },
      {
      "id": "spacing-mobile",
      "label":"Spacing mobile",
      "type": "text"
      },
      {
      "id": "background_color",
      "label":"Background Color",
      "type": "color"
      },
      {
      "id": "content_width",
      "label":"Content max width",
      "type": "number"
      },
      {
      "id": "content_align",
      "label":"Content Alignment",
      "type": "text"
      }
  ],
  "blocks": [
      {
        "type": "text",
        "name": "Content",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "content",
                "label": "Content"
            }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
            {
                "type": "text",
                "id": "button_label",
                "label": "Heading"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            }

        ]
      }  
	],
  "presets": [
    {
      "name": "Text Block 2"
    }
  ]
}
{% endschema %}
