{% if page.handle == 'about-us' and page.template_suffix == 'Our Story' and page.title == 'Our Story' %}
<style>
  .custom-video-block {
    padding-bottom: 4rem;
  }
  .video-inner-block {
    width: 100%;
    height: 700px;
  }
  .video-inner-block .thumb-img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    z-index: 1;
  }
  .video-inner-block iframe {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .video-block-text {
    top: 50%;
    z-index: 2;
  }
  @media (max-width: 1024px) {
    .video-inner-block {
      height: 400px;
    }
    .play-icon {
      width: 55px;
      height: 55px;
    }
    .custom-video-block {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
  @media (max-width: 768px) {
    .video-inner-block {
      height: 400px;
    }
    .play-icon {
      width: 55px;
      height: 55px;
    }
    .custom-video-block {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  @media (max-width: 430px) {
    .video-inner-block {
      height: 200px;
    }
    .play-icon {
      width: 45px;
      height: 45px;
    }
    .custom-video-block {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }
  }
</style>
{% endif %}

<div class="video-block-wrapper">
  <div class="{% if section.settings.full-width %} {% else %}container {%  endif %} custom-video-block">
    <div class="video-inner-block position-relative">
      {% assign image = section.settings.image | img_url: '2000x' %}
      <img
        src="{{ image }}"
        class="img-responsive w-100 thumb-img"
        id="image-video"
        width="2000px"
        height="700px"
        alt="video image"
      >
      <iframe
        controls="true"
        id="video"
        class="w-100"
        width="1500px"
        height="600px"
        autoplay="true"
        src="{{ section.settings.video-url }}"
        frameborder="0"
        allowtransparency="true"
        allowfullscreen
      ></iframe>
      <div id="video-text" class="video-block-text position-absolute text-white">
        <h2>{{ section.settings.heading }}</h2>
        <p>{{ section.settings['sub-heading'] }}</p>
        <img
          id="play-video"
          onclick="playvideo();"
          title="Play Video"
          src="{{ 'bb-play.png' | asset_url }}"
          class="play-icon"
          width="150px"
          height="150px"
          alt="video image"
        >
      </div>
    </div>
  </div>
</div>

<script>
  function playvideo() {
       var link = document.getElementById("video").src;
       link = link+"?autoplay=1";
       console.log(link);
       document.getElementById("image-video").style.display = "none";
       document.getElementById("video-text").style.display = "none";
       document.getElementById("video").src = link;

   }
</script>

{% schema %}
{
  "name": "Video Block",
  "settings": [
    {
      "type": "url",
      "id": "video-url",
      "label": "Video URL"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Thumbnail",
      "info": "2000 x 800px recommended"
    },
    {
      "type": "checkbox",
      "id": "full-width",
      "label": "Full width",
      "default": true,
      "info": "Affects desktop/tablet layouts only, mobile defaults to full width"
    },

    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Video"
    },
    {
      "type": "textarea",
      "id": "sub-heading",
      "label": "Subheading",
      "default": "Add a subheading here"
    },
    {
      "type": "text",
      "id": "button-text",
      "label": "Button text",
      "default": "button"
    },
    {
      "type": "url",
      "id": "button-url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "Video Block",
      "category": "Video"
    }
  ]
}
{% endschema %}
